/* ------------------------- */
/* Helpers */
/* ------------------------- */

.transition { transition: all 0.15s ease-out; }
.transition-2x { transition: all 0.20s ease-out; }
.transition-3x { transition: all 0.25s ease-out; }
.transition-4x { transition: all 0.30s ease-out; }

.hidden { display: none; }

.bg-highlight { background-color: rgba(255, 240, 0, 0.5); font-weight: bold; }

/* ------------------------- */
/* Navigation */
/* ------------------------- */

.nav li > a.text-hidden .nav-text { display: none;  }
.nav.float-right li .dropdown-menu { right: 0; left: auto; }
.nav .avatar { vertical-align: middle; width: 24px; height: 24px; display: inline-block; }

.site-nav li > a .nav-text { margin-left: 0.50rem; }

/* ------------------------- */
/* Search bar */
/* ------------------------- */


#search > input { width: 300px; }
#search .dropdown-menu { width: 600px; }

/* ------------------------- */
/* User generated content */
/* ------------------------- */

.user-content img { max-width: 100%; } 
.user-content blockquote p { padding: 0.75rem; }
.user-content blockquote p,
.user-content blockquote p.primary{ border: 1px solid #D9DDE7; border-left: 4px solid #007bff; background: #F3F7FF; }
.user-content blockquote p.secondary { border: 1px solid #eee; border-left: 4px solid #ccc; background: #f8f8f8; }
.user-content blockquote p.success { border: 1px solid #D9DDE7; border-left: 4px solid #08B735; background: #EFFFF3; }
.user-content blockquote p.info { border: 1px solid #E0E9E8; border-left: 4px solid #299E97; background: #F9FFFF; }
.user-content blockquote p.warning { border: 1px solid #E6DFD8; border-left: 4px solid #F6A800; background: #FFF8F1; }
.user-content blockquote p.danger { border: 1px solid #E8D8D8; border-left: 4px solid red; background: #FFF0F0; }

/* ------------------------- */
/* Grid system */
/* ------------------------- */

/* smaller bootstrap gutters */
.row.gutter-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.row.gutter-sm > .col,
.row.gutter-sm > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
}

/* ------------------------- */
/* Buttons */
/* ------------------------- */

/* button used with bootstrap collapse to rotate chevron on active state */
.btn-expand i { transition: transform .15s ease-in; }
.btn-expand.active i { transform: rotate(90deg); } 

/* ------------------------- */
/* Card */
/* ------------------------- */

.card-title { margin: 0.50rem 0; }

.card-body-flush .card-body { padding: 0; }
.card-body-sm-gutter .card-body { padding: 0.5rem; }

/* ------------------------- */
/* VCard */
/* ------------------------- */

.vcard { display: block; text-align: center; }

.vcard-display-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin: 1rem 0;
}

.vcard-details { list-style: none; margin: 1rem 0; padding: 0; }
.vcard-details li { margin: 0; padding: 0; padding-bottom: 0.50rem; }
.vcard-details li i { vertical-align: middle; }

/* ------------------------- */
/* Drop downs */
/* ------------------------- */

.dropdown-toggle-no-caret:after {
    display: none;
}

.dropdown-item:hover, 
.dropdown-item:focus {
    text-decoration: none;
}

/* Dropdown animation */

.dropdown-arrow + .dropdown-menu {
    margin-top: 9px !important;
}

.dropdown-menu:not(.dropdown-menu-right).show {
    animation: showDropdown 0.1s ease-out;
}

.nav.float-right li .dropdown-menu.show,
.dropdown-menu-right.show {
    animation: showDropdownRight 0.1s ease-out;
}

.btn-group.show>.dropdown-arrow, 
.dropdown.show > .dropdown-arrow {
    display: block;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    animation: showDropdown 0.1s ease-out;
}

.btn-group .dropdown-arrow,
.dropdown .dropdown-arrow {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    overflow: hidden;
    height: 1.25rem;
    width: 1.25rem;
    margin-top: -10px;
    margin-left: -10px;
    pointer-events: none;
    z-index: 1001;
}

.btn-group .dropdown-arrow-right,
.dropdown .dropdown-arrow-right { left: 85%; }

.btn-group .dropdown-arrow:before,
.dropdown .dropdown-arrow:before {
    content: "";
    position: absolute;
    bottom: -.375rem;
    left: 50%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: block;
    height: .75rem;
    width: .75rem;
    margin-left: -5px;
    background-color: hsla(0,0%,100%,.98);
    -webkit-box-shadow: 0 0 0 1px rgba(61,70,79,.05), 0 2px 7px 1px rgba(61,70,79,.16);
    box-shadow: 0 0 0 1px rgba(61,70,79,.05), 0 2px 7px 1px rgba(61,70,79,.16);
    pointer-events: none;
}

@keyframes showDropdown {
    0% {
        top: 100%;
        left: 0;
        right: 100%;
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    to {
        top: 100%;
        left: 0;
        right: 100%;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes showDropdownRight {
    0% {
        top: 100%;
        left: auto;
        right: 0;
        opacity: 0;
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    to {
        top: 100%;
        left: auto;
        right: 0;
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

/* ------------------------- */
/* avatar */
/* ------------------------- */

.avatar-link { display: inline-block; }

.avatar-group { display: inline-block; margin-left: 9px; }
.avatar-group .avatar { margin-left: -9px; }

.avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    border-radius: .15rem;
    background-color: #B4D0FF;
    border-radius: 2px;
}

.avatar > span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.avatar-sm {
    width: 28px;
    height: 28px;
}

.avatar-lg {
    width: 110px;
    height: 110px;
}

.avatar-round { border-radius: 50%; }

/* --------------------------- */
/* Avatar Upload */
/* --------------------------- */

.profile-avatar {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}
.profile-avatar .avatar-edit {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}
.profile-avatar .avatar-edit input {
    display: none;
}
.profile-avatar .avatar-edit input + label {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-bottom: 0;
    background: #007bff;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.profile-avatar .avatar-edit input + label i {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.profile-avatar .avatar-preview {
    width: 250px;
    height: 250px;
    position: relative;
}

.avatar-preview > .avatar {
    width: 250px;
    height: 250px;
}

.avatar-preview > .avatar > span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------------------- */
/* Nav */
/* ------------------------- */

.nav-v .collapse,
.nav-v .collapsing { width: 100%; }

.nav-link[data-toggle="collapse"]:after {
    width: 0;
    height: 0;
    margin: 0.5rem 0.25rem;
    vertical-align: 0.255em;
    content: "";
    float: right;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    clear: both;
}

.nav-link[data-toggle="collapse"][aria-expanded="false"]:after {
    transform: rotate(-90deg);
}

.nav-link[data-toggle="collapse"]:after {
    transition: transform .35s ease, opacity .35s ease;
    opacity: .5;
}

/* ------------------------- */
/* Admin Nav */
/* ------------------------- */

.main-container > .container-fluid:last-child { padding-bottom: 6rem; }

.nav-asides .navbar-nav { margin: 1rem 0; }
.nav-asides > .navbar .nav-link { padding: 0.5rem 1rem; border-radius: 0.20rem; }
.nav-asides > .navbar .nav-link i { margin-right: 0.50rem; }
.nav-asides hr { margin: 0.5rem 0 1rem 0; display: none; }
.nav-asides .navbar-toggler { height: 40px; }

@media (min-width: 992px) {
    
    .nav-asides {
        display: flex;
    }
    
    .nav-asides .navbar .navbar-nav {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
 
    .nav-asides > .navbar {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-asides > .navbar {
        width: 264px;
        padding: 0.5rem;
        height: 100vh;
        overflow-y: scroll;
        -ms-overflow-style: none;
    }

    .nav-asides > .navbar::-webkit-scrollbar { display: none; }
    .nav-asides > .navbar .navbar-brand {  padding: 1rem 1rem;  }
    
    .nav-asides > .navbar .navbar-collapse {
        align-items: flex-start;
        width: 100%;
        flex-shrink: 0;
    }
    
    .nav-asides .main-container {
        overflow: hidden;
        flex: 1;
        max-width: calc(100vw - 264px);
    }
    
    .nav-asides hr { width: 100%; display: block; }
   
} 

/* ------------------------- */
/* Forms */
/* ------------------------- */

.radio-icon { overflow: hidden; width: 62px; height: 62px; position: relative; }
.radio-icon input { display:none; }

.radio-icon i {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    font-size: 14pt;
    transform: translate(-50%, -50%);
}

.radio-icon input + span { color: #555; }
.radio-icon input:checked + span { color: #fff; }

.radio-icon input:checked + span:before {
    content: '-';
    text-indent: -5000px;
    background-color: #007bff;
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
}

/* ------------------------- */
/* Asides style model */
/* ------------------------- */

.modal>.modal-right {
    left: auto;
    right: 0;
}

.modal .modal-right {
    -webkit-transform: translate3d(100%,0,0) !important;
    transform: translate3d(100%,0,0) !important;
    transition: transform .4s cubic-bezier(.25,.8,.25,1) !important;
}

.modal > .modal-left,
.modal > .modal-right {
    position: fixed !important;
    z-index: 1055;
    bottom: 0;
    top: 0;
    margin: 0 !important;
    min-width: 25%;
}

.modal > .modal-2x {  min-width: 50%; }
.modal > .modal-3x {  min-width: 75%; }
.modal > .modal-4x {  min-width: 100%; }

.modal .modal-left,
.modal .modal-right {
    -webkit-transition: -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: -moz-transform .4s cubic-bezier(.25, .8, .25, 1);
    -o-transition: -o-transform .4s cubic-bezier(.25, .8, .25, 1);
}

.modal.show .modal-bottom,
.modal.show .modal-left,
.modal.show .modal-right, 
.modal.show .modal-top {
    -webkit-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
}

/* ------------------------- */
/* Lists */
/* ------------------------- */

.list-left { float: left; }
.list-left + .list-body { margin-left: 56px; }
.list-right { float: left; }
.list-right + .list-body { margin-right: 56px; }

/* ------------------------- */
/* Select Dropdown */
/* ------------------------- */

.select-dropdown { max-height: 200px; overflow: auto; }
.select-dropdown input + label {  cursor: pointer; }
.select-dropdown-preview i.check-icon { display: none; }

/* ------------------------- */
/* Plato Layout */
/* ------------------------- */


.layout-content .card,
.layout-sidebar .card { margin-bottom: 1.25rem; }


/* ------------------- */
/* Tagit */
/* ------------------- */

.tagit li.tagit-list-item { display: inline-block; border-radius: 0.15rem; margin-right: 0.50rem; }
.tagit-list-item-input { width: 100%; display: inline-block; }
.tagit-list-item-input input { width: 100%; outline: none; border: 0; background: transparent; }
.tagit li.bg-warning { background-color: #FFF389 !important; }

/* --------------------------- */
/* animations */
/* --------------------------- */


.anim { animation-delay: 0; animation-duration: 0.10s; }
.anim-2x { animation-duration: 0.15s; }
.anim-3x { animation-duration: 0.20s; }
.anim-4x { animation-duration: 0.25s; }
.anim-5x { animation-duration: 0.30s; }
.anim-6x { animation-duration: 0.35s; }
.anim-7x { animation-duration: 0.40s; }
.anim-8x { animation-duration: 0.45s; }
.anim-9x { animation-duration: 0.50s; }
.anim-10x { animation-duration: 0.55s; }

.anim-infinite { animation-iteration-count: infinite; }

.anim-delay-1x { animation-delay: 0.20s; }
.anim-delay-2x { animation-delay: 0.25s; }
.anim-delay-3x { animation-delay: 0.30s; }
.anim-delay-4x { animation-delay: 0.35s; }
.anim-delay-5x { animation-delay: 0.40s; }
.anim-delay-6x { animation-delay: 0.45s; }
.anim-delay-7x { animation-delay: 0.50s; }
.anim-delay-8x { animation-delay: 0.50s; }
.anim-delay-9x { animation-delay: 0.60s; }
.anim-delay-10x { animation-delay: 0.65s; }

/* scale in */

.anim-scale-in {
    animation-name: scale-in;
    animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
}

@keyframes scale-in {
    0% { opacity: 0; transform: scale(0.7); }
    100% { opacity: 1; transform: scale(1); }
}

/* scale out */

.anim-scale-out {
    animation-name: scale-out;
    animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
}

@keyframes scale-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(.7); }
}

/* bounce */

.anim-bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }
  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }
  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }
  90% {
    transform: translate3d(0,-4px,0);
  }
}

/* slide in */

.anim-slide-in-down {
  animation-name: slideInDown;
}

@keyframes slideInDown {
  from { transform: translate3d(0, -100%, 0); visibility: visible; opacity: 0;}
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-up {
  animation-name: slideInUp;
}

@keyframes slideInUp {
  from { transform: translate3d(0, 100%, 0); visibility: visible; opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-left {
  animation-name: slideInLeft;
  transform-origin: top left;
}

@keyframes slideInLeft {
  from { transform: translate3d(-100%, 0, 0); visibility: visible; opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-right {
  animation-name: slideInRight;
}

@keyframes slideInRight {
  from { transform: translate3d(100%, 0, 0); visibility: visible; opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

/* slide out */

.anim-slide-out-down {
  animation-name: slideOutDown;
}

@keyframes slideOutDown {
  from { transform: translate3d(0, 0, 0); visibility: visible; }
  to { transform: translate3d(0, 100%, 0);opacity: 0; }
}

.anim-slide-out-up {
  animation-name: slideOutUp;
}

@keyframes slideOutUp {
  from { transform: translate3d(0, 0, 0); visibility: visible; }
  to { transform: translate3d(0, -100%, 0);opacity: 0; }
}

.anim-slide-out-left {
  animation-name: slideOutLeft;
}

@keyframes slideOutLeft {
  from { transform: translate3d(0, 0, 0); visibility: visible; }
  to { transform: translate3d(-100%, 0, 0);opacity: 0; }
}

.anim-slide-out-right {
  animation-name: slideOutRight;
}

@keyframes slideOutRight {
  from { transform: translate3d(0, 0, 0);opacity: 0; visibility: visible; }
  to { transform: translate3d(100%, 0, 0);opacity: 0; visibility: hidden; }
}

/* slide in XS */

.anim-slide-in-down-xs {
  animation-name: slideInDownXs;
}

@keyframes slideInDownXs {
  from { transform: translate3d(0, -50px, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-up-xs {
  animation-name: slideInUpXs;
}

@keyframes slideInUpXs {
  from { transform: translate3d(0, 50px, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-left-xs {
  animation-name: slideInLeftXs;
  transform-origin: top left;
}

@keyframes slideInLeftXs {
  from { transform: translate3d(-50px, 0, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-right-xs {
  animation-name: slideInRightXs;
}

@keyframes slideInRightXs {
  from { transform: translate3d(50px, 0, 0); opacity: 0; }
  to { transform: translate3d(0, 0, 0); opacity: 1; }
}

/* slide out XS */

.anim-slide-out-down-xs {
  animation-name: transitionOutDown;
}

@keyframes transitionOutDownXs {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, 50px, 0); opacity: 0; }
}

.anim-slide-out-up-xs {
  animation-name: transitionOutUpXs;
}

@keyframes transitionOutUpXs {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(0, -50px, 0); opacity: 0; }
}

.anim-slide-out-left-xs {
  animation-name: transitionOutLeftXs;
}

@keyframes transitionOutLeftXs {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(-50px, 0, 0); opacity: 0; }
}

.anim-slide-out-right-xs {
  animation-name: transitionOutRightXs;
}

@keyframes transitionOutRightXs {
  from { transform: translate3d(0, 0, 0);opacity: 0; }
  to { transform: translate3d(50px, 0, 0); opacity: 0; }
}

/* shake */

.anim-shake {
  animation-name: shake;
}

@keyframes shake {
  from, to { transform: translate3d(0, 0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate3d(-10px, 0, 0); }
  20%, 40%, 60%, 80% { transform: translate3d(10px, 0, 0); }
}

/* fade */

.anim-fade-out {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.anim-fade-in {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* pulse out */

.anim-pulse-out {
  animation-name: pulseOut;
}

@keyframes pulseOut {
     0% { transform: scale(1.0); } 
     50% { transform: scale(1.2); } 
     100% { transform: scale(1.0); } 
}

/* pulse out large */

.anim-pulse-out-lg {
    animation-name: pulseOutLrg;
}

@keyframes pulseOutLrg {
    0% { transform: scale(1.0); } 
    50% { transform: scale(1.2); } 
    100% { transform: scale(1.0); } 
}

/* pulse in */

.anim-pulse-in {
    animation-name: pulseIn;
}

@keyframes pulseIn {
     0% { transform: scale(1.0); } 
     50% { transform: scale(0.8); } 
     100% { transform: scale(1.0); } 
}

/* pulse in */

.anim-pulse-in-lg {
    animation-name: pulseInLrg;
}

@keyframes pulseInLrg {
    0% { transform: scale(1.0); } 
    50% { transform: scale(0.6); } 
    100% { transform: scale(1.0); } 
}


/* spin in */

.anim-spin-in {
    animation-name: spinIn;
    transform-origin: center center;
}

@keyframes spinIn {
     0% { transform: rotate(0); } 
     100% { transform: rotate(360deg); } 
}

/* spin out */

.anim-spin-out {
    animation-name: spinOut;
    transform-origin: center center;
}

@keyframes spinOut {
     0% { transform: rotate(0); } 
     100% { transform: rotate(-360deg); } 
}

/* flip in */

.anim-flip-in-left {
    animation-name: flipY;
    transform-origin: left center;
}

.anim-flip-in-center {
    animation-name: flipY;
    transform-origin: center center;
}

.anim-flip-in-right {
    animation-name: flipY;
    transform-origin: right center;
}

@keyframes flipY {
    0% { overflow: hidden; transform: rotateY(90deg); }
    100% { overflow: auto; transform: rotateY(0deg); }
}

.anim-flip-in-top {
    animation-name: flipX;
    transform-origin: top center;
}

.anim-flip-in-center-x {
    animation-name: flipX;
    transform-origin: center center;
}

.anim-flip-in-bottom {
    animation-name: flipX;
    transform-origin: right bottom;
}

@keyframes flipX {
    0% { transform: rotateX(90deg); } 
    100% {  transform: rotateX(0); } 
}

.anim-perspective {
    transition: all .3s ease-out;
    transform-origin: 50vw 50vh; 
    -webkit-transform: perspective(1000px) translate3d(0,50vh,0) rotateX(30deg);
    transform: perspective(1000px) translate3d(0,50vh,0) rotateX(30deg);
    pointer-events: none;
    overflow: hidden;
}

/* ------------------------- */
/* toggle switch */
/* ------------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.switch input {display:none;}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(150,150,150,.4);
    transition: 250ms ease-in-out;
}


.switch-slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    right: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: transform .2s;
    transition: transform .2s;
}

.switch input:checked + .switch-slider:before {
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
}

.switch-round .switch-slider {
    border-radius: 34px;
}

.switch-round .switch-slider:before {
    border-radius: 50%;
}

.switch-disabled,
.switch-disabled .switch-slider{ opacity: 0.7; cursor:no-drop !important; }

/* ------------------------- */
/* tree view */
/* ------------------------- */

.tree > ul { margin: 0; padding: 0;  list-style: none; }
.tree li.list-group-item {  padding: 0 !important; border: 0; border-top: 1px solid rgba(0, 0, 0, 0.125); }
.tree li.list-group-item > ul { border-top-width: 1px; }

/* animate expand / collapse */
.tree li > div > a.toggler { color: inherit; width: 22px; padding: 0; margin-right: 0.25rem; transform: rotate(0); text-align: center; vertical-align: middle; transition: transform .15s ease-in; }
.tree li.show > div > a.toggler { transform: rotate(90deg); }

/* checkbox / radio button */
.tree input { display: none; }
.tree input + label > i.check-icon:after { vertical-align: middle; width: 20px; content: '\f00c'; opacity: 0; }
.tree input:checked + label > i.check-icon:after { opacity: 1; }

/* default labels */
.label { background-color: #E4ECF5; color: #007bff; }

/* ------------------------- */
/* badges */
/* ------------------------- */

.badges-list {
    display: inline-block;
    min-width: 150px; 
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.badges-list li {
    width: 33.333333%;
    float: left;
    margin: 0;
    padding: 0;
}

.badge { position: relative; text-align: center; }
.badge .badge-bg { font-size: 50pt;  text-shadow: 1px 1px 1px #888; }
.badge .badge-icon { font-size: 24pt; z-index: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-shadow: 1px 1px 1px #888; }

.badge.badge-sm .badge-bg { font-size: 30pt; }
.badge.badge-sm .badge-icon { font-size: 16pt; }

.badge-gold .badge-bg { color: #E9F000; }
.badge-gold .badge-icon { color: white; }

.badge-silver .badge-bg { color: #A8A6A3; }
.badge-silver .badge-icon { color: white; }

.badge-bronze .badge-bg {  color: #D0BA00; }
.badge-bronze .badge-icon { color: white; }

