/* ReSharper disable once UnknownCssVendorExtension */
/* ReSharper disable once UnknownCssVendorExtension */

canvas { -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }

.position-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
}

/* ------------------------- */
/* Container sizes */
/* ------------------------- */

/* above 1024px limit to 1024px */
@media (min-width: 1024px) {  
    .container-fluid-1024 {
        max-width: 1024px;
    }
}

/* above 1280px limit to 1280px */
@media (min-width: 1280px) {  
    .container-fluid-1280 {
        max-width: 1280px;
    }
}

/* above 1280px limit to 1600px */
@media (min-width: 1600px) {  
    .container-fluid-1600 {
        max-width: 1600px;
    }
}

/* ------------------------- */
/* Plato Brand Icon */
/* ------------------------- */

.plato-brand {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    padding: 6px;
    background: transparent;
    border-width: 6px;
    border-style: solid;
    border-top-color: #007BFF;
    border-left-color: #12BF67;
    border-right-color: #DEB032;
    border-bottom-color: #DE3254;
    transform: rotate(-45deg);
}

.plato-brand-sm { padding: 3px; border-width: 3px; }
.plato-brand-lg { padding: 8px; border-width: 8px; }
.plato-brand-xl { padding: 20px; border-width: 20px; }

/* ------------------------- */
/* Cursors */
/* ------------------------- */

.cursor-default { cursor: default !important; }
.cursor-pointer { cursor: pointer !important; }
.cursor-disabled { cursor: not-allowed !important; }

.font-size-100 { font-size: 100%; }
.font-size-120 { font-size: 120%; }
.font-size-140 { font-size: 140%; }
.font-size-160 { font-size: 160%; }

.text-decoration-none { text-decoration: none !important; }

/* ------------------------- */
/* Opacity */
/* ------------------------- */

.opacity-10 { opacity: .1; }
.opacity-20 { opacity: .2; }
.opacity-30 { opacity: .3; }
.opacity-40 { opacity: .4; }
.opacity-50 { opacity: .5; }
.opacity-60 { opacity: .6; }
.opacity-70 { opacity: .7; }
.opacity-80 { opacity: .8; }
.opacity-90 { opacity: .9; }

/* ------------------------- */
/* Max & Min */
/* ------------------------- */

.max-h-100 { max-height: 100px; }
.max-h-150 { max-height: 150px; }
.max-h-200 { max-height: 200px; }
.max-h-250 { max-height: 250px; }
.max-h-300 { max-height: 300px; }
.max-h-350 { max-height: 350px; }
.max-h-400 { max-height: 400px; }
.max-h-450 { max-height: 450px; }
.max-h-500 { max-height: 500px; }
.max-h-550 { max-height: 550px; }
.max-h-600 { max-height: 600px; }

.max-w-100 { max-width: 100px; }
.max-w-150 { max-width: 150px; }
.max-w-200 { max-width: 200px; }
.max-w-250 { max-width: 250px; }
.max-w-300 { max-width: 300px; }
.max-w-350 { max-width: 350px; }
.max-w-400 { max-width: 400px; }
.max-w-450 { max-width: 450px; }
.max-w-500 { max-width: 500px; }
.max-w-550 { max-width: 550px; }
.max-w-600 { max-width: 600px; }

.min-h-100 { min-height: 100px; }
.min-h-150 { min-height: 150px; }
.min-h-200 { min-height: 200px; }
.min-h-250 { min-height: 250px; }
.min-h-300 { min-height: 300px; }
.min-h-350 { min-height: 350px; }
.min-h-400 { min-height: 400px; }
.min-h-450 { min-height: 450px; }
.min-h-500 { min-height: 500px; }
.min-h-550 { min-height: 550px; }
.min-h-600 { min-height: 600px; }

.min-w-50 { min-width: 50px; }
.min-w-100 { min-width: 100px; }
.min-w-150 { min-width: 150px; }
.min-w-200 { min-width: 200px; }
.min-w-250 { min-width: 250px; }
.min-w-300 { min-width: 300px; }
.min-w-350 { min-width: 350px; }
.min-w-400 { min-width: 400px; }
.min-w-450 { min-width: 450px; }
.min-w-500 { min-width: 500px; }
.min-w-550 { min-width: 550px; }
.min-w-600 { min-width: 600px; }

.w-200 { width: 200px; }
.w-300 { width: 300px; }
.w-400 { width: 400px; }
.w-500 { width: 500px; }
.w-600 { width: 600px; }
.w-700 { width: 700px; }
.w-800 { width: 800px; }

/* ------------------------- */
/* Overflow */
/* ------------------------- */

.overflow-auto { overflow-y: auto; overflow-x: visible;  }
.overflow-hidden { overflow: hidden; }

.overflow-auto::-webkit-scrollbar,
.overflow-auto::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

.overflow-auto::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px inherit;
}

/* ------------------------- */
/* Disabled elements */
/* ------------------------- */

.disabled { cursor: not-allowed !important; }

/* ------------------------- */
/* Validation */
/* ------------------------- */

.validation-summary-valid {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.validation-summary-errors {
    border-style: solid;
    border-width: 1px;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.75rem;
    border-radius: 0.25rem;
    visibility: visible;
    height: auto;
    opacity: 1;
    overflow: visible;
    -ms-transition: all 0.10s ease;
    -o-transition: all 0.10s ease;
    -webkit-transition: all 0.10s ease;
    transition: all 0.10s ease;
}

.validation-summary-errors ul { display: block; padding: 0 0 0 1rem; margin: 0;  }
.validation-summary-errors ul li { padding: 0; margin: 0; }

/* ------------------------- */
/* Helpers */
/* ------------------------- */

.transition { transition: all 0.15s ease-out; }
.transition-2x { transition: all 0.20s ease-out; }
.transition-3x { transition: all 0.25s ease-out; }
.transition-4x { transition: all 0.30s ease-out; }

.hidden { display: none !important; }

/* ------------------------- */
/* Animate Bootstrap tooltips */
/* ------------------------- */

.tooltip.show .arrow,
.tooltip.show .tooltip-inner {
    animation: scale-in 200ms cubic-bezier(0.2, 0, 0.25, 1.75);
}

/* ------------------------- */
/* Badge */
/* ------------------------- */

.badge-sm { font-size: 60%; }
.badge-xs { font-size: 40%; }
.badge-lg { font-size: 100%; }
.badge-xl { font-size: 120%; }

/* ------------------------- */
/* Search bar */
/* ------------------------- */

/* input + button */
.search-input-group {
    position: relative;
    width: 100%;
    height: 38px;
}

.search-input-group > .form-control {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}

.search-input-group > .form-control,
.search-input-group > .btn {
    min-height: 38px;
    height: 38px;
}

.search-input-group > .btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    outline: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search-input-group > .btn:focus { box-shadow: none; }

/* ------------------------- */
/* User generated content */
/* ------------------------- */

.markdown-body>:first-child { margin-top: 0!important; }
.markdown-body>:last-child { margin-bottom: 0!important; }
.markdown-body img { max-width: 100%; } 

/* quotes */

.markdown-body blockquote {
    display: block;
    font-size: 100%;
    padding: 1rem;
    position: relative;
    border: 0;
    border-left-width: 0.25rem;
    border-left-style: solid;
}

.markdown-body blockquote h1:first-child, 
.markdown-body blockquote h2:first-child, 
.markdown-body blockquote h3:first-child, 
.markdown-body blockquote h4:first-child, 
.markdown-body blockquote h5:first-child, 
.markdown-body blockquote h6:first-child { margin-top: 0; }

.markdown-body blockquote p:last-child { margin-bottom: 0; }

.markdown-body blockquote footer {
    display: block;
    text-align: left;
    padding: 0 0 0.25rem 0;
    font-size: 0.875em;
}

/* lists */

.markdown-body ol,
.markdown-body ul,
.markdown-body dl
{
    margin-top: 1em;
    margin-bottom: 1em;
}

/* table */

.markdown-body table {
    display: block;
    width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.markdown-body table th, 
.markdown-body table td {
    padding: 12px;
    border-width: 1px;
    border-style: solid;
}

/* headings */

.markdown-body h1 { font-size: 2em; }
.markdown-body h2 { font-size: 1.5em; }
.markdown-body h3 { font-size: 1.25em; }
.markdown-body h4 { font-size: 1em; }
.markdown-body h5 { font-size: .875em; }
.markdown-body h6 { font-size: .85em; }

.markdown-body h1,
.markdown-body h2 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: .3em;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
}

/* code blocks */

.markdown-body pre {
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    word-wrap: normal;
    margin-bottom: 16px;
    margin-top: 0;
}

/* ------------------------- */
/* Grid system */
/* ------------------------- */

/* smaller bootstrap gutters */
.row.gutter-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.row.gutter-sm > .col,
.row.gutter-sm > [class*="col-"] {
    padding-right: 8px;
    padding-left: 8px;
}

/* ------------------------- */
/* Buttons */
/* ------------------------- */

/* button used with bootstrap collapse to rotate chevron on active state */
.btn-expand i { transition: transform .15s ease-in; }
.btn-expand.active i { transform: rotate(90deg); } 
.btn.disabled { opacity: 0.5;  }

.btn-xs, .btn-group-xs > .btn {
    padding: 0.125rem 0.25rem;
    font-size: 0.875rem;
    line-height: 0.75;
    border-radius: 0.1rem;
}

/* add check box to toggle style radio buttons */
.btn-group > label > input { display: none; }
.btn-group > label > input + i.check-icon:after { vertical-align: middle; width: 20px; content: '\f00c'; opacity: 0; }
.btn-group > label > input:checked + i.check-icon:after { opacity: 1; }



/* ------------------------- */
/* Card */
/* ------------------------- */

.card-header .card-title { margin: 0.50rem 0; }
.card-header .nav-link { padding: 0.25rem 1rem; }

.card-body-flush .card-body { padding: 0; }
.card-body-sm-gutter .card-body { padding: 0.5rem; }


/* ------------------------- */
/* VCard */
/* ------------------------- */

.vcard { display: block; text-align: center; }

.vcard-display-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    margin: 1rem 0;
}

.vcard-details { list-style: none; margin: 1rem 0; padding: 0; }
.vcard-details li { margin: 0; padding: 0; padding-bottom: 0.25rem; }
.vcard-details li i { vertical-align: middle; }

/* ------------------------- */
/* Dropdowns */
/* ------------------------- */

.dropdown-right .dropdown-menu {  
    right: 0;
    left: auto; 
}

/* arrow */
.dropdown-menu:after,
.dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
}

/* arrow border */
.dropdown-menu:before {
    border: 8px solid transparent;
}

/* arrow background */
.dropdown-menu:after {
    border: 7px solid transparent;
    border-bottom-color: #fff;
}

.dropdown-menu:before { left: 9px; right: auto; top: -16px; }
.dropdown-menu:after { left: 10px; right: auto; top: -14px; }

.dropdown-menu-right:before { left: auto; right: 9px; top: -16px; }
.dropdown-menu-right:after { left: auto; right: 10px; top: -14px; }

/* disable bootstrap caret */
.dropdown-toggle-no-caret:after {
    display: none;
}

.dropdown-item:hover, 
.dropdown-item:focus {
    text-decoration: none;
}

/* Dusable arrows on drop down menus */
.dropdown-menu-no-arrow:after,
.dropdown-menu-no-arrow:before {
    display: none;
}

.dropdown-menu-100 { width: 200px; }
.dropdown-menu-200 { width: 200px; }
.dropdown-menu-300 { width: 300px; }
.dropdown-menu-400 { width: 400px; }
.dropdown-menu-500 { width: 500px; }
.dropdown-menu-600 { width: 600px; }
.dropdown-menu-700 { width: 700px; }
.dropdown-menu-800 { width: 800px; }

.dropdown-menu-100 .dropdown-item,
.dropdown-menu-200 .dropdown-item,
.dropdown-menu-300 .dropdown-item,
.dropdown-menu-400 .dropdown-item,
.dropdown-menu-500 .dropdown-item,
.dropdown-menu-600 .dropdown-item,
.dropdown-menu-700 .dropdown-item,
.dropdown-menu-800 .dropdown-item {
    white-space: normal;
}

/* ------------------------- */
/* avatar */
/* ------------------------- */

.avatar-link { display: inline-block; }

.avatar-group { display: inline-block; }
.avatar-group .avatar { width: 24px; height: 24px; display: inline-block;}

.avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    border-radius: .15rem;
    border-radius: 50%;
}

.avatar > span {
    border-radius: 2px;
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

.avatar, 
.avatar > span {
    border-radius: 50%;
}

.avatar-xs { width: 24px; height: 24px; }
.avatar-sm { width: 28px; height: 28px; }
.avatar-md { width: 62px; height: 62px; }
.avatar-lg { width: 110px; height: 110px; }
.avatar-xl { width: 180px; height: 180px; }

.avatar-round { border-radius: 50%; }

/* --------------------------- */
/* Avatar Upload */
/* --------------------------- */

.profile-avatar {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}
.profile-avatar .avatar-edit {
    position: absolute;
    right: 0;
    z-index: 1;
    top: 0;
}
.profile-avatar .avatar-edit input {
    display: none;
}
.profile-avatar .avatar-edit input + label {
    display: inline-block;
    width: 42px;
    height: 42px;
    margin-bottom: 0;
    background: #007bff;
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
.profile-avatar .avatar-edit input + label i {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}
.profile-avatar .avatar-preview {
    width: 250px;
    height: 250px;
    position: relative;
}

.avatar-preview > .avatar {
    width: 250px;
    height: 250px;
}

.avatar-preview > .avatar > span {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------------------- */
/* Nav */
/* ------------------------- */

.nav .collapse,
.nav .collapsing { width: 100%; }

.nav-link[data-toggle="collapse"]:after {
    width: 0;
    height: 0;
    margin: 0.5rem 0.25rem;
    vertical-align: 0.255em;
    content: "";
    float: right;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    clear: both;
}

.nav-link[data-toggle="collapse"][aria-expanded="false"]:after {
    transform: rotate(-90deg);
}

.nav-link[data-toggle="collapse"]:after {
    transition: transform .35s ease, opacity .35s ease;
    opacity: .5;
}

/* ------------------------- */
/* Home Nav */
/* ------------------------- */

.nav-home {

}

.nav-home > .nav-item {
    text-align: center;
}

/* ------------------------- */
/* Site Nav */
/* ------------------------- */

.nav .dropdown.account > .dropdown-menu { width: 350px; }
.nav .navbar-brand img { width: 200px; }

.navbar-nav a .nav-text,
.nav a .nav-text { margin-left: 0.50rem; }
.nav a.text-hidden .nav-text { display: none;  }

.nav-site { border: 0; border-bottom-width: 1px; border-style: solid; }
.nav-site .navbar { border: 0 !important; }
.nav-site .collapsing { overflow: hidden; }

.nav-site > .navbar .navbar-nav a.nav-link { height: 44px; padding: 0.5rem 1rem !important }
.nav-site > .navbar { width: 100%; }

.nav-site > .navbar .dropdown .dropdown-menu { min-width: 200px; }
.nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-menu { position: static; }
.nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-menu:before,
.nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-menu:after { display: none; }

.nav-site > .navbar .navbar-mobile { display: flex; }
.nav-site > .navbar .navbar-mobile .nav-item-bars { display: block }
.nav-site > .navbar .navbar-mobile .nav-item-search { display: none; }
.nav-site > .navbar .navbar-search { width: 100%; }
.nav-site > .navbar .navbar-search .nav { display: block; }
 .nav-site > .navbar .navbar-user { display: none; }

.nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav {
    float: none;
    display: flex;
    width: 100%;
}

.nav-site .navbar-expand-lg .collapsing .nav,
.nav-site .navbar-expand-lg .collapse .nav  {
    padding: 1rem 0 0 0;
}

.nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav .nav .nav-item {
    display: block;
    width: 100%;
    flex-flow:column;
    flex-wrap: wrap;
}

.nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav a.text-hidden .nav-text {
    display: inline-block;
}

/* full screen */
@media (min-width: 992px) {    
    
    .nav-site > .navbar { padding-left: 0; padding-right: 0; }

    .nav-site > .navbar,
    .nav-site > .navbar .navbar-user { display: flex; flex-flow:nowrap; }
    .nav-site > .navbar .navbar-mobile { display: none; }

    .nav-site .navbar-expand-lg .collapsing .nav,
    .nav-site .navbar-expand-lg .collapse .nav { margin: 0; padding: 0; }

    .nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-menu { position: absolute; }
    .nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-menu:before,
    .nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav .dropdown-menu:after { display: block; }

    .nav-site > .navbar .navbar-search {
        display: block;
        width: 80%;
        margin: 0 2rem;
    }

    .nav-site > .navbar .navbar-search .nav-search {
        display: block;
        margin-top: 3px;
    }

    .nav-site > .navbar-expand-lg .navbar-collapse {
        width: auto;
    }
    
    .nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav {
        width: auto;
        margin-left: auto;
    }

    .nav-site .navbar-user .navbar-nav .nav,
    .nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav .nav {
        padding: 0;
        width: auto;
        flex-flow: nowrap;
        flex-wrap: nowrap;
    }
    
    .nav-site > .navbar-expand-lg .navbar-collapse .navbar-nav a.text-hidden .nav-text {
        display: none;
    }

}

/* ------------------------- */
/* Admin Nav */
/* ------------------------- */

.nav-asides .navbar-collapse .navbar-nav { margin: 1rem 0; }
.nav-asides > .navbar .nav-link { padding: 0.5rem 1rem; border-radius: 0.20rem; }
.nav-asides > .navbar .nav-link i { margin-right: 0.50rem; }
.nav-asides > .navbar hr { margin: 0.5rem 0 1rem 0; display: none; }
.nav-asides .navbar-lg { display: none; }
.nav-asides .navbar-lg .navbar-nav a.nav-link { height: 44px; padding: 0.5rem 1rem !important }

@media (min-width: 992px) {
    
    .nav-asides {
        display: flex;
    }
    
    .nav-asides .navbar .navbar-nav {
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .nav-asides .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }
 
    .nav-asides > .navbar {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-asides > .navbar {
        width: 264px;
        padding: 0.5rem;
        height: 100vh;
        overflow-y: scroll;
        -ms-overflow-style: none;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }

    .nav-asides .navbar-collapse  {
        margin-bottom: 3rem;
    }

    .nav-asides > .navbar::-webkit-scrollbar { background: transparent; }
    .nav-asides > .navbar::-webkit-scrollbar-thumb:vertical { margin: 0; }
    .nav-asides > .navbar::-webkit-scrollbar-button:start:decrement,
    .nav-asides > .navbar::-webkit-scrollbar-button:end:increment { height: 0; display: block; }

    .nav-asides > .navbar .navbar-brand {  padding: 1rem 1rem;  }
    
    .nav-asides > .navbar .navbar-collapse {
        align-items: flex-start;
        width: 100%;
        flex-shrink: 0;
    }
    
    .nav-asides .main-container {
        overflow: hidden;
        flex: 1;
        max-width: calc(100vw - 264px);
    }
    
    /* Accomodate for asides when positioning alerts */
    .nav-asides .main-container .layout-header .alert {
        margin-left: 132px;
    }

    .nav-asides > .navbar hr { width: 100%; display: block; }
    .nav-asides .navbar-lg { display: flex; }
} 

/* ------------------------- */
/* Forms */
/* ------------------------- */

.radio-icon { overflow: hidden; width: 62px; height: 62px; position: relative; }
.radio-icon input { display:none; }

.radio-icon i {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    font-size: 14pt;
    transform: translate(-50%, -50%);
}

.radio-icon input:checked + span:before {
    content: '-';
    text-indent: -5000px;
    position: absolute;
    width: 100px;
    height: 100px;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
}

/* ------------------------- */
/* Asides style modal */
/* ------------------------- */

.modal>.modal-right {
    left: auto;
    right: 0;
}

.modal .modal-right {
    -webkit-transform: translate3d(100%,0,0) !important;
    -ms-transform: translate3d(100%,0,0) !important;
    transform: translate3d(100%,0,0) !important;
    -o-transition: transform .4s cubic-bezier(.25,.8,.25,1) !important;
    -webkit-transition: transform .4s cubic-bezier(.25,.8,.25,1) !important;
    transition: transform .4s cubic-bezier(.25,.8,.25,1) !important;
}

.modal > .modal-left,
.modal > .modal-right {
    position: fixed !important;
    z-index: 1055;
    bottom: 0;
    top: 0;
    margin: 0 !important;
    min-width: 25%;
}

.modal > .modal-2x { min-width: 50%; }
.modal > .modal-3x { min-width: 75%; }
.modal > .modal-4x { min-width: 100%; }

.modal .modal-left,
.modal .modal-right {
    -webkit-transition: -webkit-transform .4s cubic-bezier(.25, .8, .25, 1);
    -moz-transition: -moz-transform .4s cubic-bezier(.25, .8, .25, 1);
    -o-transition: -o-transform .4s cubic-bezier(.25, .8, .25, 1);
}

.modal.show .modal-bottom,
.modal.show .modal-left,
.modal.show .modal-right, 
.modal.show .modal-top {
    -webkit-transform: translate3d(0,0,0) !important;
    -ms-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
}

/* ------------------------- */
/* Lists */
/* ------------------------- */

.list-left { float: left; width: 56px; }
.list-left + .list-body { display: block; margin-left: 56px; }
.list-right { float: left; }
.list-right + .list-body { margin-right: 56px; }

/* list sizes - multiples of base size */
.list-left-2x { width: 112px; }
.list-left-2x + .list-body { margin-left: 112px; }
.list-left-3x { width: 168px; }
.list-left-3x + .list-body { margin-left: 168px; }

/* list sizes - to match avatars */
.list-left-sm { width: 40px; }
.list-left-sm + .list-body { margin-left: 40px; }
.list-left-md { width: 72px; }
.list-left-md + .list-body { margin-left: 72px; }
.list-left-lg { width: 122px; }
.list-left-lg + .list-body { margin-left: 122px; }

/* general list sizes */
.list-left-24 { width: 24px; }
.list-left-24 + .list-body { margin-left: 24px; }
.list-left-28 { width: 28px; }
.list-left-28 + .list-body { margin-left: 28px; }
.list-left-32 { width: 32px; }
.list-left-32 + .list-body { margin-left: 32px; }
.list-left-36 { width: 36px; }
.list-left-36 + .list-body { margin-left: 36px; }
.list-left-40 { width: 40px; }
.list-left-40 + .list-body { margin-left: 40px; }
.list-left-80 { width: 80px; }
.list-left-80 + .list-body { margin-left: 80px; }


/* remove list-body margin if it's the next element after list-row' */
.list-row { float: left; width: 100%; }
.list-row + .list-body { margin-left: 0; }

/* details navigation within list-left */
.list-left .nav-item { margin: 12px 0; }
.list-left .nav-link { padding: 0; text-align: center; }

/* ------------------------- */
/* Select Dropdown */
/* ------------------------- */

.select-dropdown { max-height: 200px; overflow: auto; }
.select-dropdown input + label {  cursor: pointer; }
.select-dropdown-preview i.check-icon { display: none; }

/* ------------------------- */
/* Plato Layout */
/* ------------------------- */

.layout,
.layout-header,
.layout-header-sticky,
.layout-alerts,
.layout-tools,
.layout-header-item,
.layout-meta,
.layout-body,
.layout-content,
.layout-sidebar-sticky,
.layout-footer,
.layout-footer-item,
.layout-actions {}

.layout-tools  {
    white-space: nowrap;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
}

/* Sticky Header & Sidebar */

/* Ensure the header has paddings and margins applied. 
    This ensures we can correctly calculate the "fixed" header height
    via JavaScript upon the initial load before the header actually becomes "fixed" */

.layout-header  { padding-bottom: 1rem; }
.layout-header > .layout-header-content { 
    padding: 1rem 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

/* To be removed once all HR elements have been removed from layout-header-content */
.layout-header > .layout-header-content hr { display: none; }

/* Only apply fixed layout for screen sizes above 992px */
@media (min-width: 992px) {
    
    /* When the header becomes fixed, fix content */
    .layout-header.fixed > .layout-header-content {
        position: fixed;
        top: 0;
        z-index: 5;
        white-space: nowrap;
    }
    
    /* When the sidebar becomes fixed, fix content */
   .layout-sidebar.fixed > .layout-sidebar-content {
        position: fixed;
        display: flex;
        -webkit-box-orient: vertical!important;
        -webkit-box-direction: normal!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }

    /* Ensure collapse is visible by default for desktops */
    .layout-sidebar .collapse { display: block !important; }

}

/* Header Alerts */
.layout-header .alert {
    position: fixed;
    left: 50%;
    z-index: 999;
    margin-top: -6px;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 0);
}

.layout-header .alert-visible {
    visibility: visible;
    margin-top: 0;
    opacity: 1;
    transition: all 0.20s ease-out;
}

.layout-header .alert-hidden {
    visibility: hidden;
    margin-top: -12px;
    opacity: 0;
    transition: all 0.20s ease-in;
}

.layout-content .card,
.layout-sidebar .card { margin-bottom: 1.25rem; }

.layout-content .accordion,
.layout-sidebar .accordion  { margin-bottom: 1.25rem; }

.layout-content .accordion .card,
.layout-sidebar .accordion .card { margin-bottom: 0; }

/* ------------------------- */
/* Accordion */
/* ------------------------- */

.accordion .card-header {
    padding: 0; 
}
.accordion .card-header a {
    display: block;
    width: 100%;
    padding: 1.25rem 1.25rem;
    text-decoration: none;
}
.accordion .card-title { margin: 0; }

/* ------------------- */
/* Tagit */
/* ------------------- */

.tagit {
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.tagit li.tagit-list-item { display: inline-block; border-radius: 0.15rem; margin-right: 0.25rem; }
.tagit-list-item-input { width: 100%; display: inline-block; }

.tagit-list-item-input input,
.tagit-list-item-input .form-control,
.tagit-list-item-input .form-control:focus {
    width: 100%; 
    outline: none; 
    border: 0; 
    background: transparent;
    box-shadow: none;
    border-color:transparent
}

.tagit li.bg-warning, 
.tagit li.bg-warning .btn-primary { color: #000; background-color: #FFF389 !important; border-color: #D8CE78 !important;  }

.tagit .form-control { margin: 0; padding: 0; }

/* ------------------------- */
/* Toggle switch */
/* ------------------------- */

.switch {
    position: relative;
    display: inline-block;
    width: 62px;
    height: 32px;
    line-height: 28px;
    vertical-align: middle;
}

.switch input {display:none;}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    text-align:center;  
    background-color: rgba(150,150,150,.4);
    transition: 250ms ease-in-out;
}


.switch-slider:before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    right: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: transform .2s;
    -ms-transition: transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
}

.switch input:checked + .switch-slider:before {
    -ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
}

.switch-round .switch-slider {
    border-radius: 34px;
}

.switch-round .switch-slider:before {
    border-radius: 50%;
}

.switch-disabled,
.switch-disabled .switch-slider {
    -ms-opacity: 0.7;
    opacity: 0.7; cursor:no-drop !important;
}

/* ------------------------- */
/* tree view */
/* ------------------------- */

.tree > ul { margin: 0; padding: 0;  list-style: none; }
.tree li.list-group-item { padding: 0 !important; border: 0;  }

/* addresses dropdown overflow issues */
.tree li.list-group-item,
.tree li.list-group-item.active { z-index: initial !important; }

/* animate expand / collapse */
.tree li > div > div > a.toggler,
.tree li > div > a.toggler { color: inherit; width: 22px; padding: 0; margin-right: 0.25rem; transform: rotate(0); text-align: center; vertical-align: middle; transition: transform .15s ease-in; }

.tree li.show > div > div > a.toggler,
.tree li.show > div > a.toggler { transform: rotate(90deg); }

/* checkbox / radio button */
.tree input { display: none; }
.tree input + label > i.check-icon:after { vertical-align: middle; width: 20px; content: '\f00c'; opacity: 0; }
.tree input:checked + label > i.check-icon:after { opacity: 1; }

/* expand / collapse button */
.tree .list-group-item.active > a,
.tree .list-group-item.active > a:hover,
.tree .list-group-item.active label > a,
.tree .list-group-item.active label > a:hover {
    color: inherit;
}

.tree li.list-group-item:not(.active) > a,
.tree li.list-group-item:hover:not(.active) > a:hover,
.tree .list-group-item:not(.active) label > a,
.tree .list-group-item:not(.active) label > a:hover {
    color: inherit;
}

.tree li.list-group-item.active .text-muted {
    color: inherit !important;
}


.tree .tree-row { display: table; width: 100%; padding: 0.50rem 1rem; }
.tree .tree-left { width: 5%; display: table-cell; vertical-align: top; }
.tree .tree-body { width: 90%; display: table-cell; vertical-align: middle; }
.tree .tree-right { width: 5%; display: table-cell; vertical-align: top; }

/* ------------------------- */
/* Labels */
/* ------------------------- */

.label { border-radius: 0.25rem; }

/* ------------------------- */
/* Badges / medallions */
/* ------------------------- */

.medallion-list {
    display: inline-block;
    min-width: 150px; 
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.medallion-list li {
    width: 33.333333%;
    float: left;
    margin: 0;
    padding: 0;
}

.medallion { position: relative; text-align: center; }
.medallion .medallion-bg {

    font-size: 55pt; 
}
.medallion .medallion-icon { font-size: 28pt; z-index: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.medallion.medallion-sm .medallion-bg { font-size: 30pt; }
.medallion.medallion-sm .medallion-icon { font-size: 16pt; }

.medallion .badge { z-index: 2; position: absolute; right: 0;  }

/* -------------- */
/* Social Buttons */
/* -------------- */

/* Position facebook dialogs */
#fb-root { position:fixed; top:10%; }

.social-buttons { margin: 0; padding: 0; list-style: none; }
.social-buttons > li { display: inline-block; margin: 0; padding: 0; }
.social-buttons li a.btn { text-align: center; text-decoration: none; }
.social-buttons li a.btn i { min-width: 16px; }
.social-buttons a.btn-facebook { background: #4267B2; }
.social-buttons a.btn-twitter { background: #1DA1F2;  }
.social-buttons a.btn-facebook,
.social-buttons a.btn-twitter,
.social-buttons a.btn-facebook:hover,
.social-buttons a.btn-twitter:hover {
    color: white;
}

/* -------------- */
/* InfiniteScroll */
/* -------------- */

.infinite-scroll {
    /* Important to ensure infinite-scroll area height can be calculated correctly */
    display:  flex;
    flex-direction: column;
}

.infinite-scroll > .row,
.infinite-scroll > .list-group-item {
    margin-top: -1px;
}

.infinite-scroll-loader {
    padding: 0 !important;
    margin: 0;
    list-style: none;
    display: none;
}

.infinite-scroll-item {
    flex: 1 1 auto;
}

/* Highlight infinate scroll offset marker */
.infinite-scroll-item-active {
    background: #96deff;
    background: rgba(150,222,255,0.3);
    -ms-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
}

.infinite-scroll-item-inactive {
    background: rgba(150,222,255,0);
    -webkit-transition: background 5s ease-out;
    -moz-transition: background 5s ease-out;
    -o-transition: background 5s ease-out;
    transition: background 5s ease-out;
}

/* -------------- */
/* resizable */
/* -------------- */

.resizable {
    z-index: 10;
    position: fixed;
    width: 100%;
}

/* scollable area */
.resizable .resizable-container { position: relative; overflow: auto; }
.resizable-hidden .resizable-container { overflow: hidden; }

.resizable-top {  left: 0;  top: 0; height: 400px; }
.resizable-bottom { left: 0; top: auto; bottom: 0; height: calc(90vh); }
.resizable-left { display: table; left: 0;  top: 0; width: 400px;  }
.resizable-right { display: table; top: 0; right: 0; width: 400px;  }

.resizable-hidden.resizable-bottom { height: 0 !important; }

.resizable-top .resizable-bar,
.resizable-bottom .resizable-bar {
    height: 12px;
    cursor: n-resize;
}

.resizable-left .resizable-bar,
.resizable-right .resizable-bar {
    cursor: e-resize;
}

.resizable-top .resizable-bar {
    bottom: 0;
    z-index: 10001;
}

.resizable-bar {
    margin: 0;
    line-height: normal;
    -moz-user-select: none; 
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.resizable-bar i {
    position: absolute;
    left: 50%;
    top: 3px;
    transform: translate(-50%, -50%);
    margin: 0;
    transform-origin: center center;
    transition: all 0.15s ease-out;
}

.resizable-header {
    padding: 0.75rem 1.23rem;
}

.resizable-header .nav { float: right; margin: 0; padding: 0; }
.resizable-header .nav .nav-link { padding: 0 1rem; }

.resizable-close {
    display: inline-block;
}

.resizable-body {
    padding: 1.25rem;
}

/* ------------------------- */
/* Reply Left */
/* ------------------------- */

.reply-left + .reply-body { position: relative; }

/* avatar within reply-left */
.reply-left .avatar { margin-top: 16px; }
.reply-left a.avatar-link { margin-top: 16px; }
.reply-left a.avatar-link .avatar { margin-top: 0; }
.reply-left .avatar { width: 36px; height: 36px; }

/* reply body arrow */

.reply-left + .reply-body:before,
.reply-left + .reply-body:after {
    content: "";
    display: inline-block;
    position: absolute;
    pointer-events: none;
}

.reply-left + .reply-body:before { left: -18px; top: 24px; }
.reply-left + .reply-body:after { left: -16px; top: 25px; }

/* arrow border */
.reply-left + .reply-body:before {
    border: 10px solid transparent;
}

/* arrow background */
.reply-left + .reply-body:after {
    border: 9px solid transparent;

}

/* disable list-left smaller devices */
@media only screen and (max-width : 1124px) 
{   

    .list-left { display: none; }
    .list-left + .list-body { margin-left: 0; }

    .reply-left + .reply-body:before,
    .reply-left + .reply-body:after { display: none; }

}

/* --------------------------- */
/* Counter */
/* --------------------------- */

.counter {
    display: inline-block;
    width: 48px;
    font-size: 11px;
    text-align: center;
    padding: 6px 0;
    margin: 0 3px 0 0;
    border: 1px solid transparent;
}

.counter h6 {
    font-size: 17px;
    padding: 0;
    margin: 0;
    display: block;
}

/* Clear margins on first and last counters within group */
.counter-group .counter:first-child {
    margin-left: 0;
}

.counter-group .counter:last-child {
    margin-right: 0;
}

/* Sizes */

.counter-2x {
    width: 96px;
}

.counter-3x {
    width: 144px;
}


/* --------------------------- */
/* Answers */
/* --------------------------- */

.list-left .accepted-answer { width: 36px; }
.list-left .accepted-answer .nav-text { display: none; }

a.accepted-answer {  color: #28a745; }
a.accepted-answer i { font-size: 18pt; }

/* --------------------------- */
/* popper */
/* --------------------------- */

.popper {
    position: absolute;
    z-index: 1055;
    min-width: 10rem;
    display: block;
}

.popper-n { margin-top: -19px; }
.popper-e { margin-left: 19px; }
.popper-s { margin-top: 19px; }
.popper-w { margin-left: -19px; }

.popper-content {
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

/* arrow */
.popper-content:after,
.popper-content:before {
    content: "";
    display: inline-block;
    position: absolute;
    z-index: 1002;
}

/* arrow border */
.popper-content:before {
    border: 10px solid transparent;
}

/* arrow background */
.popper-content:after {
    border: 9px solid transparent;
}

/* position arrow */
.popper-n .popper-content:before { left: 9px; right: auto; bottom: -19px;  }
.popper-n .popper-content:after { left: 10px; right: auto; bottom: -17px;  }
.popper-right.popper-n .popper-content:before { left: auto; right: 9px;   }
.popper-right.popper-n .popper-content:after { left: auto; right: 10px;  }

.popper-e .popper-content:before { left: -19px; right: auto; top: 50%; transform: translate(0, -50%); }
.popper-e .popper-content:after { left: -17px; right: auto; top: 50%; transform: translate(0, -50%);  }

.popper-s .popper-content:before { left: 9px; right: auto; top: -19px; }
.popper-s .popper-content:after { left: 10px; right: auto; top: -17px; }
.popper-right.popper-s .popper-content:before { left: auto; right: 9px;   }
.popper-right.popper-s .popper-content:after { left: auto; right: 10px;  }

.popper-w .popper-content:before { left: auto; right: -19px; top: 50%; transform: translate(0, -50%); }
.popper-w .popper-content:after { left: auto; right: -17px; top: 50%; transform: translate(0, -50%);   }

/* --------------------------- */
/* User Indicators */
/* --------------------------- */

.is-verified:before,
.is-staff:before,
.is-spam:before,
.is-banned:before {
    display: inline-block;
    content: "";
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 6px;
}

/* Remove margin for icon versions */
i.is-verified:before,
i.is-staff:before,
i.is-spam:before,
i.is-banned:before { margin-right: 0 !important; }

.is-verified:before {
    background-image: url(/images/verified.png);
}

.is-staff:before {
    background-image: url(/images/staff.png);
}

.is-spam:before {
    background-image: url(/images/spam.png);
}

.is-banned:before {
    background-image: url(/images/banned.png);
}

/* --------------------------- */
/* animations */
/* --------------------------- */

.anim { animation-delay: 0; animation-duration: 0.10s; }
.anim-2x { animation-duration: 0.15s; }
.anim-3x { animation-duration: 0.20s; }
.anim-4x { animation-duration: 0.25s; }
.anim-5x { animation-duration: 0.30s; }
.anim-6x { animation-duration: 0.35s; }
.anim-7x { animation-duration: 0.40s; }
.anim-8x { animation-duration: 0.45s; }
.anim-9x { animation-duration: 0.50s; }
.anim-10x { animation-duration: 0.55s; }
.anim-11x { animation-duration: 0.60s; }
.anim-12x { animation-duration: 0.65s; }
.anim-13x { animation-duration: 0.70s; }
.anim-14x { animation-duration: 0.75s; }
.anim-15x { animation-duration: 0.80s; }
.anim-16x { animation-duration: 0.85s; }

.anim-infinite { animation-iteration-count: infinite; }

.anim-delay-1x { animation-delay: 0.20s; }
.anim-delay-2x { animation-delay: 0.25s; }
.anim-delay-3x { animation-delay: 0.30s; }
.anim-delay-4x { animation-delay: 0.35s; }
.anim-delay-5x { animation-delay: 0.40s; }
.anim-delay-6x { animation-delay: 0.45s; }
.anim-delay-7x { animation-delay: 0.50s; }
.anim-delay-8x { animation-delay: 0.50s; }
.anim-delay-9x { animation-delay: 0.60s; }
.anim-delay-10x { animation-delay: 0.65s; }

/* scale in */

.anim-scale-in {
    animation-name: scale-in;
    animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
}

@keyframes scale-in {
    0% { opacity: 0; transform: scale(0.7); }
    100% { opacity: 1; transform: scale(1); }
}

/* scale out */

.anim-scale-out {
    animation-name: scale-out;
    animation-timing-function: cubic-bezier(0.2, 0, 0.13, 1.5);
}

@keyframes scale-out {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(.7); }
}

/* bounce */

.anim-bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}

@keyframes bounce {
    from, 20%, 53%, 80%, to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0,0,0);
    }
    40%, 43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        transform: translate3d(0,-4px,0);
    }
}

/* slide in */

.anim-slide-in-down {
    animation-name: slideInDown;
}

@keyframes slideInDown {
    from { transform: translate3d(0, -100%, 0); visibility: visible; opacity: 0;}
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-up {
    animation-name: slideInUp;
}

@keyframes slideInUp {
    from { transform: translate3d(0, 100%, 0); visibility: visible; opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-left {
    animation-name: slideInLeft;
    transform-origin: top left;
}

@keyframes slideInLeft {
    from { transform: translate3d(-100%, 0, 0); visibility: visible; opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-right {
    animation-name: slideInRight;
}

@keyframes slideInRight {
    from { transform: translate3d(100%, 0, 0); visibility: visible; opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

/* slide out */

.anim-slide-out-down {
    animation-name: slideOutDown;
}

@keyframes slideOutDown {
    from { transform: translate3d(0, 0, 0); visibility: visible; }
    to { transform: translate3d(0, 100%, 0);opacity: 0; }
}

.anim-slide-out-up {
    animation-name: slideOutUp;
}

@keyframes slideOutUp {
    from { transform: translate3d(0, 0, 0); visibility: visible; }
    to { transform: translate3d(0, -100%, 0);opacity: 0; }
}

.anim-slide-out-left {
    animation-name: slideOutLeft;
}

@keyframes slideOutLeft {
    from { transform: translate3d(0, 0, 0); visibility: visible; }
    to { transform: translate3d(-100%, 0, 0);opacity: 0; }
}

.anim-slide-out-right {
    animation-name: slideOutRight;
}

@keyframes slideOutRight {
    from { transform: translate3d(0, 0, 0);opacity: 0; visibility: visible; }
    to { transform: translate3d(100%, 0, 0);opacity: 0; visibility: hidden; }
}

/* slide in XS */

.anim-slide-in-down-xs {
    animation-name: slideInDownXs;
}

@keyframes slideInDownXs {
    from { transform: translate3d(0, -50px, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-up-xs {
    animation-name: slideInUpXs;
}

@keyframes slideInUpXs {
    from { transform: translate3d(0, 50px, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-left-xs {
    animation-name: slideInLeftXs;
    transform-origin: top left;
}

@keyframes slideInLeftXs {
    from { transform: translate3d(-50px, 0, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

.anim-slide-in-right-xs {
    animation-name: slideInRightXs;
}

@keyframes slideInRightXs {
    from { transform: translate3d(50px, 0, 0); opacity: 0; }
    to { transform: translate3d(0, 0, 0); opacity: 1; }
}

/* slide out XS */

.anim-slide-out-down-xs {
    animation-name: transitionOutDownXs;
}

@keyframes transitionOutDownXs {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 50px, 0); opacity: 0; }
}

.anim-slide-out-up-xs {
    animation-name: transitionOutUpXs;
}

@keyframes transitionOutUpXs {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, -50px, 0); opacity: 0; }
}

.anim-slide-out-left-xs {
    animation-name: transitionOutLeftXs;
}

@keyframes transitionOutLeftXs {
    from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(-50px, 0, 0); opacity: 0; }
}

.anim-slide-out-right-xs {
    animation-name: transitionOutRightXs;
}

@keyframes transitionOutRightXs {
    from { transform: translate3d(0, 0, 0);opacity: 0; }
    to { transform: translate3d(50px, 0, 0); opacity: 0; }
}

/* shake */

.anim-shake {
    animation-name: shake;
}

@keyframes shake {
    from, to { transform: translate3d(0, 0, 0); }
    10%, 30%, 50%, 70%, 90% { transform: translate3d(-10px, 0, 0); }
    20%, 40%, 60%, 80% { transform: translate3d(10px, 0, 0); }
}

/* fade */

.anim-fade-out {
    animation-name: fadeOut;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.anim-fade-in {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* pulse out */

.anim-pulse-out {
    animation-name: pulseOut;
}

@keyframes pulseOut {
    0% { transform: scale(1.0); } 
    50% { transform: scale(1.2); } 
    100% { transform: scale(1.0); } 
}

/* pulse out large */

.anim-pulse-out-lg {
    animation-name: pulseOutLrg;
}

@keyframes pulseOutLrg {
    0% { transform: scale(1.0); } 
    50% { transform: scale(1.2); } 
    100% { transform: scale(1.0); } 
}

/* pulse in */

.anim-pulse-in {
    animation-name: pulseIn;
}

@keyframes pulseIn {
    0% { transform: scale(1.0); } 
    50% { transform: scale(0.8); } 
    100% { transform: scale(1.0); } 
}

/* pulse in */

.anim-pulse-in-lg {
    animation-name: pulseInLrg;
}

@keyframes pulseInLrg {
    0% { transform: scale(1.0); } 
    50% { transform: scale(0.6); } 
    100% { transform: scale(1.0); } 
}


/* spin in */

.anim-spin-in {
    animation-name: spinIn;
    transform-origin: center center;
}

@keyframes spinIn {
    0% { transform: rotate(0); } 
    100% { transform: rotate(360deg); } 
}

/* spin out */

.anim-spin-out {
    animation-name: spinOut;
    transform-origin: center center;
}

@keyframes spinOut {
    0% { transform: rotate(0); } 
    100% { transform: rotate(-360deg); } 
}

/* flip in */

.anim-flip-in-left {
    animation-name: flipY;
    transform-origin: left center;
}

.anim-flip-in-center {
    animation-name: flipY;
    transform-origin: center center;
}

.anim-flip-in-right {
    animation-name: flipY;
    transform-origin: right center;
}

@keyframes flipY {
    0% { overflow: hidden; transform: rotateY(90deg); }
    100% { overflow: auto; transform: rotateY(0deg); }
}

.anim-flip-in-top {
    animation-name: flipX;
    transform-origin: top center;
}

.anim-flip-in-center-x {
    animation-name: flipX;
    transform-origin: center center;
}

.anim-flip-in-bottom {
    animation-name: flipX;
    transform-origin: right bottom;
}

@keyframes flipX {
    0% { transform: rotateX(90deg); } 
    100% {  transform: rotateX(0); } 
}

.anim-perspective {
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    -ms-transform-origin: 50vw 50vh;
    -o-transform-origin: 50vw 50vh;
    -webkit-transform-origin: 50vw 50vh;
    transform-origin: 50vw 50vh; 
    -webkit-transform: perspective(1000px) translate3d(0,50vh,0) rotateX(30deg);
    -ms-transform: perspective(1000px) translate3d(0,50vh,0) rotateX(30deg);
    transform: perspective(1000px) translate3d(0,50vh,0) rotateX(30deg);
    pointer-events: none;
    overflow: hidden;
}
