@model EntityIndexViewModel<Article>

@if (Model.Results != null)
{
    var offset = Model.Pager.RowOffset;
    var selectedOffset = Model.Pager.Offset;
    @foreach (var entity in Model.Results.Data)
     {
         var css = offset == selectedOffset
             ? "p-3 infinite-scroll-item infinite-scroll-item-active"
             : "p-3 infinite-scroll-item";
         <li class="list-group-item list-group-item-action p-0">
             <div class="@css" data-infinite-scroll-offset="@offset" data-infinite-scroll-highlight="@offset">
                 @await DisplayAsync(new View("ArticleListItem", new
                 {
                     model = new ArticleListItemViewModel()
                     {
                         Article = entity
                     }
                 }))
                 @{
                     offset++;
                 }
             </div>
         </li>
     }
}


