@model TopicViewModel

@if (Model.Replies != null)
{
    @foreach (var reply in Model.Replies.Data)
    {
        @await DisplayAsync(new View("TopicReplyListItem", new
        {
            model = new TopicReplyListItemViewModel()
            {
                Reply = reply
            }
        }))
    }
}
else
{
    <div class="my-4">
        <card>
            <card-body>
                <i class="fal fa-reply"></i>
                <span class="text-muted ml-2">@T["No resplies have been posted yet. Be the first!"]</span>
            </card-body>
        </card>
    </div>
}

@if (Model.Pager.Total > Model.Pager.PageSize)
{
    <div class="mt-4">
        <pager model="@Model.Pager"></pager>
    </div>
}
