@model User

@if (Model != null)
{
    <div class="dropdown notifications-dropdown" data-provide="notificationsDropdown">
        <a class="nav-link dropdown-toggle dropdown-toggle-no-caret text-hidden" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" title="@T["Notifications"]" data-provide="tooltip" aria-haspopup="true" aria-expanded="false">
            <i class="fal fa-bell"></i>
            <span class="badge badge-danger hidden anim anim-16x anim-infinite anim-pulse-in" data-provide="notificationsBadge"></span>
            <span class="nav-text">Notifications</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="notificationDropdown">
            <div class="dropdown-header">
                <a asp-route-area="Plato.Users.Notifications" asp-route-controller="Home" asp-route-action="EditProfile" class="float-right" data-toggle="tooltip" title="@T["Settings"]"><i class="fal fa-cog"></i></a>
                <h6>@T["Notifications"]</h6>
            </div>
            <div data-provide="notifications">
                <p class="my-4 text-center"><i class="fal my-4 fa-spinner fa-spin"></i></p>
            </div>
        </div>
    </div>
}
