@model User

@if (Model != null)
{
    <div class="dropdown notifications-dropdown">
        <a class="nav-link" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" title="@T["Notifications"]" data-provide="tooltip" aria-haspopup="true" aria-expanded="false">
            <i class="fal fa-bell"></i>
            <span class="badge badge-danger hidden" data-provide="notifications-badge"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in p-0" aria-labelledby="notificationDropdown">
            <div class="dropdown-header px-3 py-2 border-bottom border-bottom">
                <div class="py-1">
                    <div class="float-right">
                        <a href="#">
                            Mark all as read
                        </a>|
                        <a asp-route-area="Plato.Users.Notifications" asp-route-controller="Home" asp-route-action="EditProfile">
                            Settings
                        </a>
                    </div>
                    <span class="d-inline-block">@T["Notifications"]</span>
                </div>
            </div>
            <div data-provide="notifications"></div>
        </div>
    </div>
}
