
<div class="dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span title="@T["Notifications"]" data-toggle="tooltip">
            <i class="fal fa-bell"></i>
        </span>
    </a>
    <div class="dropdown-arrow"></div>
    <div class="dropdown-menu dropdown-menu-right react-dropdown-menu" aria-labelledby="notificationDropdown">
        <div class="px-2">
            <div class="d-block">
              
            </div>
        </div>
    </div>
</div>