
<div class="dropdown notifications-dropdown">
    <a class="nav-link" href="#" id="notificationDropdown" role="button" data-toggle="dropdown" title="@T["Notifications"]" data-provide="tooltip" aria-haspopup="true" aria-expanded="false">
        <i class="fal fa-bell"></i>
        <span class="badge badge-danger">9+</span>
    </a>
    <div class="dropdown-arrow"></div>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationDropdown">
        <div data-provide="notifications"></div>
    </div>
</div>