@model AggregatedResult<string>

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">
            @T["Mosted Viewed Pages"]
        </h6>
    </card-title>
    <card-body>

      @if (Model != null)
      {

          <div class="list-group list-group-flush list-group-hover">
              @foreach (var result in Model.Data)
              {
                  <a href="#" class="list-group-item list-group-item-action">
                      <span class="btn btn-sm label float-right" data-toggle="tooltip" title="@T["Views"]">
                          @result.Count.ToPrettyInt(true)
                      </span>
                      @result.Aggregate
                  </a>
              }
          </div>
      }

    </card-body>
</card>