@using Plato.Badges.Models
@model UserBadgesIndexViewModel
@{
    var badgesList = Model.Badges.ToList();

}

<div class="list-left">
    <avatar class="avatar" user-id="@Model.User.Id"></avatar>
</div>
<div class="list-body">
    <h4>@T["Badges"]</h4>
    <div class="text-muted">
        All badges awarded to @Model.User.DisplayName
    </div>
</div>

<hr />