@model UserBadgesIndexViewModel

<div class="list-left">
    <avatar class="avatar" url="@Model.User.Avatar.Url"></avatar>
</div>
<div class="list-body">
    <h4>@T["Badges"]</h4>
    <div class="text-muted">
        All badges awarded to @Model.User.DisplayName
    </div>
</div>

<hr />