@model EditSocialViewModel

<card class="mt-4" title="@T["Social Media"]">
    
    <div class="form-group" asp-validation-class-for="UserName">
        <label asp-for="FacebookUrl"><strong>@T["Facebook Url"]</strong></label>
        <input asp-for="FacebookUrl" class="form-control" autofocus/>
    </div>
    
</card>


