@model EditRoleViewModel

@if (Model.IsNewRole)
{
    <h4>@T["Add Role"]</h4>
    <span class="text-muted">@T["Add a new role."]</span>
}
else
{
    <h4>@T["Edit Role"]</h4>
    <span class="text-muted">@T["Edit an existing role."]</span>
}
<hr/>