@using Plato.Internal.Layout.Views
@model EditUserRolesViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Roles"]</h6>
    </card-title>
    <card-body>
        
        <div class="text-muted">
            @T["Roles are used to control access to specific areas or features for this user within Plato."]
        </div>
        <br />

        @await DisplayAsync(new View("SelectRoles", new
        {
            selectedRoles = @Model.SelectedRoles,
            htmlName = @Model.HtmlName
        }))
        

    </card-body>
</card>

