@model SearchIndexOptions

<div class="dropdown">
    <a class="nav-link dropdown-toggle text-hidden" href="#" id="siteSearchDropdown" role="button" data-toggle="dropdown" title="@T["Search"]" data-provide="tooltip" aria-haspopup="true" aria-expanded="false">
        <i class="fal fa-search"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-right anim anim-2x anim-scale-in" aria-labelledby="siteSearchDropdown">
        <div class="py-1 px-2" style="min-width: 600px;">
            @await DisplayAsync(new View("Search", new
            {
                options = Model
            }))
        </div>
    </div>
</div>
