@model ReCaptchaSettingsViewModel

<h4>@T["reCAPTCHA2 Settings"]</h4>
<span class="text-muted">
    @T["Manage Google reCAPTCHA2 settings. Grab your site key and secret via the "]
    <a href="https://www.google.com/recaptcha/admin" target="_blank">
        @T["Google reCAPTCHA console"]
    </a>
</span>
<hr />