@model ReCaptchaSettingsViewModel

<h4>@T["Google ReCaptcha2 Settings"]</h4>
<span class="text-muted">
    @T["Manage Google reCAPTCHA2 settings. You can obtain your site key and secret via the Google reCAPTCHA console at "]
    <a href="https://www.google.com/recaptcha/admin" target="_blank">
        https://www.google.com/recaptcha/admin
    </a>
</span>
<hr />