@model ReCaptchaViewModel

@if (!string.IsNullOrEmpty(Model.SiteKey) && !string.IsNullOrEmpty(Model.Secret))
{
    <div class="form-group">
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div class="g-recaptcha" data-sitekey="@Model.SiteKey"></div>
    </div>
}
else
{
    <div class="alert alert-danger">
        @T["Google reCAPTCHA has not been configured. Visit the admin dashboard and configure the reCAPTCHA2 settings under \"SPAM\"."]
    </div>
}
