@model ReCaptchaViewModel

<div class="form-group">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <div class="g-recaptcha" data-sitekey="6LeKPZAUAAAAAIitiTxonDVmtxF7qSEJoS17jOQi"></div>
</div>