
<p>
    Page {{ pageIndex }} of {{ totalPages }}    
</p>
    
<div class="btn-group" *ngIf="totalPages">
    <button class="btn btn-default" [disabled]="!canGoBack" (click)="goToPage({ pageIndex: 1 })" data-toggle="tooltip" data-placement="bottom" title="First Page">«<</button>
    <button class="btn btn-default" [disabled]="!canGoBack" (click)="goToPage({ pageIndex: pageIndex - 1 })" data-toggle="tooltip" data-placement="bottom" title="Previous Page">Prev</button>
    <button class="btn" *ngFor="let page of pageLinks"
            [ngClass]="{ 'btn-info': page.isCurrent, 'btn-default': !page.isCurrent }"
            data-toggle="tooltip" data-placement="bottom" title="Page {{ page.index }} of {{ totalPages }}"
            (click)="goToPage({ pageIndex: page.index })">
        {{ page.text }}
    </button>
    <button class="btn btn-default" [disabled]="!canGoForward" (click)="goToPage({ pageIndex: pageIndex + 1 })" data-toggle="tooltip" data-placement="bottom" title="Next Page">Next</button>
    <button class="btn btn-default" [disabled]="!canGoForward" (click)="goToLast()" data-toggle="tooltip" data-placement="bottom" title="Last Page">»</button>
</div>
