@model EditChannelViewModel

@if (Model.IsNewChannel)
{
    <h4>@T["Add Channel"]</h4>
    <span class="text-muted">@T["Channels help group similar conversations."]</span>
}
else
{
    <h4>@T["Edit Channel"]</h4>
    <span class="text-muted">@T["Edit an existing channel."]</span>
}

<hr />



