@model EditChannelViewModel

@if (!Model.IsNewCategory)
{
    <button type="submit" asp-controller="Admin" asp-action="Delete" asp-route-id="@Model.Id.ToString()" data-provide="confirm" class="btn btn-danger btn-sm">
        <i class="fal fa-trash"></i>
        @T["Delete"]
    </button>
}



