@model Plato.Categories.Models.Category

@if (Model != null)
{
    <a asp-route-area="Plato.Articles" asp-route-controller="Home" asp-route-action="Create" asp-route-channel="@Model.Id" class="btn btn-primary" title="Reply">
        <i class="fal fa-fw fa-plus"></i>
        @T["New Article"]
    </a>
}
else
{
    <a asp-route-area="Plato.Articles" asp-route-controller="Home" asp-route-action="Create" class="btn btn-primary" title="Reply">
        <i class="fal fa-fw fa-plus"></i>
        @T["New Article"]
    </a>
}
