/* history dropdown */

.history-dropdown .dropdown-menu {
    width: 400px;
}

.history-dropdown .list-left + .list-body { margin-left: 34px; }

/* diff css */

.inserted-line,
.inserted-character { background-color:rgba(156,204,79,.5); }
.deleted-line,
.deleted-character{ background-color: rgba(255,150,150,.5); color: #8F0D0D; text-decoration: line-through; }

.modified-line { background-color:rgba(110,167,255,.3);}
.imaginary-line { background-color: rgba(160,160,160,.3); }
.inserted-character { display: inline-block; }
.deleted-character { display: inline-block; }