@model int
@{
    Layout = "";
    ViewData["Title"] = "Login";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>

    <form asp-controller="Photo" asp-action="Upload" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data">

        <avatar user-id="@Model" />

        <div class="custom-file">
            <input type="file" class="custom-file-input" name="file" />
        </div>

        <input type="submit" value="Upload" />
            
    </form>
    
</body>
</html>
