@model ThemingIndexViewModel

<nav class="navbar p-0">
    <a asp-rooute-controller="Admin" asp-route-action="Create" class="btn btn-primary ml-sm-2">
        <i class="fal fa-plus"></i>
        @T["Add Theme"]
    </a>
</nav>
