@model ThemingIndexViewModel
@{
    var permission = Plato.Theming.Permissions.CreateThemes;
}

<authorize asp-permission="@permission.Name">
    <authorize-success>
        <nav class="navbar p-0">
            <a asp-rooute-controller="Admin" asp-route-action="Create" class="btn btn-primary ml-sm-2">
                <i class="fal fa-plus"></i>
                @T["Add Theme"]
            </a>
        </nav>
    </authorize-success>
</authorize>

