@model CategoryIndexViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Categories"]</h6>
    </card-title>
    <card-body>
        @await DisplayAsync(new View("QuestionCategoryTree", new
        {
            options = new CategoryTreeOptions()
            {
                IndexOptions = Model.Options,
                SelectedCategories = new List<int>(),
                EditMenuViewName = "EditQuestionCategoryMenu"
            }
        }))
    </card-body>
</card>

