@using Plato.Features.ViewModels
@model AdminIndex

<card class="card card-body-flush">
    <card-title>
        <a asp-route-area="Plato.Features" asp-route-controller="Admin" asp-route-action="Index" asp-route-opts.category="Articles" class="btn btn-secondary float-right">
            @T["All Features"]
        </a>
        <h6 class="card-title">@T["Enhance Plato.Articles"]</h6>
        <div class="text-muted">@T["Additional features available to enhance articles."]</div>
    </card-title>
    <card-body>

        @await DisplayAsync(new View("SimpleFeatureList", new
        {
            options = new FeatureIndexOptions()
            {
                Category = "Articles",
                HideEnabled = true
            }
        }))

    </card-body>
</card>

