@model EditEntityReplyViewModel

<div class="float-right">
    <a class="btn btn-lg btn-secondary" asp-route-action="Index">@T["Cancel"]</a>
    <button class="btn btn-lg btn-primary" type="submit">@T["Submit"]</button>
</div>


