@model EntityIndexViewModel<Article>

<div asp-permission="PostArticles">
    <authorize-success>
        <a asp-route-controller="Home" asp-route-action="Create" class="btn btn-primary" title="@T["New Article"]">
            <i class="fal fa-fw fa-plus"></i>
            @T["New Article"]
        </a>
    </authorize-success>
</div>