@model EntityViewModel<Article, Comment>

<div class="list-left"></div>
<div class="list-body">
    <card>
        <card-body>
            <div class="float-right">
                <a href="#" class="btn btn-lg btn-secondary resizable-close">@T["Cancel"]</a>
                <button type="submit" class="btn btn-lg btn-primary">
                    @T["Post Comment"]
                </button>
            </div>
        </card-body>
    </card>
</div>

