@model EditEntityViewModel

@if (Model.Id == 0)
{
    <h4>@T["New Article"]</h4>
    <span class="text-muted">@T["Create your article below."]</span>
    <hr />
}
else
{
    <h4>@T["Edit Article"]</h4>
    <span class="text-muted">@T["Edit the article below."]</span>
    <hr />
}



