@model ReportOptions

<div class="row">
    <div class="col-md-8">

        @await DisplayAsync(new View("ViewsByDateChart", new
        {
            options = @Model
        }))


    </div>
    <div class="col-md-4">

        @await DisplayAsync(new View("ViewsByRoleChart", new
        {
            options = @Model
        }))

    </div>
</div>
