
/* --------------------------- */
/* horizontal navigation */
/* --------------------------- */

.nav-h .dropdown-submenu {
    position: relative;
}

.nav-h .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
}

.nav-h .dropdown-submenu.show .dropdown-menu { display: block; }

/*.dropdown-submenu:hover>.dropdown-menu{display:block;}*/
.nav-h .dropdown-submenu > a.dropdown-toggle:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: -10px;
}

.nav-h .dropdown-submenu:hover > a.dropdown-toggle:after {
    border-left-color: #000;
}

.nav-h .dropdown-submenu.pull-left {
    float: none;
}

.nav-h .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* --------------------------- */
/* vertical navigation */
/* --------------------------- */

.nav-v,
.nav-v .nav-item {
    display: block;
    width: 100%;
}

.nav-v .dropdown-menu {
    top: 0;
    left: 0;
    width: 100%;
    min-width: inherit !important;
    position: relative;
    margin: 0;
    padding: 0;
}

.nav-v .dropdown-submenu.show .dropdown-menu {
    display: block;
}

.nav-v a.dropdown-toggle:after {
    float: right;
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
    margin-top: 3px;
}

.nav-v .dropdown.show > a.dropdown-toggle:after {
    float: right;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

    /*
.nav-v .dropdown:hover > a.dropdown-toggle:after {
    border-left-color: #000;
}*/

.nav-v .dropdown-submenu.pull-left {
    float: none;
}

.nav-v .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* --------------------------- */
/* admin navigation */
/* --------------------------- */

.admin-nav {
    background: #242424;
    color: #fff;
}

.admin-nav hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.admin-nav .navbar {
    padding: 0;
    display: block;
    width: 100%;
}

.admin-nav li {
    margin: 0;
    padding: 0;
}

.admin-nav .nav-link,
.admin-nav .dropdown-menu {
    background-color: transparent;
    border: 0;
    border-radius: 0;
}

.admin-nav a.nav-link,
.admin-nav a.dropdown-item {
    color: #ddd;
}

.admin-nav .nav-v .dropdown:hover a.dropdown-toggle:after {
    border-top-color: transparent;
    border-left-color: #fff;
}

.admin-nav .nav-v .dropdown.show > a.dropdown-toggle:after {
    border-top-color: #fff;
    border-left-color: transparent;
}

.admin-nav a.dropdown-item:hover,
.admin-nav a.dropdown-item:focus {
    background: #333;
    color: #fff;
}

