@using Plato.Roles.ViewModels
@model EditUserRolesViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Roles"]</h6>
        <div class="text-muted">
            @T["Select which roles can see and access this category and any ideas within this category."]
        </div>
    </card-title>
    <card-body>
   
        @await DisplayAsync(new View("SelectRoles", new
        {
            selectedRoles = @Model.SelectedRoles,
            htmlName = @Model.HtmlName
        }))
        
    </card-body>
</card>

