
.vote-toggle {
    text-align: center;
    background: #eee;
}

.list-left .vote-toggle { width: 36px; }

.vote-toggle .btn-vote-up,
.vote-toggle .btn-vote-down {
    display: block;
    border-color: transparent;
}

.vote-toggle .btn-vote-up i,
.vote-toggle .btn-vote-down i {
    display: block;
    line-height: normal;
}

.vote-toggle a.btn-vote-up:hover,
.vote-toggle a.btn-vote-down:hover {
    color: white;
    background-color: #007bff;
}

.vote-toggle h6 { margin: 6px 0; color: #666; }
