
.vote-toggle {
    text-align: center;
    margin-top: 12px;
}

.vote-toggle .btn-vote-up,
.vote-toggle .btn-vote-down {
    display: block;
    color: #aaa;
}

.vote-toggle .btn-vote-up i,
.vote-toggle .btn-vote-down i {
    display: block;
}

.vote-toggle a.btn-vote-up:hover,
.vote-toggle a.btn-vote-down:hover,
.vote-toggle a.btn-vote-up:focus,
.vote-toggle a.btn-vote-down:focus {
    color: white;
    background-color: #007bff;
}

.vote-toggle h6 { color: #666; }


.list-left .vote-toggle {  width: 36px; }
