@model ReportOptions

<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">

        @await DisplayAsync(new View("EntityViewsByDateChart", new
        {
            options = @Model,
            chart = new ChartOptions()
            {
                Title = "Topic Views"
            }
        }))

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">

        @await DisplayAsync(new View("NewEntitiesByDateChart", new
        {
            options = @Model,
            chart = new ChartOptions()
            {
                Title = "New Topics"
            }
        }))

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">

        @await DisplayAsync(new View("NewRepliesByDateChart", new
        {
            options = @Model,
            chart = new ChartOptions()
            {
                Title = "New Replies"
            }
        }))

    </div>
</div>


@await DisplayAsync(new View("EntityViewsTopList", new
{
    options = @Model,
    chart = new ChartOptions()
    {
        Title = "Top Topics"
    }
}))


@await DisplayAsync(new View("EntityRepliesTopList", new
{
    options = @Model,
    chart = new ChartOptions()
    {
        Title = "Popular Topics"
    }
}))
