@using Plato.Entities.ViewModels
@model Plato.Entities.ViewModels.EntityIndexViewModel<Doc>

<div id="tocCollapse" class="collapse">
    
    <div class="my-2">
        <input type="search" class="form-control" 
               data-provide="filter-list"
               data-filter-list-empty=".no-channel-results"
               data-filter-list-target=".tree"
               placeholder="@T["Search docs..."]" />
    </div>

    @await DisplayAsync(new View("DocTree", new
    {
        options = new EntityTreeOptions()
        {
            EditMenuViewName = "DocTreeMenu",
            IndexOptions = Model.Options,
            RouteValues = new RouteValueDictionary()
            {
                ["area"] = "Plato.Docs",
                ["controller"] = "Home",
                ["action"] = "Display"
            }
        }
    }))
</div>