@using Microsoft.AspNetCore.Routing
@model EntityIndexViewModel<Doc>

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Browse Docs"]</h6>
    </card-title>
    <card-body>
        @await DisplayAsync(new View("DocTree", new
        {
            options = new EntityTreeOptions()
            {
                RouteValues = new RouteValueDictionary()
                {
                    ["area"] = "Plato.Docs",
                    ["controller"] = "Home",
                    ["action"] = "Display"
                }
            }
        }))
    </card-body>
</card>
