@model EditEntityViewModel

@if (Model.Id == 0)
{
    <h4>@T["New Doc"]</h4>
    <span class="text-muted">@T["Create a new doc."]</span>
    <hr />
}
else
{
    <h4>@T["Edit Doc"]</h4>
    <span class="text-muted">@T["Edit an existing doc."]</span>
    <hr />
}



