@using Microsoft.AspNetCore.Routing
@using Plato.Docs
@model EntityIndexViewModel<Doc>
@{
    var postPermission = Permissions.PostDocs;
}


<div id="tocCollapse" class="collapse">
    @await DisplayAsync(new View("DocTree", new
    {
        options = new EntityTreeOptions()
        {
            EditMenuViewName = "DocTreeMenu",
            RouteValues = new RouteValueDictionary()
            {
                ["area"] = "Plato.Docs",
                ["controller"] = "Home",
                ["action"] = "Display"
            }
        }
    }))
</div>



@*<card class="card card-body-flush">
    <card-title class="card-title">
        <authorize asp-permission="@postPermission.Name">
            <authorize-success>
                <a asp-route-action="Create" class="btn btn-sm dropdown-toggle text-muted dropdown-toggle-no-caret float-right" data-provide="tooltip" title="@T["New Doc"]">
                    <i class="fal fa-plus"></i>
                </a>
            </authorize-success>
        </authorize>
        <a href="#tocCollapse" data-toggle="collapse" class="btn btn-sm text-muted float-right d-lg-none" data-provide="tooltip" title="@T["Contents"]">
            <i class="fal fa-bars"></i> 
        </a>
        <h6 class="card-title">@T["Browse Docs"]</h6>
    </card-title>
    <card-body>
    
    </card-body>
</card>*@
