@using Microsoft.AspNetCore.Routing
@model Doc

<card class="card card-body-flush">
    <card-title>
        <a asp-route-action="Create" class="btn btn-sm dropdown-toggle text-muted dropdown-toggle-no-caret float-right" data-provide="tooltip" title="@T["New Doc"]">
            <i class="fal fa-plus"></i>
        </a>
        <h6 class="card-title">@T["Browse Docs"]</h6>
    </card-title>
    <card-body>
        @await DisplayAsync(new View("DocTree", new
        {
            options = new EntityTreeOptions()
            {
                SelectedEntity = Model.Id,
                EditMenuViewName = "DocTreeMenu",
                RouteValues = new RouteValueDictionary()
                {
                    ["area"] = "Plato.Docs",
                    ["controller"] = "Home",
                    ["action"] = "Display"
                }
            }
        }))
    </card-body>
</card>
