@model Doc


    <div asp-permission="PostDocs">
        <authorize-success>
            <a asp-route-action="Create" asp-route-parentId="@Model.Id" class="btn btn-primary" title="@T["New Doc"]">
                <i class="fal fa-fw fa-plus"></i>
                @T["New Doc"]
            </a>
        </authorize-success>
        <authorize-fail>
          
        </authorize-fail>
    </div>
