@model Plato.Discuss.History.ViewModels.HistoryIndexViewModel
@{
    Layout = null;
    ViewData["Title"] = "History";
}

<div class="modal-header">
    <h6>Edit History</h6>
</div>
<div class="modal-body">
    <div class="markdown-body">
        @Html.Raw(Model.Html)
    </div>
</div>
