@model ArticleIndexViewModel
@{
    Layout = null;
}


<div class="modal-header">
    <h6 class="modal-title">
        Report
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            <i class="fal fa-times"></i>
        </span>
    </button>
</div>
<div class="modal-body" style="max-height: 550px; overflow: auto;">
    wewer wer wer wwer wer erwerwerwerwer wer wer wr  rwr wer wer werwer wer wer wer wr wer
</div>
