@model Label

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item active"><a class="page-link" href="#">@T["Popular"]</a></li>
        <li class="page-item"><a class="page-link" href="#">@T["New"]</a></li>
        <li class="page-item"><a class="page-link" href="#">@T["Follows"]</a></li>
    </ul>
</nav>
