@model LabelIndexViewModel

<nav class="navbar justify-content-between">
    
    <form class="form-inline mr-2" asp-route-controller="Home" asp-route-action="Index" method="get" enctype="multipart/form-data">
        <input class="form-control mr-sm-2" name="opts.search" value="@Model.Options.Search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            <i class="fal fa-search"></i>
        </button>
    </form>

</nav>
