@model EditTopicLabelsViewModel

<div class="topic-reply-left"></div>
<div class="topic-reply-body">
    <card>
        <card-title>
            <h6 class="card-title">@T["Labels"]</h6>
        </card-title>
        <card-body>

            @await DisplayAsync(new View("SelectLabelsLookUp", new
            {
                selectedLabels = @Model.SelectedLabels,
                htmlName = @Model.HtmlName
            }))
    
        </card-body>
    </card>
</div>

