
.bg-black { background: black; }
.bg-black-75 { background: rgba(0,0,0, 0.75); }
.bg-black-50 { background: rgba(0,0,0, 0.50); }
.bg-black-25 { background: rgba(0,0,0, 0.25); }

.bg-white { background: black; }
.bg-white-75 { background: rgba(255,255,255, 0.75); }
.bg-white-50 { background: rgba(255,255,255, 0.50); }
.bg-white-25 { background: rgba(255,255,255, 0.25); }

.bg-purple { background: #5C2D91; }
.bg-purple-75 { background: rgba(92, 45, 145, 0.75); }
.bg-purple-50 { background: rgba(92, 45, 145, 0.50); }
.bg-purple-25 { background: rgba(92, 45, 145, 0.25); }

.bg-primary-75 { background: rgba(0, 123, 255, 0.75); }
.bg-primary-50 { background: rgba(0, 123, 255, 0.50); }
.bg-primary-25 { background: rgba(0, 123, 255, 0.25); }

.page {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.page-fill {
    height: 100vh;
}

.page .container {
    display: block;
    margin: 12rem auto;
}


hr.divider {
    max-width: 3.25rem;
    border-width: .2rem;
    border-color: #007BFF
}

hr.light {
    border-color: #fff
}

