/* mptofocatopm dropdown */

.notifications-dropdown .dropdown-menu {
    width: 500px;
}

.notifications-dropdown .badge {
    margin-left: -6px;
    margin-top: -10px;
}

.dropdown-menu .list-left + .list-body {
    display: block; 
    margin-left: 36px;
}

/* date */

.notifications-dropdown .dropdown-item .notification-date {
    display: inline;
}

.notifications-dropdown .dropdown-item:hover .notification-date {
    display: none;
}

/* dismiss */

.notifications-dropdown .dropdown-item .notification-dismiss {
    display: none;
    padding: 0 0 1rem 2rem;
}

.notifications-dropdown .dropdown-item:hover .notification-dismiss {
    display: inline-block;
}