/* mptofocatopm dropdown */

.notifications-dropdown .dropdown-toggle {
    position: relative;
}

.notifications-dropdown .badge {
    position: absolute;
    right: 6px;
    top: 6px;
}

.notifications-dropdown .dropdown-menu { width: 100%; }

/* full screen */
@media (min-width: 992px) {
    .notifications-dropdown .dropdown-menu { width: 500px; }
}

.dropdown-menu .list-left + .list-body {
    display: block; 
    margin-left: 36px;
}

/* date */

.notifications-dropdown .dropdown-item .notification-date {
    display: inline;
}

.notifications-dropdown .dropdown-item:hover .notification-date {
    display: none;
}

/* dismiss */

.notifications-dropdown .dropdown-item .notification-dismiss {
    display: none;
}

.notifications-dropdown .dropdown-item:hover .notification-dismiss {
    display: inline-block;
}