@model ReportOptions

<div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12">

        @await DisplayAsync(new View("EntityViewsByDateChart", new
        {
            options = @Model,
            chart = new ChartOptions()
            {
                Title = "Doc Views"
            }
        }))

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">

        @await DisplayAsync(new View("NewEntitiesByDateChart", new
        {
            options = @Model,
            chart = new ChartOptions()
            {
                Title = "New Docs"
            }
        }))

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">

        @await DisplayAsync(new View("NewRepliesByDateChart", new
        {
            options = @Model,
            chart = new ChartOptions()
            {
                Title = "New Comments"
            }
        }))

    </div>
</div>

@await DisplayAsync(new View("NewEntitiesList", new
{
    options = @Model,
    chart = new ChartOptions()
    {
        Title = "New Docs"
    }
}))

@await DisplayAsync(new View("EntityViewsTopList", new
{
    options = @Model,
    chart = new ChartOptions()
    {
        Title = "Top Docs"
    }
}))

@await DisplayAsync(new View("EntityRepliesTopList", new
{
    options = @Model,
    chart = new ChartOptions()
    {
        Title = "New Comments"
    }
}))
