
.md-editor {
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.md-editor.active {
    outline: 0;
}

/* floated row to allow us to float tabs left and buttons right */

.md-header-row {
    display: block;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
}

.md-header-row .nav { 
    padding: .50rem .50rem 0 .50rem;
    margin-bottom: -1px;
}

.md-header-row .btn-toolbar {
    padding: .30rem .50rem 0 .50rem;
}

/* Buttons */
.md-editor .btn-toolbar .btn-group .btn.disabled { display: none; }
.md-editor .btn-toolbar > .btn-group > .dropdown {margin-left: -1px; }

.md-editor .btn-toolbar > .btn-group > .dropdown > .btn {
    border-radius: 0;
}

.md-editor .btn-toolbar > .btn-group > .dropdown > .btn:active,
.md-editor .btn-toolbar > .btn-group > .dropdown > .btn:focus {
    box-shadow: none;
}

.md-editor .btn-toolbar > .btn-group > .dropdown:first-child > .btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.md-editor .btn-toolbar > .btn-group > .dropdown:last-child > .btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Disable some borders */

.md-editor > .md-footer,
.md-editor > .dz-message  { border-width: 0; border-top-width: 4px; border-style: dashed; }

/* Style textarea and preview */
.md-editor .md-textarea,
.md-editor .md-preview {
    outline: 0 !important;
    width: 100%;
    min-height: 200px;
    resize: vertical;
    border: 0 !important;
    box-shadow: none !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    border-radius: 0;
}

.md-editor .md-preview { overflow: auto; max-height: 600px; }

/* header selection dropdown */
.md-header-dropdown h1,
.md-header-dropdown h2,
.md-header-dropdown h3,
.md-header-dropdown h4,
.md-header-dropdown h5,
.md-header-dropdown h6 { margin: 0;padding: 0; }

.md-editor .md-controls {
    float: right;
    padding: 3px;
}

.md-editor.md-fullscreen-mode {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 0;
    border: 0 !important;
}

.md-editor.md-fullscreen-mode.active {
    border-radius: 0;
    box-shadow: none !important;
}

.md-editor.md-fullscreen-mode .md-footer,
.md-editor.md-fullscreen-mode .dz-message {
    display: none;
}

.md-editor.md-fullscreen-mode .tab-content,
.md-editor.md-fullscreen-mode .tab-pane {
    height: 100%;
}

.md-editor.md-fullscreen-mode .md-textarea,
.md-editor.md-fullscreen-mode .md-preview {
    margin: 0 auto !important;
    height: 100% !important;
    font-size: 20px !important;
    padding: 20px !important;
    line-height: 1.6em !important;
    max-height: initial !important;
    resize: none !important;
    box-shadow: none !important;
    border: 0 !important;
    overflow: auto;
}

.md-editor.md-fullscreen-mode .md-control-fullscreen { display: none; }
.md-editor .md-fullscreen-controls { display: none; }

.md-editor.md-fullscreen-mode .md-header {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

.md-editor.md-fullscreen-mode .md-fullscreen-controls {
    display: inline;
}

.md-editor.md-fullscreen-mode .md-editor {
    height: 100% !important;
    position: relative;
}

.md-nooverflow {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.md-emoji-dropdown { padding: 0 0.50rem; max-height: 250px; overflow-y: auto; }
.md-emoji-dropdown .dropdown-item { cursor: pointer; width: auto; clear: none; width: 32px; transition: all 0.15s ease-out; }
.md-emoji-dropdown .dropdown-item:hover { transform: scale(1.5); }

.md-quote-dropdown button.dropdown-item { cursor: pointer; clear: none; padding: 0; }
.md-quote-dropdown blockquote { padding: 0; margin: 0; }
.md-quote-dropdown blockquote {
    padding: 0.50rem 0.75em; 
    margin: 0;
    background-color: transparent !important;
}

/* ------------------------ */
/* Media queries to enable responsive button groups */
/* ------------------------ */

/* below 1124px */
@media only screen and (max-width : 1124px) {
    .md-editor .btn-toolbar > .btn-group-lists { display: none; }
}

/* below 1024px */
@media only screen and (max-width : 1024px) {
    .md-editor .btn-toolbar > .btn-group-quotes,
    .md-editor .btn-toolbar > .btn-group-code { display: none; }
}

/* below 768px */
@media only screen and (max-width : 768px) {
    .md-editor .btn-toolbar > .btn-group > .dropdown { display: none; }
}

/* below 348px */
@media only screen and (max-width : 348px) {
    .md-editor .btn-toolbar > .btn-group { display: none; }
}

