@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer T
@model Plato.SetUp.ViewModels.SetUpViewModel
@{
    ViewData["Title"] = "Discussions";
}

<form asp-controller="SetUp" asp-action="Index">

    <div class="jumbotron mt-5">
        <h1>@T["Setup"]</h1>
        <p class="lead">@T["Please answer a few questions to configure your site."]</p>
    </div>

    <div class="row">
        <fieldset class="form-group col-md-6" asp-validation-class-for="SiteName">
            <div>
        
                <a asp-controller="SetUp" asp-action="Index">Tag Helper Link</a>

                <label asp-for="SiteName">@T["What is the name of your site?"]</label>
           
                <input asp-for="@Model.SiteName" class="form-control" autofocus required />
                

            </div>
        </fieldset>
    </div>

    <br /><br />

</form>
