@model DraftViewModel
@{
    var checkedAttr = Model.Published ? "checked=\"checked\"" : "";
}
<card>
    <card-body>
        <label class="float-right">
            <span class="switch switch-round">
                <input class="form-check-input" type="checkbox" value="true" name="@Model.HtmlName" @checkedAttr />
                <span class="switch-slider"></span>
            </span>
        </label>
        <h6 class="d-inline-block">@T["Published"]</h6>
        <div class="text-muted">
            @T["Leave disabled until your ready to publish."]
        </div>
    </card-body>
</card>