@model DraftViewModel

<card>
    <card-body>
        <h6 class="d-inline-block">
            @T["Published"]
        </h6>
        <label class="float-right">
            <span class="switch draft-switch">
                <input class="form-check-input" type="checkbox" value="true" name="@Model.HtmlName" />
                <span class="switch-slider"></span>
            </span>
        </label>
    </card-body>
   
</card>





