@{
    ViewData["Title"] = "Discussions";
}

<h5>Discuss</h5>


<strong>Feature Id </strong> @ViewBag.Feature.Id
<br />
<strong>Feature Name </strong> @ViewBag.Feature.ModuleId
<br />
<strong>Feature Version </strong> @ViewBag.Feature.Version
<br />

