<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Plato</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <assets section="Header" />
    <scripts section="Header" />
</head>
<body>
    
<assets section="Body" />
<scripts section="Body"/>

<div class="layout-nav-side">

    <div class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">

        <a class="navbar-brand" href="#">
            Plato
        </a>

        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-block d-lg-none mr-2">
                
                <div class="dropdown">
                    <a href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <avatar class="avatar"></avatar>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="nav-side-user.html" class="dropdown-item">Profile</a>
                        <a href="utility-account-settings.html" class="dropdown-item">Account Settings</a>
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="collapse navbar-collapse flex-column"  id="navbar-collapse" role="navigation">
            <navigation
                name="admin"
                collaspsable="true"
                class="navbar-nav d-flex"
                child-ul-css-class="nav d-block"
                link-css-class="nav-link"/>
        </div>

    </div>

    <div class="main-container">
        
        <div class="container-fluid">
            <div class="row">
                
                <div class="navbar nav-tabs col-12" role="navigation">
                    <a class="navbar-brand text-muted" asp-route-area="Plato.Admin" asp-controller="Admin" asp-action="Index">
                        @T["Plato"]
                    </a>
                    <navigation name="site"
                                class="nav nav-h"
                                child-ul-css-class="dropdown-menu"/>
                </div>
            </div>
    
            <nav class="row border-bottom" aria-label="breadcrumb">
                <breadcrumb class="breadcrumb bg-light mb-0 col-12"/>
            </nav>
   
            <div class="d-block px-1 py-4">
             
                @RenderBody()
                <hr/>
                <footer>
                    <p class="text-muted">&copy; @System.DateTime.Now.Year - Plato</p>
                </footer>

            </div>


        </div>

    </div>
</div>
    
<assets section="Footer" />
<scripts section="Footer"/>

</body>
</html>
