@model EditEntityReplyViewModel

<input type="hidden" asp-for="Id"/>
<input type="hidden" asp-for="EntityId" />

<div asp-validation-summary="All"></div>

<div class="mt-0">

    <div class="list-left reply-left">
        @if (base.CurrentUser != null)
        {
            <a href="#" class="avatar-link">
                <avatar data-toggle="tooltip" title="@base.CurrentUser.DisplayName" class="avatar" url="@base.CurrentUser.Avatar.Url" />
            </a>
        }

    </div>
    <div class="list-body reply-body">
        <card class="card mt-0">
            <card-body>
                
                <div asp-validation-summary="ModelOnly"></div>

                <fieldset>
                    <div class="form-group">
                        
                        @await DisplayAsync(new View("Editor", new
                        {
                            value = @Model.Message,
                            placeHolderText = T["Add your comments here"],
                            htmlName = @Model.EditorHtmlName,
                            tabIndex = 2
                        }))

                    </div>
                </fieldset>

            </card-body>
        </card>
    </div>

</div>