@model HomeTopicViewModel


<card>
    <card-title>
        @T["Topics"]
    </card-title>
    <card-body>
        No channels found!
    </card-body>
</card>


<card>
    <card-title>
        <i class="fal fa-bell"></i> @T["Follow"]
    </card-title>
    <card-body>
        <div class="text-muted">
            Get notified when replies are posted...
            <br/><br/>
        </div>
        <a href="#" class="btn d-block btn-secondary">
            @T["Subscribe"]
        </a>
    </card-body>
</card>

<card>
    <card-title>
        @T["Top Participants"]
    </card-title>
    <card-body>

        John

    </card-body>
</card>
