@model HomeTopicViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Topics"]</h6>
    </card-title>
    <card-body>
        <h6>
            @T["No channels found!"]
        </h6>
    </card-body>
</card>

<card>
    <card-title>
        @T["Top Participants"]
    </card-title>
    <card-body>


        <avatar class="avatar" user-id="1" />
        <avatar class="avatar" user-id="2" />
        <avatar class="avatar" user-id="3" />


    </card-body>
</card>
