@model EditEntityViewModel

<div class="float-right">
    <button class="btn btn-lg btn-primary float-right" type="submit">@T["Post"]</button>
    <a class="btn btn-lg btn-secondary float-right" asp-route-action="Index">@T["Cancel"]</a>
</div>


