@model EditEntityViewModel

@if (Model.Id == 0)
{
    <h4>@T["New Post"]</h4>
    <span class="text-muted">@T["Post your questions or comments below."]</span>
    <hr />
}
else
{
    <h4>@T["Edit Post"]</h4>
    <span class="text-muted">@T["Edit the post below."]</span>
    <hr />
}



