@model HomeTopicViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Topics"]</h6>
    </card-title>
    <card-body>
        <h6>
            @T["No channels found!"]
        </h6>
    </card-body>
</card>

<card class="card mt-4">
    <card-title>
        @T["Top Participants"]
    </card-title>
    <card-body>

        John

    </card-body>
</card>
