@model TopicIndexViewModel

<card class="card card-body-flush">
    <card-title>
        
        
        <h6 class="card-title">
            @T["Latest Topics"]
        </h6>
    </card-title>
    <card-body>
        
     
        @await DisplayAsync(new View("TopicList", new
        {
            options = @Model.Options,
            pager = @Model.Pager
        }))

    </card-body>
</card>

     



