@using Plato.Internal.Models.Extensions
@model ReportOptions


<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">

        @await DisplayAsync(new View("EntityViewsByDateChart", new
        {
            options = @Model
        }))

    </div>
    <div class="col-lg-6 col-md-12 col-sm-12">
        
        @await DisplayAsync(new View("NewByDateChart", new
        {
            options = @Model
        }))

    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">

        @await DisplayAsync(new View("EntityViewsTopList", new
        {
            options = @Model
        }))

    </div>
    
    <div class="col-lg-6 col-md-12 col-sm-12">
        
        @await DisplayAsync(new View("EntityRepliesTopList", new
        {
            options = @Model
        }))
        
    </div>

</div>
