@model Topic

<a asp-controller="Home" asp-action="Edit" asp-route-id="@Model.Id" class="nav-link text-muted" role="button">
    <span title="@T["Edit"]" data-toggle="tooltip">
        <i class="fal fa-pencil"></i>
    </span>
</a>

