@{
    Layout = "";
    ViewData["Title"] = "Login";
}
   
@ViewData["data"] 

<form asp-controller="Banner" asp-action="Upload" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal"  enctype="multipart/form-data">
    
    <input type="file" name="file" />
    <br/><br/>
    <input type="submit" value="Upload" />
    
</form>