@model Moderator

<a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="Id" class="btn btn-secondary float-right">
    <i class="fal fa-pencil"></i>
    @T["Edit"]
</a>
@Model.CategoryName
