@model Moderator

<a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary float-right">
    <i class="fal fa-pencil"></i>
    @T["Edit"]
</a>

<a asp-route-controller="Admin" asp-route-action="Edit" asp-route-id="@Model.Id">
    @Model.CategoryName
</a>
