
<card class="card card-body-flush border-0">
    <card-body>
        <div class="list-group list-group-flush list-group-hover">
            <div class="row no-gutters">
                <navigation name="home" enable-list="false" />
            </div>
        </div>
    </card-body>
</card>


