
<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">
            @T["Welcome"]
        </h6>
    </card-title>
    <card-body>
        
        <div class="list-group list-group-flush list-group-hover">
            <div class="row no-gutters">
                <navigation name="home" enable-list="false" />
            </div>
        </div>
        

    </card-body>
</card>
