@model Plato.Categories.ViewModels.CategoryInputViewModel

<card>
    <card-title>
        <h6 class="card-title">
            @T["Channels"]
        </h6>
    </card-title>
    <card-body>

        @await DisplayAsync(new View("CategoryInput", new
        {
            selectedCategories = @Model.SelectedCategories,
            htmlName = @Model.HtmlName
        }))


    </card-body>
</card>
