@model StopForumSpamSettingsViewModel

<h4>@T[ViewData["Title"].ToString()]</h4>
<span class="text-muted">
    @T["Manage StopForumSpam.com integration settings. Grab your API key at "]
    <a href="http://stopforumspam.com/" target="_blank">
        @T["StopForumSpam.com"]
    </a>
</span>
<hr />