@model EntityIndexViewModel<Entity>

<card class="card card-body-flush">
    <card-title>

        <div class="nav navbar p-0 navbar-expand-lg navbar-light">
            <div class="d-flex align-items-center">
                <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbar-collapse2" aria-controls="navbar-collapse2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse w-100" id="navbar-collapse2" role="navigation">
                <navigation name="user-entities"
                            class="nav nav-tabs card-header-tabs w-100"
                            child-ul-css-class="dropdown-menu" />
            </div>
        </div>

    </card-title>
    <card-body>
        <ul class="list-group list-group-flush list-group-hover">
            @await DisplayAsync(new View("GetEntityList", new
            {
                options = @Model.Options,
                pager = @Model.Pager
            }))
        </ul>
</card-body>
</card>

     



