@model FeaturesViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">Manage Features</h6>
    </card-title>
    <card-body>
        
        @await DisplayAsync(new View("FeatureList", new
        {
            category = ""
        }))
        
    </card-body>
</card>


