
<h2>Users</h2>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a routerLink="/Users" routerLinkActive="active" data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="nav-link">Users</a>
    </li>
    <li class="nav-item">
        <a routerLink="/login" data-toggle="tooltip" data-placement="top" title="Tooltip on top" class="nav-link">Login</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>

<div class="ng-loader mt-3 mx-auto" [style.display]="getRouteLoaderDisplayState()">
    <div class="p-loader p-loader-2x p-loader-dark"></div>
    <h6 class="mt-2">Loading</h6>
</div>

<main [style.display]="getRouteOutletDisplayState()">
    <router-outlet></router-outlet>
</main>
