@model EditLabelViewModel

@if (Model.IsNewLabel)
{
    <h4>@T["Add Label"]</h4>
    <span class="text-muted">@T["Channels help group & organize conversations."]</span>
}
else
{
    <h4>@T["Edit Label"]</h4>
    <span class="text-muted">@T["Edit an existing channel."]</span>
}

<hr />



