@model EditEntityTagsViewModel

<input asp-for="Tags" 
       type="hidden"
       data-validation-optional="true"
       name="@Model.HtmlName" 
       id="@Model.HtmlName"/>

<authorize asp-permission="@Model.Permission.Name">
    <authorize-success>
        <div>
            <div class="list-left">
            </div>
            <div class="list-body">
        
                <card>
                    <card-body>

                        <fieldset>
                            
                            <div class="dropdown">
                                <ul class="tagit form-control list-inline" data-provide="tagTagIt" data-tagit-store="#@Model.HtmlName">
                                    <li class="tagit-list-item-input">
                                        <input type="text"
                                               autocomplete="off"
                                               class="form-control"
                                               data-validation-optional="true"
                                               data-autocomplete-target="#tagsDropDown"
                                               placeholder="@T["Optionally add up to 5 tags separated with a comma or by hitting enter / carriage return..."]">
                                    </li>
                                </ul>
                                <div id="tagsDropDown" class="dropdown-menu dropdown-menu-no-arrow col-12" role="menu">
                                    <p class="text-center">
                                        <i class="fal fa-spinner fa-spin"></i>
                                    </p>
                                </div>
                            </div>
                        </fieldset>

                    </card-body>
                </card>

            </div>
        </div>
    </authorize-success>
</authorize>