@model IEnumerable<object>
@{
    ViewData["Title"] = "Home Page";
}


<h2>Located Modules (from model)</h2>

<ul>
    @foreach (dynamic o in @Model)
    {
        <li>
            @o.Name - (@o.ID)
        </li>
        <br />
    }
</ul>

@await Component.InvokeAsync("Plato.Modules.Simple", new { value = "test" } )

@await Component.InvokeAsync("Plato.Modules.ContentBlock", new { value = "test" })


<br /><br />

<br /><br />

@ViewData["result"]

