@model  dynamic
@{
    ViewData["Title"] = "Home Page";
}

<!--
<ul>
    foreach (dynamic o in Model)
    {
        <li>
            o.Name - (o.ID)
        </li>
        <br />
    }
</ul>
    
await Component.InvokeAsync("Plato.Modules.Template", new { value = "test" } )
await Component.InvokeAsync("Plato.Modules.Login", new { value = "test" })
await Component.InvokeAsync("Plato.Modules.ContentArea", new { value = "test" })
    -->

@Model.Name

Display("Zone1", Model)
@await DisplayAsync("Zone1", new { model = @Model, edit = false })



-----------------------<br />
<component name="Plato.Modules.ContentArea" 
           params="new { model = @Model, edit = false }"></component>
<br />--------------------------

<!--
BuildElement("Plato.Modules.ContentArea")
    -->




@ViewData["result"]

