@model EditUserViewModel

@if (!Model.IsNewUser)
{
    <button type="submit" asp-route-controller="Admin" asp-route-action="Delete" asp-route-id="@Model.Id" data-provide="confirm" class="btn btn-danger" >
        @T["Delete User"]
    </button>
}



