@model EditUserViewModel

@if (Model.IsNewUser)
{
    <h4>@T["Add User"]</h4>
}
else
{
    <h4>
        @T["Edit User"] @Model.DisplayName
        @if (Model.IsVerified)
        {
            <span class="pip pip-primary">
                <i class="fal fa-check"></i>
            </span>
        }
    </h4>
    
}




