@using Plato.Internal.Abstractions.Settings
@model EditUserViewModel
@{
    var platoOpts = GetOptions<PlatoOptions>();
    var isAdmin = Model.UserName.Equals("admin", StringComparison.OrdinalIgnoreCase);
}

@if (isAdmin && platoOpts.DemoMode)
{
    <span class="d-inline-block disabled" data-toggle="tooltip" title="@T["This option is disabled within the demo"]">
        <a href="#" class="btn btn-danger disabled">
            @T["Delete"]
        </a>
    </span>
}
else
{
    if (!Model.IsNewUser)
     {
         <button type="submit" asp-route-controller="Admin" asp-route-action="Delete" asp-route-id="@Model.Id" data-provide="confirm" class="btn btn-danger" >
             @T["Delete User"]
         </button>
     }
}




