@model UserIndexViewModel

<nav class="navbar navbar-light bg-light justify-content-between">
    
    <form class="form-inline" asp-route-controller="Admin" asp-route-action="Index" method="get" enctype="multipart/form-data">
        <input class="form-control mr-sm-2" name="opts.search" value="@Model.Options.Search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>

    <a asp-route-controller="Admin" asp-route-action="Create" class="btn btn-primary ml-sm-2">
        <i class="fal fa-plus"></i>
        @T["Add User"]
    </a>

</nav>