@model Plato.Internal.Models.Users.User

<span class="text-muted">
    @T["Last login"] @Model.UserName
</span>

<ul class="nav nav-tabs mt-4">
    <li class="nav-item">
        <a class="nav-link active" href="#">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Discussions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Questions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Cases</a>
    </li>
</ul>







