@model EditUserViewModel

@if (Model.IsNewUser)
{
    <span class="text-muted">
        @T["Create a new user account."]
    </span>
}
else
{
    <span class="text-muted">
        @@@Model.UserName, @T["Last login"]
        <date utc="@Model.LastLoginDate"></date>
    </span>
}
<hr />




