@model User

<div class="bg-secondary text-light py-4">
    <div class="text-center py-4">
        <i class="fal fa-4x fa-badge mb-2"></i>
        <h4>New Member</h4>
        Just getting started
    </div>

</div>

<navigation
    name="admin"
    collaspsable="true"
    enable-child-list="false"
    class="list-group list-group-hover"
    link-css-class="nav-link list-group-item list-group-item-action"/>


<!--
<div class="list-group list-group-hover">

    <a class="list-group-item list-group-item-action" href="#">
        Personal Details
    </a>
    <a class="list-group-item list-group-item-action active" href="#">
        Reset Password
    </a>
    <a class="list-group-item list-group-item-action" href="#">
        Active
    </a>
    <a class="list-group-item list-group-item-action" href="#">
        Active
    </a>
    <a class="list-group-item list-group-item-action" href="#">
        Active
    </a>
    <a class="list-group-item list-group-item-action" href="#">
        Active
    </a>
            
</div>
-->