@model User

<card>
    <card-title>

        <div class="nav-v">
            <div class="navbar p-0 navbar-expand-lg navbar-light">

                <div class="d-flex align-items-center">
                    <button class="navbar-toggler my-2" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse flex-column" id="navbar-collapse" role="navigation">

                    <navigation name="userprofile"
                                class="nav nav-tabs card-header-tabs"
                                child-ul-css-class="dropdown-menu" />
                </div>
            </div>
        </div>

    </card-title>
    <card-body>
        XXXXXXXXXXXXXXXXXXXXXXXX
    </card-body>
</card>




