@using Plato.Users.Models
@model User

@{
    var details = Model.GetOrCreate<UserDetail>();
}

<div class="vcard form-group">

    <div class="profile-avatar vcard-photo">
        <div class="avatar-preview">
            <avatar id="avatarPreview" class="avatar" user-id="@Model.Id"/>
        </div>
    </div>

    <ul class="vcard-details">
        <li class="vcard-username text-muted">
            @@@Model.UserName
        </li>
        @if (!String.IsNullOrEmpty(details.Profile.Location))
        {
            <li class="vcard-location">
                <i class="fal fa-map-marker"></i> @details.Profile.Location
            </li>
        }
        @if (!String.IsNullOrWhiteSpace(details.Profile.Url))
        {
            <li  class="vcard-url">
                <i class="fal fa-link"></i>
                <a href="@details.Profile.Url">
                    @details.Profile.Url
                </a>
            </li>
        }
    </ul>

</div>



