@model EditSignatureViewModel

<div asp-validation-summary="All"></div>

<card>
    <card-title>
        <h6 class="card-title">@T["Signature"]</h6>
    </card-title>
    <card-body>
        @await DisplayAsync(new View("Editor", new
        {
            value = @Model.Signature,
            placeHolderText = T["Your signature will appear below any posts or comments..."],
            htmlName = @Model.EditorHtmlName,
            autoFocus = true
        }))
    </card-body>
</card>

<input type="hidden" asp-for="Id" />
