@model User

<div class="bg-info text-light py-4 flex-column">
    <div class="text-center py-4">
        
        <avatar class="avatar avatar-lg avatar-round" user-id="@Model.Id"/>
        <h6 class="mt-4">@Model.DisplayName</h6>
        Just getting started
    </div>

</div>

<div class="nav-v">

    <div class="navbar navbar-expand-lg bg-dark navbar-dark">

        <div class="d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse flex-column" id="navbar-collapse" role="navigation">
            <navigation name="user"
                        collaspsable="true"
                        class="navbar-nav d-lg-block"
                        child-ul-css-class="nav flex-column"
                        link-css-class="nav-link" />
        </div>
    </div>
</div>

