@model EditSettingsViewModel

<card>
    <card-title>
        <h6 class="card-title">
            @T["Settings"]
        </h6>
    </card-title>
    <card-body>
        
        <select asp-for="TimeZoneOffSet"
                asp-items="@Model.AvailableTimeZones"></select>
     
    </card-body>
</card>


<input type="hidden" asp-for="Id" />
