@model EditUserViewModel

<fieldset>
    <div class="form-group float-right">
        <a class="btn btn-danger" asp-route-action="Delete" asp-route-id="@Model.Id">@T["Delete User"]</a>
    </div>
</fieldset>

