@model UsersPagedViewModel

<card title="@T["Users"]">
    <ul class="list-group list-group-flush list-group-hover">
        @foreach (var user in Model.Results.Data)
        {
            @await DisplayAsync(new View("User.ListItem", user))
        }
    </ul>
</card>

<div class="mt-4 mb-4">
    <pager model="@Model.PagerOpts"></pager>
</div>


