@model UsersPaged

<h1>User List 2</h1>

<ul class="list-group">
    @foreach (var user in Model.Results.Data)
    {
        @await DisplayAsync(new GenericView("UserListItem", user))
    }
</ul>

<pager model="@Model.PagerOpts"></pager>


