@model EditUserViewModel

<input asp-for="Id" type="hidden"/>

<h2>Edit 1 for @Model.UserName</h2>
    
<div class="form-group" asp-validation-class-for="UserName">
    <label asp-for="UserName">@T["User name"]</label>
    <span asp-validation-for="UserName" class="text-danger">@T["The user name is required."]</span>
    <input asp-for="UserName" class="form-control" autofocus />
</div>

