@model ShareViewModel
@{
    Layout = null;
}

<div class="modal-header">
    <h6 class="modal-title">
        @T["Share"]
    </h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
            <i class="fal fa-times"></i>
        </span>
    </button>
</div>

<div class="modal-body" style="max-height: 550px; overflow: auto;">
    
    <input readonly value="@Model.EntityUrl" type="text" class="form-control col-12" />
    
</div>

<script>
    $(function (win, doc, $) {
        $(doc).ready(function () {
            $("#shareDialog").on('shown.bs.modal',
                function (e) {
                    $(this).find("input").select();
                });
        });
    }(window, document, jQuery));
</script>