@model EditModeratorViewModel

<card>
    <card-title>
        @if (Model.Moderator == null)
        {
        <h6 class="card-title">@T["Add Moderator"]</h6>
        }
        else
        {
        <h6 class="card-title">@T["Edit Moderator"]</h6>
        }
    </card-title>
    <card-body>

        <fieldset>
            <div class="form-group" asp-validation-class-for="Name">
                <label asp-for="Moderator.UserId"><strong>@T["Name"]</strong></label>
                <span asp-validation-for="Moderator.UserId" class="text-danger"></span>

                <div class="dropdown">
                    <input placeholder="@T["name your channel"]" asp-for="Moderator.UserId" class="form-control" type="text"
                           data-provide="autoComplete"
                           data-autocomplete-url="api/users/search?page={page}&pageSize={pageSize}"
                           data-autocomplete-value-field="username" />
                    <div class="dropdown-menu col-12" role="menu">
                        <p class="text-center">
                            <i class="fal fa-spinner fa-spin"></i>
                        </p>
                    </div>
                </div>
                
            </div>
            
            <div class="form-group">
                
                <input type="text" id="tagItStore"/>
                
                <hr/>
                
                <div class="dropdown">
                    <ul class="tagit form-control list-inline" data-provide="tagIt" data-tagit-store="#tagItStore">
                        <li class="tagit-list-item-input">
                            <input type="text"
                                   autocomplete="off"
                                   data-autocomplete-target="#moderators"
                                   data-autocomplete-url="api/users/search?page={page}&pageSize=5&username={username}"
                                   data-autocomplete-value-field="username"
                                   placeholder="search by name, email, company or phone number">
                        </li>
                    </ul>
                    <div id="moderators" class="dropdown-menu col-12" role="menu">
                        <p class="text-center">
                            <i class="fal fa-spinner fa-spin"></i>
                        </p>
                    </div>
                </div>

            </div>

        </fieldset>
  
     
         
     
    </card-body>
</card>
