@model EditModeratorViewModel

@if (Model.IsNewModerator)
{
    <h4>@T["Add Moderator"]</h4>
    <span class="text-muted">@T["Create a moderator to help manage discussions"]</span>
}
else
{
    <h4>@T["Edit Moderator"]</h4>
    <span class="text-muted">@T["Edit an existing moderator."]</span>
}

<hr />



