@model EditModeratorViewModel

<card>
    <card-title>
        @if (Model.Moderator == null)
        {
        <h6 class="card-title">@T["Add Moderator"]</h6>
        }
        else
        {
        <h6 class="card-title">@T["Edit Moderator"]</h6>
        }
    </card-title>
    <card-body>

        <fieldset>
            <div class="form-group" asp-validation-class-for="Name">
                <label asp-for="Moderator.UserId"><strong>@T["Name"]</strong></label>
                <span asp-validation-for="Moderator.UserId" class="text-danger"></span>
             
                    <div class="dropdown">
                        <input placeholder="@T["name your channel"]" asp-for="Moderator.UserId" class="form-control" type="text" data-provide="autoComplete" data-autocomplete-url="/api/users/search" data-autocomplete-value-field="username" />
                        <div class="dropdown-menu col-12">
                            <p class="text-center">
                                <i class="fal fa-spinner fa-spin"></i>
                            </p>
                        </div>
                    </div>
                    

              
            </div>
        </fieldset>
  
     
         
     
    </card-body>
</card>
