@model ForgotPasswordViewModel
@{
    AddTitleSegment(T["Account Activated"]);
}

<div class="layout">
    <div class="layout-header">
        <div class="layout-header-content">
            <h4>@T["Account Activated"]</h4>
            <div class="text-muted">
                @T["Your account has been successfully activated"]
            </div>
        </div>
    </div>
    <div class="layout-body">
        <div class="layout-content">
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        @T["Thank You. Your account has been activated. You can now login using the link below..."]
                    </p> 
                    <p>
                        <a asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login" class="btn btn-primary">
                            <i class="fal fa-lock"></i>
                            @T["Login"]
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
