@model ForgotPasswordViewModel
@{
    ViewData["Title"] = T["Activate Account"];
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <p>
            @T["Your account has been activated."]
            <br /><br/>
            <a asp-route-area="Plato.Users" asp-controller="Account" asp-route-action="Login" class="btn btn-primary">
                @T["Login"]
            </a>
        </p> 
    </div>
</div>
