@model ForgotPasswordViewModel
@{
    ViewData["Title"] = T["Confirm Email"];
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-md-6">
        <p>
            @T["If registered an email has been sent to the account email address. You must click the unique confirmation link within this email to confirm ownership of your email address."]
        </p> 
        <p>
            <a class="btn btn-primary" asp-route-area="Plato.Users" asp-route-controller="Account" asp-route-action="Login">
                @T["Login"]
            </a>
        </p>
    </div>
</div>
