@model ForgotPasswordViewModel
@{
    ViewData["Title"] = T["Confirm Email"];
}

<h2>@T["Thank You"]</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            @T["Your email address has been confirmed."] <a asp-route-area="Plato.Users" asp-controller="Account" asp-route-action="Login">@T["Log in"]</a>
        </p> 
    </div>
</div>
