@model ForgotPasswordViewModel
@{
    ViewData["Title"] = T["Forgot Password"];
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            @T["If registered an email has been sent to the account email address."]
        </p> 
    </div>
</div>
