@model ForgotPasswordViewModel
@{
    ViewData["Title"] = T["Forgot Password"];
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            @T["If registered an email has been sent to the account email address."]
            @T["if you don't receive the email please ensure you've "]
            <a asp-route-controller="Account" asp-route-action="ConfirmEmail">confirmed your email address</a>
        </p> 
    </div>
</div>
