@model LoginViewModel
@{
    ViewData["Title"] = T["Login"];
}

<h4>@ViewData["Title"]</h4>
<span class="text-muted">@T["Use a local account to log in"]</span>

<div class="row">
    <div class="col-md-6">
        <hr />
        @await DisplayAsync(new View("LoginForm", new
        {
            email = "",
            username = "",
            password = "",
            rememberMe = false
        }))
    </div>
</div>