@model ResetPasswordViewModel
@{
    AddTitleSegment(T["Password Reset Successfully"]);
}

<div class="layout">
    <div class="layout-header">
        <div class="layout-header-content">
            <h4>@T["Password Reset Successfully"]</h4>
            <span class="text-muted">@T["Your password has been reset"]</span>
        </div>
    </div>
    <div class="layout-body">
        <div class="layout-content">
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        @T["Your password has been reset successfully. Use the link below to login..."]
                    </p>
                    <p>
                        <a asp-route-area="Plato.Users" asp-controller="Account" asp-route-action="Login" class="btn btn-primary">
                            <i class="fal fa-lock mr-2"></i>
                            @T["Login"]
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

