@model UserBadgesViewModel

<div class="text-center">
    
    <div class="form-group">
        145 reputation, 85 badges
    </div>
    <ul class="badges-list">
        <li data-toggle="tooltip" title="@T["Gold Badges"]">

            <div class="badge-header badge-header-gold">
                12
            </div>
            <div class="badge badge-gold">
                <i class="fas fa-bookmark badge-bg"></i>
                <i class="fal badge-icon"></i>
            </div>
        </li>
        <li data-toggle="tooltip" title="@T["Silver Badges"]">
            <div class="badge-header badge-header-silver">
                26
            </div>
            <div class="badge badge-silver">
                <i class="fas fa-bookmark badge-bg"></i>
                <i class="fal badge-icon"></i>
            </div>
        </li>
        <li data-toggle="tooltip" title="@T["Bronze Badges"]">
            <div class="badge-header badge-header-bronze">
                48
            </div>
            <div class="badge badge-bronze">
                <i class="fas fa-bookmark badge-bg"></i>
                <i class="fal badge-icon"></i>
            </div>
        </li>
    </ul>
</div>
  
  
