@model EntityIndexOptions 

<div class="dropdown">
    <div class="search-input-group">
        <input data-provide="searchAutoComplete" 
               asp-for="Search" 
               type="search" 
               class="form-control" 
               autocomplete="off"
               placeholder="@T["Search for keywords..."]" />
        <div id="searchResults" class="dropdown-menu dropdown-menu-no-arrow w-100" role="menu">
            <p class="text-center">
                <i class="fal fa-spinner fa-spin"></i>
            </p>
        </div>
        <button type="submit" class="btn" role="button">
            <i class="fal fa-search"></i>
        </button>
    </div>
</div>