@model SearchIndexOptions 

<div class="input-group">
    <input asp-for="Search" type="search" class="form-control" placeholder="@T["Search..."]" autofocus />
    <button type="submit" class="btn btn-primary" role="button">
        @T["Search"]
    </button>
</div>
