@model SearchIndexOptions 

<div class="dropdown">
    <div class="input-group search-input-group">
        <input data-provide="searchAutoComplete" 
               asp-for="Search" 
               type="search" 
               class="form-control" 
               autocomplete="off"
               search-url=""
               placeholder="@T["Search for keywords..."]"
                />
        <div id="searchResults" class="dropdown-menu dropdown-menu-no-arrow col-12" role="menu">
            <p class="text-center">
                <i class="fal fa-spinner fa-spin"></i>
            </p>
        </div>
        <button type="submit" class="btn" role="button">
            <i class="fal fa-search text-primary"></i>
        </button>
    </div>
</div>