@model TopicReactionsViewModel

<ul class="reaction-list">
@foreach (var reaction in Model.Reactions)
{
    <li>
        <div class="m-2">
            <span class="emoji">
                @reaction.Key
            </span>
            <span class="mx-1">
                @reaction.Value.Count.ToPrettyInt()
            </span>
        </div>
    </li>
}
</ul>
