@model EditTagViewModel

@if (Model.IsNewTag)
{
    <h4>@T["Add Tag"]</h4>
    <span class="text-muted">@T["Tags help relate similar ideas."]</span>
}
else
{
    <h4>@T["Edit Tag"]</h4>
    <span class="text-muted">@T["Edit an existing tag."]</span>
}

<hr />



