@model EditEntityTagsViewModel

<div class="mt-0">
    <div class="list-left">
    </div>
    <div class="list-body">
        
        <card>
            <card-body>

                <fieldset>

                    <input asp-for="Tags" type="hidden" name="@Model.HtmlName" id="@Model.HtmlName"/>
                  
                    <div class="dropdown">
                        <ul class="tagit form-control list-inline" data-provide="tagTagIt" data-tagit-store="#@Model.HtmlName">
                            <li class="tagit-list-item-input">
                                <input type="text"
                                       class="form-control"
                                       autocomplete="off"
                                       data-validation-optional="true"
                                       data-autocomplete-target="#tagsDropDown"
                                       placeholder="@T["Optionally add up to 5 tags separated with a comma or by hitting enter / carriage return..."]">
                            </li>
                        </ul>
                        <div id="tagsDropDown" class="dropdown-menu dropdown-menu-no-arrow col-12" role="menu">
                            <p class="text-center">
                                <i class="fal fa-spinner fa-spin"></i>
                            </p>
                        </div>
                    </div>
                </fieldset>

            </card-body>
        </card>

    </div>
</div>


