@model CategoryBase

@if (@Model == null)
{
    <h4>@T["Channels"]</h4>
}
else
{
    <h4>@Model.Name</h4>
}

<span class="text-muted">@T["Channels help group & organize conversations."]</span>
<hr />


