@model EditChannelViewModel

@if (Model.Id > 0)
{
    <button type="submit" asp-controller="Admin" asp-action="Delete" asp-route-id="@Model.Id.ToString()" class="btn btn-danger btn-sm">
        <i class="fal fa-trash"></i>
        @T["Delete"]
    </button>
}



