@model EditChannelViewModel

@if (Model.Id == 0)
{
    <h4>@T["Add Channel"]</h4>
    <span class="text-muted">@T["Channels help group & organize conversations."]</span>
}
else
{
    <h4>@T["Edit Channel"]</h4>
    <span class="text-muted">@T["Edit an existing channel."]</span>
}

<hr />



