@model ChannelsViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Channels"]</h6>
    </card-title>
    <card-body>
      
        11111111111111111111111111111
        

    </card-body>
</card>

