@model ChannelsViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Channels"]</h6>
    </card-title>
    <card-body>
        <fieldset>
            <div class="input-group">
                <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
                <div class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fal fa-search"></i>
                    </div>
                </div>
            </div>
        </fieldset>
    </card-body>
</card>

