@model IView
@{
    ViewData["Title"] = "Manage Users";
}

<h4>@T["Manage Users"]</h4>
<span class="text-muted">@T["Manage your registered users"]</span>
<hr />


<a class="btn btn-danger" asp-area="Plato.Users" asp-controller="Admin" asp-action="LayoutTest">
    Layout Test
</a>

<view model="@Model"/>
