@model TagListViewModel

@if (Model.Tags != null)
{
    foreach (var tag in Model.Tags)
    {
        <div class="btn-group my-1">
            <a asp-route-area="Plato.Discuss.Tags" asp-route-controller="Home" asp-route-action="Display" asp-route-id="@tag.TagId" asp-route-alias="@tag.Alias" class="btn btn-sm label font-weight-bold">
                @tag.Name <span>x</span>@tag.TotalEntities.ToPrettyInt()
            </a>
        </div>
    }
}