@{
    AddTitleSegment(T["About Plato"]);
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center" style="background: url(/plato.site/content/images/bg14.png) bottom center repeat-x;">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="my-6 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold mx-auto w-70">
                    Modern Free Support Software
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4 mx-auto w-70">
                    Plato is free, open source user community & customer support software built upon .NET core
                </h2>
            </div>
        </div>
        <div class="col-12 max-h-700 overflow-hidden">
            <img alt="Plato Homepage Screen Grab" src="~/plato.site/content/images/home.png" class="img-fluid mx-auto w-80 d-inline-block" />

        </div>
    </div>
</section>


<!-- Key Features -->
<section class="page bg-light">
    <div class="container">

        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                    Key Features
                </h1>
                <hr class="divider primary my-4">
                <h3 class="font-weight-light">
                    Plato offers a full stack of software to help you collaborate with & support your users
                </h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 bg-white border">
                            <span class="icon-circle mb-4">
                                <i class="fal fa-4x fa-comment-alt"></i>
                            </span>
                            <strong class="d-block h4 mb-2">Discuss</strong>
                            <span class="d-block mb-0">
                                User Community
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 bg-white border">
                            <span class="icon-circle mb-4">
                                <i class="fal fa-4x fa-book-open"></i>
                            </span>
                            <strong class="d-block h4 mb-2">Docs</strong>
                            <span class="d-block mb-0">
                                Product Documentation
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 bg-white border">
                            <span class="icon-circle mb-4">
                                <i class="fal fa-4x fa-copy"></i>
                            </span>
                            <strong class="d-block h4 mb-2">Articles</strong>
                            <span class="d-block mb-0">
                                Knowledge Base
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 bg-white border">
                            <span class="icon-circle mb-4">
                                <i class="fal fa-4x fa-question"></i>
                            </span>
                            <strong class="d-block h4 mb-2">Questions</strong>
                            <span class="d-block mb-0">
                                Questions & Answers
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 bg-white border">
                            <span class="icon-circle mb-4">
                                <i class="fal fa-4x fa-lightbulb"></i>
                            </span>
                            <strong class="d-block h4 mb-2">Ideas</strong>
                            <span class="d-block mb-0">
                                Product Ideation
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 bg-white border" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Discuss">
                            <span class="icon-circle mb-4">
                                <i class="fal fa-4x fa-bug"></i>
                            </span>
                            <strong class="d-block h4 mb-2">Issues</strong>
                            <span class="d-block mb-0">
                                Issue tracking
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Features" data-provide="loader-spy">
                            Show Key Features
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!--  Hundreds of Extra Modules -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="p-5 bg-white">
                    <i class="fal fa-plus text-primary fa-4x mb-4"></i>
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Hundreds of Extra Modules
                    </h1>
                    <hr class="divider primary my-4">
                    <h3 class="font-weight-light">
                        Custom-fit Plato with hundreds of official modules. Add theming, notifications, reporting, social integrations & more with a single click via the dashboard.
                    </h3>
                    <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Modules" data-provide="loader-spy">
                        All Official Modules
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Who, What, Why -->
<section class="page bg-white">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <h1 class="font-weight-bold text-primary text-uppercase">
                    Who?
                </h1>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="font-weight-light">
                    Plato is developed and maintained by <a href="https://www.instantasp.co.uk/">InstantASP</a>.
                    We've been developing user community & customer support software for over 18 years. It's what we love.
                </h3>
            </div>
        </div>
        <hr />
        <div class="row mt-4">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <h1 class="font-weight-bold text-primary text-uppercase">
                    Why?
                </h1>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="font-weight-light">
                    Plato is our next evolution of customer support software. Written from scratch, we wanted to take everything we've learned over the last 18 years and develop a better. more modern customer support experience.
                </h3>
            </div>
        </div>
        <hr />
        <div class="row mt-4">
            <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                <h1 class="font-weight-bold text-primary text-uppercase">
                    Free?
                </h1>
            </div>
            <div class="col-12 col-lg-6">
                <h3 class="font-weight-light">
                    Yep, free forever. We want to create a thriving eco-system of <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Modules">modules</a> that extend & add value to Plato. We can't do this alone.
                </h3>
            </div>
        </div>
    </div>
</section>

<!-- Features you'll love -->
<section class="page bg-light">
    <div class="container">
        <!-- User Features -->
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                    Features your users will love
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Collaboration
                            </strong>
                            <span class="d-block mb-0">
                                Provide a modern user community to discuss and support your products.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Documentation
                            </strong>
                            <span class="d-block mb-0">
                                Provide beautiful, consistent articles & documentation all written in Markdown.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Answers
                            </strong>
                            <span class="d-block mb-0">
                                Help users find the answers they need quickly through dedicated Q&A.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Ideas
                            </strong>
                            <span class="d-block mb-0">
                                Prioritize through public ideation. Let users suggest new ideas or vote for their favorite ideas.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Single Search
                            </strong>
                            <span class="d-block mb-0">
                                Instantly search across all your discussions, documentation, questions, issues & ideas.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Notifications
                            </strong>
                            <span class="d-block mb-0">
                                Follow anything within Plato get notified via email or web when content is updated.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                    Features your team will love
                </h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Spam Protection
                            </strong>
                            <span class="d-block mb-0">
                                Plato integrates with 3rd party spam services to automatically detect and hide SPAM.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Simple Moderation
                            </strong>
                            <span class="d-block mb-0">
                                Simple moderation tools ensure your team can keep your community on topic.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Content Authoring
                            </strong>
                            <span class="d-block mb-0">
                                Compose beautiful, consistent articles or documentation easily with Markdown
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Audit History
                            </strong>
                            <span class="d-block mb-0">
                                A full history of all changes to topics, docs, articles, questions ideas & issues,
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Role Based Security
                            </strong>
                            <span class="d-block mb-0">
                                Private team or customer areas for discussion, docs, questions, ideas or issues.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Reports
                            </strong>
                            <span class="d-block mb-0">
                                Plato offers several reporting modules providing insight into your community & support
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase text-primary font-weight-bold mt-4">Features your devs will love</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12 col-lg-4 mb-4">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        .NET Core
                    </strong>
                    <span class="d-block mb-0">
                        Written to target .NET Core & MVC6. All 100% .NET Standard 2.x class libraries.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        Bootstrap 4
                    </strong>
                    <span class="d-block mb-0">
                        Plato uses 100% Bootstrap 4 ensuring your front-end devs will love Plato.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        Visual Studio
                    </strong>
                    <span class="d-block mb-0">
                        Plato works great in either Visual Studio 2017 or 2019. Download, open & run.
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        100% DI
                    </strong>
                    <span class="d-block mb-0">
                        Plato uses dependency injection provided as standard by .NET core throughout.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        Modular Design
                    </strong>
                    <span class="d-block mb-0">
                        Modules are small independent NuGet packages that add features to Plato.
                    </span>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <div class="d-block p-5 text-center bg-white border">
                    <strong class="d-block h4 mb-2">
                        Beautiful C#
                    </strong>
                    <span class="d-block mb-0">
                        Written 100% in C# from scratch with no 3rd party libraries or dependencies.
                    </span>
                </div>
            </div>
        </div>



    </div>
</section>


<!-- The Module System -->
<section class="page bg-white">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase text-primary font-weight-bold">
                    BUILT FOR EXTENSION
                </h1>
                <h3 class="font-weight-light my-4">
                    Everything within Plato is a module. The Plato module system offers the following benefits...
                </h3>
                <hr class="divider primary my-4">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Auto Discovery
                            </strong>
                            <span class="d-block mb-0">
                                Plato will automatically detect newly installed modules and check compatibility.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                One Click Install
                            </strong>
                            <span class="d-block mb-0">
                                Modules can be enabled or disabled anytime via the Plato administrator dashboard.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center  bg-white border">
                            <strong class="d-block h4 mb-2">Auto Upgrades</strong>
                            <span class="d-block mb-0">
                                Plato offers automated detection and upgrading of out of date modules.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">
                                Events & Messages
                            </strong>
                            <span class="d-block mb-0">
                                Modules can hook into hundreds of events exposed via the Plato message broker.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">Interfaces</strong>
                            <span class="d-block mb-0">
                                Plato exposes hundreds of interfaces developers can implement to extend Plato.
                            </span>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 mb-4">
                        <div class="d-block p-5 text-center bg-white border">
                            <strong class="d-block h4 mb-2">Versioning</strong>
                            <span class="d-block mb-0">
                                As modules are versioned they can be released independently of the Plato core.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- An Extensible Modular Architecture -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="p-5 bg-white">
            <div class="row">
                <div class="col-12 text-center text-lg-left ">
                    <img alt="Plato Logo" src="~/plato.site/content/images/vsmodules.png" class="img-md-fluid float-none float-lg-right mx-md-auto max-w-500 d-inline-block ml-lg-5 mb-4 mb-lg-0" />
                    <h1 class="font-weight-bold text-primary text-uppercase">
                        An Extensible Modular Architecture
                    </h1>
                    <p class="mt-4">
                        Plato is built from the ground up to be super extensible via the built-in module system.
                        All of the features offered by Plato are offered as modules and built upon this same module system - even the module system is a module.
                    </p>
                    <p>
                        Modules are independent NuGet packages or Visual Studio projects that can extend Plato to add or modify functionality. Plato exposes hundreds of extensibility points allowing module developers to easily customize every aspect of Plato.
                    </p>
                    <p>
                        You can see various module projects provided with Plato opposite within the Visual Studio solution explorer.
                    </p>
                    <p>
                        <h3 class="font-weight-light">
                            <a class="btn btn-primary btn-lg my-4" href="https://github.com/InstantASP/plato/tree/master/src/Plato/Modules" target="_blank">
                                <i class="fab fa-github align-middle mr-2"></i>Browse modules on GitHub
                            </a>
                        </h3>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Explore key features
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Features" data-provide="loader-spy">
                    Key Features
                </a>
            </div>
        </div>
    </div>
</section>