
<canvas class="w-100 h-100 position-fixed" style="z-index: -1;" data-provide="plato-canvas"></canvas>

<!-- Discuss New -->
<section class="flex-column d-flex bg-black text-center">
    <div class="row">
        <div class="col-12">
            <div class="my-6 mx-auto max-w-600">
                <div class="plato-brand plato-brand-md mb-4"></div>
                <h1 class="display-4 text-white">
                    Discuss
                </h1>
                <hr class="divider border-primary" />
                <h2 class="text-white font-weight-light my-4">
                    A modern, spam free community platform
                </h2>

            </div>
        </div>
        <div class="col-12 max-h-700 overflow-hidden">
            <img alt="Plato Dashboard Screen Grab" src="~/plato.site/content/images/discuss.png" class="img-fluid mx-auto w-80 d-inline-block" />
        </div>
    </div>
</section>

<!-- Features -->
<section class="page bg-black">
    <div class="container">
        <div class="p-5 bg-black text-center">

            <div class="row">
                <div class="col-12">
                    <h1 class="text-white font-weight-bold">
                        Share & Support Your Products
                    </h1>
                    <hr class="divider primary my-4">
                    <h3 class="text-white font-weight-light">
                        Everything you need to deliver a simple support experience
                    </h3>
                </div>
            </div>

            <hr class="border-dark my-5" />

            <div class="row">

                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-comment-alt text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Discuss</h3>
                                <p class="mb-0 text-muted">Our themes are updated regularly to keep them bug free!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-book-open text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Docs</h3>
                                <p class="mb-0 text-muted">You can use this design as is, or you can make changes!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-copy text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Articles</h3>
                                <p class="mb-0 text-muted">All dependencies are kept current to keep things fresh.</p>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-question-circle text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Questions</h3>
                                <p class="mb-0 text-muted">Our themes are updated regularly to keep them bug free!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-lightbulb text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Ideas</h3>
                                <p class="mb-0 text-muted">You can use this design as is, or you can make changes!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-bug text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Issues</h3>
                                <p class="mb-0 text-muted">All dependencies are kept current to keep things fresh.</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <hr class="border-dark my-5" />

            <div class="row">
                <div class="col-12">
                    <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                    <h1 class="text-uppercase text-white font-weight-bold">
                        A Single Platform
                    </h1>
                    <hr class="divider primary my-4">
                    <h3 class="text-muted font-weight-light">
                        Plato.Discuss is just one of hundreds of modules available for Plato.

                    </h3>
                    <a class="btn btn-primary btn-lg my-4" href="#">All Offical Modules</a>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Bootstrap -->
<section class="flex-column flex-lg-row bg-white no-gutters full-page d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 order-lg-2 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto p-5 bg-primary max-w-600">
            <h1 class="display-4 text-white">
                Built with Bootstrap
            </h1>
            <hr class="divider light my-4" />
            <h3 class="text-white font-weight-light my-4">
                Plato offers both dark and light fully responsive Bootstrap 4 themes. You can customize Plato further using our built-in theming module.
            </h3>
            <a class="btn btn-light btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 order-lg-1 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="~/plato.site/content/images/dashboard.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>


<!-- Pricing -->
<section class="page skewed-right bg-primary">
    <div class="container">
        <div class="p-5  bg-black text-center">
            <div class="row">
                <div class="col-lg-6">
                    <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Demo
                    </h1>
                    <hr class="divider primary my-4">
                    <h4 class="text-white font-weight-light">
                        Try our live demo of Plato.
                    </h4>
                    <a class="btn btn-primary btn-lg my-4" href="#">All Features</a>
                </div>
                <div class="col-lg-6">
                    <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Docs
                    </h1>
                    <hr class="divider primary my-4">
                    <h4 class="text-white font-weight-light">
                        Browse the docs for Plato.
                    </h4>
                    <a class="btn btn-primary btn-lg my-4" href="#">All Features</a>
                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/4.0.3/babylon.js"></script>
    <script src="https://unpkg.com/earcut@2.1.1/dist/earcut.min.js"></script>
    <script src="~/plato.site/content/js/home/logo-canvas.js"></script>
    <script src="~/plato.site/content/js/home/plato-canvas.js"></script>
}
