@{
    ViewData["Title"] = "Plato - Feature Packed Support";
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center" style="background: url(/plato.site/content/images/bg14.png) bottom right no-repeat;">
    <div class="row">
        <div class="col-12">
            <div class="my-6 w-80 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                    Feature Packed Support
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4">
                    Everything you need within a single platform to collaborate with & support your users
                </h2>

            </div>
        </div>
        <div class="col-12 max-h-700 overflow-hidden">
            <img alt="Plato Homepage Screen Grab" src="~/plato.site/content/images/home.png" class="img-fluid mx-auto w-80 d-inline-block" />
        </div>
    </div>
</section>

<!-- Features -->
<section class="page bg-light" style="background-image: url(/plato.site/content/images/bg14.png); background-position: bottom right; background-repeat: no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="icon-circle text-white bg-primary mb-4">
                    <i class="fal fa-4x fa-comment-alt"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Discuss
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Discuss adds a fully featured user community to Plato.
                </h3>
                <a href="~/plato.site/content/images/discuss.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Discuss Screen Grab" src="~/plato.site/content/images/discuss.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle text-white bg-info mb-4">
                    <i class="fal fa-4x fa-book-open"></i>
                </span>
                <h1 class="text-info text-uppercase font-weight-bold">
                    Docs
                </h1>
                <hr class="divider border-info my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Docs adds beautiful product documentation all written in Markdown to Plato.
                </h3>
                <a href="~/plato.site/content/images/docs.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Docs Screen Grab" src="~/plato.site/content/images/docs.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>

            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle text-white bg-success mb-4">
                    <i class="fal fa-4x fa-copy"></i>
                </span>
                <h1 class="text-success text-uppercase font-weight-bold">
                    Articles
                </h1>
                <hr class="divider border-success my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Articles adds a searchable online knowledgebase to Plato.
                </h3>
                <a href="~/plato.site/content/images/articles.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Articles Screen Grab" src="~/plato.site/content/images/articles.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>

            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle text-white bg-yellow mb-4">
                    <i class="fal fa-4x fa-question"></i>
                </span>
                <h1 class="text-yellow text-uppercase font-weight-bold">
                    Questions
                </h1>
                <hr class="divider border-yellow my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Questions adds public or private Q&A to Plato.
                </h3>
                <a href="~/plato.site/content/images/questions.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Questions Screen Grab" src="~/plato.site/content/images/questions.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>

            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle text-white bg-warning mb-4">
                    <i class="fal fa-4x fa-lightbulb"></i>
                </span>
                <h1 class="text-warning text-uppercase font-weight-bold">
                    Ideas
                </h1>
                <hr class="divider border-warning my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Ideas adds public or private ideation to Plato.
                </h3>
                <a href="~/plato.site/content/images/ideas.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Ideas Screen Grab" src="~/plato.site/content/images/ideas.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>

            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle text-white bg-danger mb-4">
                    <i class="fal fa-4x fa-bug"></i>
                </span>
                <h1 class="text-danger text-uppercase font-weight-bold">
                    Issues
                </h1>
                <hr class="divider border-danger my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Issues added public or private issues tracking to Plato.
                </h3>
                <a href="~/plato.site/content/images/issues.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Issues Screen Grab" src="~/plato.site/content/images/issues.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12">
                <div class="p-5 text-center bg-white">
                    <div class="row">
                        <div class="col-12">
                            <i class="fal fa-plus text-primary fa-4x mb-4"></i>

                            <h1 class="text-uppercase text-primary font-weight-bold">
                                Hundreds of Modules
                            </h1>
                            <hr class="divider primary my-4" />
                            <h3 class="font-weight-light">
                                Custom-fit Plato with hundreds of official modules. Add theming, notifications, reporting, social integrations & more with a single click via the dashboard.
                            </h3>
                            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                                All Modules
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Explore The Demo -->
<section class="page bg-white">
    <div class="container">
        <div class="p-5 text-center bg-white">
            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Explore The Demo
                    </h1>
                    <hr class="divider primary my-4" />
                    <h3 class="font-weight-light">
                        Take Plato for a spin. The demo provides access to a default administrator account so you can fully explore Plato. Questions? <a href="#">Get in touch</a>
                    </h3>
                    <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                        Launch Demo
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Features -->
<section class="page bg-light">
    <div class="container">
        <!-- User Features -->
        <div class="p-5 bg-white text-center">

            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mt-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                        Features your users will love
                    </h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Collaboration
                                </strong>
                                <span class="d-block mb-0">
                                    Provide a modern user community to discuss and support your products.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Documentation
                                </strong>
                                <span class="d-block mb-0">
                                    Provide beautiful, consistent articles & documentation all written in Markdown.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Answers
                                </strong>
                                <span class="d-block mb-0">
                                    Help users find the answers they need quickly through dedicated Q&A.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Ideas
                                </strong>
                                <span class="d-block mb-0">
                                    Let your users suggest new ideas or vote for their favorite ideas.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Single Search
                                </strong>
                                <span class="d-block mb-0">
                                    Instantly search across all your discussions, documentation, questions, issues & ideas.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border">
                                <strong class="d-block h4 mb-2">
                                    Notifications
                                </strong>
                                <span class="d-block mb-0">
                                    Follow anything within Plato get notified via email or web when content is updated.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mt-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                        Features your team will love
                    </h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border">
                                <strong class="d-block h4 mb-2">
                                    Spam Protection
                                </strong>
                                <span class="d-block mb-0">
                                    Plato integrates with 3rd party spam services to automatically detect and hide SPAM.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Simple Moderation
                                </strong>
                                <span class="d-block mb-0">
                                    Simple moderation tools ensure your team can keep your community on topic.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Content Authoring
                                </strong>
                                <span class="d-block mb-0">
                                    Compose beautiful, consistent articles or documentation easily with Markdown
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Audit History
                                </strong>
                                <span class="d-block mb-0">
                                    A full history of all changes to topics, docs, articles, questions ideas & issues,
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border">
                                <strong class="d-block h4 mb-2">
                                    Role Based Security
                                </strong>
                                <span class="d-block mb-0">
                                    Private team or customer areas for discussion, docs, questions, ideas or issues.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border">
                                <strong class="d-block h4 mb-2">
                                    Reports
                                </strong>
                                <span class="d-block mb-0">
                                    Plato offers several reporting modules providing insight into your community & support
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mt-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold mt-4">
                        Features your devs will love
                    </h1>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    .NET Core
                                </strong>
                                <span class="d-block mb-0">
                                    Written to target .NET Core & MVC6. All 100% .NET Standard 2.x class libraries.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    Bootstrap 4
                                </strong>
                                <span class="d-block mb-0">
                                    Plato uses 100% Bootstrap 4 ensuring your front-end devs will love Plato.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border">
                                <strong class="d-block h4 mb-2">
                                    Visual Studio
                                </strong>
                                <span class="d-block mb-0">
                                    Plato works great in either Visual Studio 2017 or 2019. Download, open & run.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border">
                                <strong class="d-block h4 mb-2">
                                    100% DI
                                </strong>
                                <span class="d-block mb-0">
                                    Plato uses dependency injection provided by .NET core throughout.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border">
                                <strong class="d-block h4 mb-2">
                                    Modular Design
                                </strong>
                                <span class="d-block mb-0">
                                    Modules are small independent NuGet packages that add features to Plato.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border">
                                <strong class="d-block h4 mb-2">
                                    Beautiful C#
                                </strong>
                                <span class="d-block mb-0">
                                    Written 100% in C# from scratch with no 3rd party libraries or dependencies.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Ready to make Plato your support hub?
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>