@{
    AddTitleSegment(T["Key Features?"]);
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="my-6 w-80 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold mx-auto w-70">
                    Feature Packed Support
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4 mx-auto w-70">
                    Everything you need within a single platform to collaborate with & support your users
                </h2>
            </div>
        </div>
       
    </div>
</section>

<!-- Features -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <span class="icon-circle text-white mb-4">
                    <i class="fal fa-4x fa-comment-alt"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Discuss
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Discuss adds a fully featured user community to Plato.
                </h3>
                <a href="~/plato.site/content/images/discuss.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Discuss Screen Grab" src="~/plato.site/content/images/discuss.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle text-white mb-4">
                    <i class="fal fa-4x fa-book-open"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Docs
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Docs adds beautiful product documentation all written in Markdown to Plato.
                </h3>
                <a href="~/plato.site/content/images/docs.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Docs Screen Grab" src="~/plato.site/content/images/docs.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>

            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-copy"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Articles
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Articles adds a searchable online knowledgebase to Plato.
                </h3>
                <a href="~/plato.site/content/images/articles.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Articles Screen Grab" src="~/plato.site/content/images/articles.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-question"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Questions
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Questions adds public or private Q&A to Plato.
                </h3>
                <a href="~/plato.site/content/images/questions.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Questions Screen Grab" src="~/plato.site/content/images/questions.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-lightbulb"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Ideas
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Ideas adds public or private ideation to Plato.
                </h3>
                <a href="~/plato.site/content/images/ideas.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Ideas Screen Grab" src="~/plato.site/content/images/ideas.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12 text-center">
                <span class="icon-circle mb-4">
                    <i class="fal fa-4x fa-bug"></i>
                </span>
                <h1 class="text-primary text-uppercase font-weight-bold">
                    Issues
                </h1>
                <hr class="divider border-primary my-4" />
                <h3 class="font-weight-light my-4">
                    Plato.Issues added public or private issues tracking to Plato.
                </h3>
                <a href="~/plato.site/content/images/issues.png" class="img-thumbnail mt-4 border box-shadow" target="_blank">
                    <img alt="Plato.Issues Screen Grab" src="~/plato.site/content/images/issues.png" class="img-fluid mx-auto w-100 d-block" />
                    <div class="img-caption">
                        <i class="fal fa-image"></i> Click to enlarge
                    </div>
                </a>
            </div>
        </div>
        <div class="row mt-6">
            <div class="col-12">
                <div class="p-5 text-center bg-white">
                    <div class="row">
                        <div class="col-12">
                            <i class="fal fa-plus text-primary fa-4x mb-4"></i>
                            <h1 class="text-uppercase text-primary font-weight-bold">
                                Hundreds of Modules
                            </h1>
                            <hr class="divider primary my-4" />
                            <h3 class="font-weight-light">
                                Custom-fit Plato with hundreds of official modules. Add theming, notifications, reporting, social integrations & more with a single click via the dashboard.
                            </h3>
                            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Modules">
                                All Official Modules
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Explore The Demo -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="p-5 text-center bg-white">
            <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
            <h1 class="text-uppercase text-primary font-weight-bold">
                Explore The Demo
            </h1>
            <hr class="divider primary my-4" />
            <h3 class="font-weight-light">
                Take Plato for a spin. The demo provides access to a default administrator account so you can fully explore Plato. Questions? <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Contact">Get in touch</a>
            </h3>
            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                Launch Demo
            </a>
        </div>
    </div>
</section>

<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Ready to make Plato your support hub?
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>