@{
    ViewData["Title"] = "Plato - Features";
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center" style="background: url(/plato.site/content/images/bg14.png) bottom right no-repeat;">
    <div class="row">
        <div class="col-12">
            <div class="my-6 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="display-4 text-primary">
                    Better, faster customer support... free
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4">
                    Plato offers everything you need to support & collaborate with your users - and it's free
                </h2>

            </div>
        </div>
        <div class="col-12 max-h-700 overflow-hidden">
            <img alt="Plato Dashboard Screen Grab" src="~/plato.site/content/images/home.png" class="img-fluid mx-auto w-80 d-inline-block" />
        </div>
    </div>
</section>

<!-- User Features -->
<section class="page">
    <div class="container">
        <div class="p-5 bg-white text-center">
            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Features your users will love
                    </h1>
                    <hr class="divider primary my-4">
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Collaboration
                                </strong>
                                <span class="d-block mb-0">
                                    Provide a modern user community to discuss and support your products.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Documentation
                                </strong>
                                <span class="d-block mb-0">
                                    Provide beautiful, consistent articles & documentation all written in Markdown.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Answers
                                </strong>
                                <span class="d-block mb-0">
                                    Help users find the answers they need quickly through dedicated Q&A.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Ideation
                                </strong>
                                <span class="d-block mb-0">
                                    Let your users suggest new ideas or vote for their favorite ideas.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Interfaces
                                </strong>
                                <span class="d-block mb-0">
                                    Plato exposes hundreds of interfaces developers can implement to extend Plato.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Reactions & Emoji 
                                </strong>
                                <span class="d-block mb-0">
                                    As modules are versioned they can be released independently of the core Plato code.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
        </div>
    </div>
</section>

<!-- Team Features -->
<section class="page">
    <div class="container">
        <div class="p-5 bg-white text-center">
            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Features your team will love
                    </h1>
                    <hr class="divider primary my-4">
                   
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Simple Collaboration
                                </strong>
                                <span class="d-block mb-0">
                                    Plato will automatically detect newly installed modules and check compatibility.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Simple Content Authoring
                                </strong>
                                <span class="d-block mb-0">
                                    Modules can be enabled or disabled anytime via the Plato administrator dashboard.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Spam Protection
                                </strong>
                                <span class="d-block mb-0">
                                    Plato offers automated detection and upgrading of out of date modules.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Audit History
                                </strong>
                                <span class="d-block mb-0">
                                    Modules can hook into hundreds of events exposed via the Plato message broker.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Markdown
                                </strong>
                                <span class="d-block mb-0">
                                    Plato exposes hundreds of interfaces developers can implement to extend Plato.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Detailed Reporting
                                </strong>
                                <span class="d-block mb-0">
                                    As modules are versioned they can be released independently of the core Plato code.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Developer Features -->
<section class="page">
    <div class="container">
        <div class="p-5 bg-white text-center">
            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Features your developers will love
                    </h1>
                    <hr class="divider primary my-4">
                    <h3 class="font-weight-light">
                        Plato is built upon modules. Modules are independent NuGet packages that can hook into Plato adding additional functionality without modifying the core code.
                        The module system built into Plato offers the following benefits...
                    </h3>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Simple Collaboration
                                </strong>
                                <span class="d-block mb-0">
                                    Plato will automatically detect newly installed modules and check compatibility.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Simple Content Authoring
                                </strong>
                                <span class="d-block mb-0">
                                    Modules can be enabled or disabled anytime via the Plato administrator dashboard.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Spam Protection
                                </strong>
                                <span class="d-block mb-0">
                                    Plato offers automated detection and upgrading of out of date modules.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Events & Messages
                                </strong>
                                <span class="d-block mb-0">
                                    Modules can hook into hundreds of events exposed via the Plato message broker.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">Interfaces</strong>
                                <span class="d-block mb-0">
                                    Plato exposes hundreds of interfaces developers can implement to extend Plato.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">Versioning</strong>
                                <span class="d-block mb-0">
                                    As modules are versioned they can be released independently of the core Plato code.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/octocat-icon.png" alt="GitHub Octocat Logo" title="GitHub Octocat Logo" class="max-w-100 mb-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Browse all official modules on GitHub
                    </h1>
                    <hr class="divider primary my-4">
                    <a class="btn btn-primary btn-lg my-4" href="https://github.com/InstantASP/plato/tree/master/src/Plato/Modules">All Features</a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Modules -->
<section class="page">
    <div class="container">
        <div class="p-5 bg-white text-center">
            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Built for Extension
                    </h1>
                    <hr class="divider primary my-4">
                    <h3 class="font-weight-light">
                        Plato is built upon modules. Modules are independent NuGet packages that can hook into Plato adding additional functionality without modifying the core code.
                        The module system built into Plato offers the following benefits...
                    </h3>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Auto Discovery
                                </strong>
                                <span class="d-block mb-0">
                                    Plato will automatically detect newly installed modules and check compatibility.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    One Click Install
                                </strong>
                                <span class="d-block mb-0">
                                    Modules can be enabled or disabled anytime via the Plato administrator dashboard.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">Auto Upgrades</strong>
                                <span class="d-block mb-0">
                                    Plato offers automated detection and upgrading of out of date modules.
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">
                                    Events & Messages
                                </strong>
                                <span class="d-block mb-0">
                                    Modules can hook into hundreds of events exposed via the Plato message broker.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">Interfaces</strong>
                                <span class="d-block mb-0">
                                    Plato exposes hundreds of interfaces developers can implement to extend Plato.
                                </span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-4">
                            <div class="d-block p-5 text-center border border border-bottom-4 border-bottom-primary">
                                <strong class="d-block h4 mb-2">Versioning</strong>
                                <span class="d-block mb-0">
                                    As modules are versioned they can be released independently of the core Plato code.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <img src="~/plato.site/content/images/octocat-icon.png" alt="GitHub Octocat Logo" title="GitHub Octocat Logo" class="max-w-100 mb-4" />
                    <h1 class="text-uppercase text-primary font-weight-bold">
                        Browse all official modules on GitHub
                    </h1>
                    <hr class="divider primary my-4">
                    <a class="btn btn-primary btn-lg my-4" href="https://github.com/InstantASP/plato/tree/master/src/Plato/Modules">All Features</a>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Discuss -->
<section class="flex-column flex-lg-row bg-white no-gutters full-page d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 order-lg-2 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto p-5 bg-primary max-w-600">
            <h1 class="display-4 text-white">
                Discuss
            </h1>
            <hr class="divider light my-4" />
            <h3 class="text-white font-weight-light my-4">
                Plato offers both dark and light fully responsive Bootstrap 4 themes. You can customize Plato further using our built-in theming module.
            </h3>
            <a class="btn btn-light btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 order-lg-1 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="~/plato.site/content/images/discuss.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>


<!-- Feature -->
<section class="page">
    <div class="container">
        <div class="p-5 bg-white">

            <div class="row">
                <div class="col-12">
                    <h1 class="text-primary text-uppercase font-weight-bold">
                        Common Features
                    </h1>

                    <h3 class="font-weight-light">
                        Common features shared across all modules...
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6 my-3">
                    <h1 class="text-primary font-weight-bold mt-4 mt-lg-0">
                        Trust
                    </h1>
                    <p class="my-4">
                        Automation and simple tools help keep your Plato community clean and free of spam.
                        <ul class="list-inline">
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated spam protection
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated spam notifications
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated trust system
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Simple reporting tools
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Simple moderation tools
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="col-12 col-lg-6 my-3">
                    <h1 class="text-primary font-weight-bold mt-4 mt-lg-0">
                        Engage
                    </h1>
                    <p class="my-4">
                        Plato.Discuss offers a number of fun ways for your users to engage and simple controls to ensure they never miss a post.
                        <ul class="list-inline">
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                @@mention users within posts
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Post emoji reactions or emoji in posts
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Star topics
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Simple notification controls
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Follow anything (topics, tags, labels, categories)
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                            </li>
                        </ul>
                    </p>
                </div>

                <div class="col-12 col-lg-6 my-3">
                    <h1 class="text-primary font-weight-bold mt-4 mt-lg-0">
                        Inte
                    </h1>
                    <p class="my-4">
                        Plato.Discuss is one of hundreds of modules available for Plato. Modules work together and complement one another.

                        <ul class="list-inline">
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Integrated Search Results
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated Spam Protection
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated Spam Protection
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated Spam Protection
                            </li>
                        </ul>

                    </p>
                </div>
                <div class="col-12 col-lg-6 my-3">
                    <h1 class="text-primary font-weight-bold mt-4 mt-lg-0">
                        Engage
                    </h1>
                    <p class="my-4">
                        Plato is free and open source. You can download the code or contribute back to improve the project on GitHub.

                        <ul class="list-inline">
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated Spam Protection
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated Spam Protection
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated Spam Protection
                            </li>
                            <li class="list-inline-item d-block my-2">
                                <i class="fal fa-check"></i>
                                Automated Spam Protection
                            </li>
                        </ul>

                    </p>
                </div>

            </div>

        </div>
    </div>
</section>

<!-- Features -->
@*<section class="page bg-black">
        <div class="container">
            <div class="p-5 bg-black text-center">

                <div class="row">
                    <div class="col-12">
                        <h1 class="text-white font-weight-bold">
                            Share & Support Your Products
                        </h1>
                        <hr class="divider primary my-4">
                        <h3 class="text-white font-weight-light">
                            Everything you need to deliver a simple support experience
                        </h3>
                    </div>
                </div>

                <hr class="border-dark my-5" />

                <div class="row">

                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 text-center">
                                <div class="my-5">
                                    <i class="fal fa-4x fa-comment-alt text-primary mb-4"></i>
                                    <h3 class="h4 text-white mb-2">Discuss</h3>
                                    <p class="mb-0 text-muted">Our themes are updated regularly to keep them bug free!</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 text-center">
                                <div class="my-5">
                                    <i class="fal fa-4x fa-book-open text-primary mb-4"></i>
                                    <h3 class="h4 text-white mb-2">Docs</h3>
                                    <p class="mb-0 text-muted">You can use this design as is, or you can make changes!</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 text-center">
                                <div class="my-5">
                                    <i class="fal fa-4x fa-copy text-primary mb-4"></i>
                                    <h3 class="h4 text-white mb-2">Articles</h3>
                                    <p class="mb-0 text-muted">All dependencies are kept current to keep things fresh.</p>
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 text-center">
                                <div class="my-5">
                                    <i class="fal fa-4x fa-question-circle text-primary mb-4"></i>
                                    <h3 class="h4 text-white mb-2">Questions</h3>
                                    <p class="mb-0 text-muted">Our themes are updated regularly to keep them bug free!</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 text-center">
                                <div class="my-5">
                                    <i class="fal fa-4x fa-lightbulb text-primary mb-4"></i>
                                    <h3 class="h4 text-white mb-2">Ideas</h3>
                                    <p class="mb-0 text-muted">You can use this design as is, or you can make changes!</p>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 text-center">
                                <div class="my-5">
                                    <i class="fal fa-4x fa-bug text-primary mb-4"></i>
                                    <h3 class="h4 text-white mb-2">Issues</h3>
                                    <p class="mb-0 text-muted">All dependencies are kept current to keep things fresh.</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <hr class="border-dark my-5" />

                <div class="row">
                    <div class="col-12">
                        <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                        <h1 class="text-uppercase text-white font-weight-bold">
                            A Single Platform
                        </h1>
                        <hr class="divider primary my-4">
                        <h3 class="text-muted font-weight-light">
                            Plato.Discuss is just one of hundreds of modules available for Plato.

                        </h3>
                        <a class="btn btn-primary btn-lg my-4" href="#">All Offical Modules</a>
                    </div>
                </div>
            </div>

        </div>
    </section>*@

<!-- Bootstrap -->
<section class="flex-column flex-lg-row bg-white no-gutters full-page d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 order-lg-2 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto p-5 bg-primary max-w-600">
            <h1 class="display-4 text-white">
                Built with Bootstrap
            </h1>
            <hr class="divider light my-4" />
            <h3 class="text-white font-weight-light my-4">
                Plato offers both dark and light fully responsive Bootstrap 4 themes. You can customize Plato further using our built-in theming module.
            </h3>
            <a class="btn btn-light btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 order-lg-1 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="~/plato.site/content/images/dashboard.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>

<!-- Pricing -->
<section class="page skewed-right bg-primary">
    <div class="container">
        <div class="p-5  bg-black text-center">
            <div class="row">
                <div class="col-lg-6">
                    <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Demo
                    </h1>
                    <hr class="divider primary my-4">
                    <h4 class="text-white font-weight-light">
                        Try our live demo of Plato.
                    </h4>
                    <a class="btn btn-primary btn-lg my-4" href="#">All Features</a>
                </div>
                <div class="col-lg-6">
                    <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Docs
                    </h1>
                    <hr class="divider primary my-4">
                    <h4 class="text-white font-weight-light">
                        Browse the docs for Plato.
                    </h4>
                    <a class="btn btn-primary btn-lg my-4" href="#">All Features</a>
                </div>
            </div>

        </div>
    </div>
</section>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/4.0.3/babylon.js"></script>
    <script src="https://unpkg.com/earcut@2.1.1/dist/earcut.min.js"></script>
    <script src="~/plato.site/content/js/home/logo-canvas.js"></script>
    <script src="~/plato.site/content/js/home/logo-stack-canvas.js"></script>
    <script src="~/plato.site/content/js/home/plato-canvas.js"></script>
}
