
<section class="flex-column flex-lg-row bg-black no-gutters d-flex overflow-hidden" style="background: url(/plato.site/content/images/bg7.png) top right no-repeat;">
    <div class="col-12 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <canvas data-provide="logo" class="w-100"></canvas>
            <h1 class="display-4 text-primary">
                Plato
            </h1>
            <hr class="divider border-primary my-4" />
            <h3 class="font-weight-light">
                A free, open source, extensible community & support platform built upon .NET core
            </h3>
            <a class="btn btn-primary btn-lg mt-4" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard.png" class="img-md-fluid mt-0 mt-lg-5 mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>
<div style="background: url(/plato.site/content/images/bg9.png) bottom left no-repeat;">

    <!-- Features -->
    <section class="page">
        <div class="container p-0">
            <div class="p-5 bg-white text-center">
                <div class="row">
                    <div class="col-12">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                        <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                            Support Made Simple
                        </h1>
                        <hr class="divider primary my-4">
                        <h3 class="font-weight-light">
                            Plato offers a full stack of software to help you engage with & support your users
                        </h3>
                    </div>
                </div>
                <div class="row my-5 grid-links">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-4">
                                <a class="d-block p-5 text-center border" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Discuss">
                                    <i class="fal fa-4x fa-comment-alt mb-4"></i>
                                    <strong class="d-block h4 mb-2">Discuss</strong>
                                    <span class="d-block mb-0">
                                        User Community
                                    </span>
                                </a>
                            </div>
                            <div class="col-12 col-lg-4 mb-4">
                                <a class="d-block p-5 text-center border" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Discuss">
                                    <i class="fal fa-4x fa-book-open mb-4"></i>
                                    <strong class="d-block h4 mb-2">Docs</strong>
                                    <span class="d-block mb-0">
                                        Product documentation
                                    </span>
                                </a>
                            </div>
                            <div class="col-12 col-lg-4 mb-4">
                                <a class="d-block p-5 text-center border" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Discuss">
                                    <i class="fal fa-4x fa-copy mb-4"></i>
                                    <strong class="d-block h4 mb-2">Articles</strong>
                                    <span class="d-block mb-0">
                                        Knowledge base
                                    </span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4 mb-4">
                                <a class="d-block p-5 text-center border" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Discuss">

                                    <i class="fal fa-4x fa-question-circle mb-4"></i>
                                    <strong class="d-block h4 mb-2">Questions</strong>
                                    <span class="d-block mb-0">
                                        Questions & Answers
                                    </span>

                                </a>
                            </div>
                            <div class="col-12 col-lg-4 mb-4">
                                <a class="d-block p-5 text-center border" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Discuss">

                                    <i class="fal fa-4x fa-lightbulb mb-4"></i>
                                    <strong class="d-block h4 mb-2">Ideas</strong>
                                    <span class="d-block mb-0">
                                        Product Ideation
                                    </span>

                                </a>
                            </div>
                            <div class="col-12 col-lg-4 mb-4">
                                <a class="d-block p-5 text-center border" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Discuss">
                                    <i class="fal fa-4x fa-bug mb-4"></i>
                                    <strong class="d-block h4 mb-2">Issues</strong>
                                    <span class="d-block mb-0">
                                        Issue tracking
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <i class="fal fa-plus text-primary fa-4x mb-4"></i>
                        <h1 class="text-uppercase text-primary font-weight-bold">
                            Hundreds of Extra Modules
                        </h1>
                        <hr class="divider primary my-4">
                        <h3 class="font-weight-light">
                            Custom-fit Plato with hundreds of official modules. Add theming, notifications, reporting, social integrations & more with a single click via the dashboard.
                        </h3>
                        <a class="btn btn-primary btn-lg my-4" href="#">All Features</a>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- Live Demo -->
    <section class="page">
        <div class="container">
            <div class="p-5 text-center bg-white">
                <div class="row">
                    <div class="col-12">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                        <h1 class="text-uppercase text-primary font-weight-bold">
                            Explore The Demo
                        </h1>
                        <hr class="divider primary my-4" />
                        <h3 class="font-weight-light">
                            Take Plato for a spin. The demo provides access to a default administrator account so you can fully explore Plato. Questions? <a href="#">Get in touch</a>
                        </h3>
                        <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                            Launch Demo <i class="fal fa-chevron-right"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<!-- .NET Core -->
<section class="page bg-light">
    <div class="container">
        <div class="p-5 text-center">
            <h1 class="text-uppercase text-primary font-weight-bold">
                Built Upon
            </h1>
            <hr class="divider light my-4" />
            <div class="row">
                <div class="col-lg-4 mt-4">
                    <img alt=".NET Core Logo" src="~/plato.site/content/images/netcore.png" class="img-fluid max-w-150" />
                </div>
                <div class="col-lg-4 mt-4">
                    <img alt="Visual Studio Logo" src="~/plato.site/content/images/vs.png" class="img-fluid max-w-150" />
                </div>
                <div class="col-lg-4 mt-4">
                    <img alt="Visual Studio Logo" src="~/plato.site/content/images/bootstrap.png" class="img-fluid max-w-150" />
                </div>
            </div>

        </div>
    </div>
</section>

<div style="background: url(/plato.site/content/images/bg11.png) bottom left no-repeat;">

    <!-- Get Involved -->
    <section class="page">
        <div class="container">
            <div class="p-5 bg-white">
                <div class="row">
                    <div class="col-12 text-center text-lg-left ">
                        <img alt="GitHub Octocat Logo" src="plato.site/content/images/octocat.png" class="img-md-fluid float-none float-lg-right mx-md-auto max-w-300 d-inline-block ml-lg-3 mb-4 mb-lg-0" />
                        <h1 class="text-uppercase text-primary font-weight-bold">
                            Get The Code
                        </h1>
                        <hr class="my-4" />
                        <h4 class="font-weight-light">
                            Plato is free and open source. You can contribute to improve the project or just support Plato by staring the project on GitHub.
                        </h4>
                        <p>
                            <a class="btn btn-primary btn-lg mt-4" href="https://github.com/InstantASP/plato">
                                <i class="fab fa-github"></i>
                                Visit Plato on GitHub
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services -->
    <section class="page">
        <div class="container">
            <div class="p-5 bg-white text-center">
                <div class="row">
                    <div class="col-12">
                   
              
                        <h3 class="font-weight-light">
                            Plato is free and open source. It always will be. If you require dedicated technical support or you prefer we host Plato for you we would love to help.
                        </h3>
                        <hr class="divider primary my-4" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 my-4">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                        <h2 class="text-uppercase text-primary font-weight-bold mt-4">
                            Managed Hosting
                        </h2>
                        <h2 class="font-weight-bold text-muted">
                            $100 USD <span class="small font-weight-light">/ month</span>
                        </h2>

                        <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                            Learn More <i class="fal fa-chevron-right"></i>
                        </a>

                    </div>
                    <div class="col-lg-6 my-4">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                        <h2 class="text-uppercase text-primary font-weight-bold mt-4">
                            Enterprise Support
                        </h2>
                        <h2 class="font-weight-bold text-muted">
                            $400 USD <span class="small font-weight-light">/ year</span>
                        </h2>

                        <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                            Learn More <i class="fal fa-chevron-right"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/4.0.3/babylon.js"></script>
    <script src="https://unpkg.com/earcut@2.1.1/dist/earcut.min.js"></script>
    <script src="plato.site/content/js/home/logo-canvas.js"></script>
}
