

<canvas class="w-100 h-100 position-fixed" style="z-index: -1;" data-provide="plato-canvas"></canvas>

<section class="flex-column flex-lg-row bg-black border-bottom border-dark no-gutters d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <canvas data-provide="logo" class="w-100"></canvas>
            <h1 class="display-4 text-white">
                Plato
            </h1>
            <hr class="divider border-primary" />
            <h3 class="text-white font-weight-light my-4">
                A free, open source, extensible community & support platform built upon .NET core
            </h3>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard_dark.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>


@*<section class="flex-column flex-lg-row bg-black border-bottom border-dark no-gutters full-page d-flex overflow-hidden" style="margin-top: -3px;">
        <div class="col-12 col-lg-6 align-self-start align-self-lg-center text-center">
            <div class="my-5 my-lg-0 mx-auto max-w-600">
                <canvas data-provide="logo" class="w-100"></canvas>
                <h1 class="display-4 text-white">
                    Plato
                </h1>
                <hr class="divider border-primary" />
                <h2 class="text-white font-weight-light my-4">
                    User Community & Support Software
                </h2>
                <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
            <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard_dark.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
        </div>
    </section>*@

<!-- Features -->
<section class="page">
    <div class="container">

        <div class="p-5 bg-black text-center">

            <div class="row">
                <div class="col-12">
                    <h1 class="text-white font-weight-bold">
                        Share & Support Your Products
                    </h1>
                    <hr class="divider primary my-4">
                    <h3 class="text-white font-weight-light">
                        Everything you need to deliver a simple support experience
                    </h3>
                </div>
            </div>

            <hr class="border-dark my-5" />

            <div class="row">

                <div class="col-12">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-comment-alt text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Discuss</h3>
                                <p class="mb-0 text-muted">Our themes are updated regularly to keep them bug free!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-book-open text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Docs</h3>
                                <p class="mb-0 text-muted">You can use this design as is, or you can make changes!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-copy text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Articles</h3>
                                <p class="mb-0 text-muted">All dependencies are kept current to keep things fresh.</p>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-question-circle text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Questions</h3>
                                <p class="mb-0 text-muted">Our themes are updated regularly to keep them bug free!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-lightbulb text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Ideas</h3>
                                <p class="mb-0 text-muted">You can use this design as is, or you can make changes!</p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 text-center">
                            <div class="my-5">
                                <i class="fal fa-4x fa-bug text-primary mb-4"></i>
                                <h3 class="h4 text-white mb-2">Issues</h3>
                                <p class="mb-0 text-muted">All dependencies are kept current to keep things fresh.</p>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

            <hr class="border-dark my-5" />

            <div class="row">
                <div class="col-12">
                    <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Plus Hundreds of Modules
                    </h1>
                    <hr class="divider primary my-4">
                    <h3 class="text-muted font-weight-light">
                        Custom-fit Plato with hundreds of official modules. Add theming, notifications, reporting, social integrations & more with a single click via the dashboard.

                    </h3>
                    <a class="btn btn-primary btn-lg my-4" href="#">All Features</a>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Discuss -->
<section class="flex-column flex-lg-row no-gutters bg-primary d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 order-2 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <h1 class="display-4 text-white">
                Discuss
            </h1>
            <hr class="divider border-primary" />
            <h2 class="text-white font-weight-light my-4">
                Shape & Support Your Products
            </h2>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 order-1 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/discuss.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block float-right" />
    </div>
</section>


<!-- Docs -->
<section class="flex-column flex-lg-row no-gutters bg-info d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <h1 class="display-4 text-white">
                Plato.Docs
            </h1>
            <hr class="divider border-primary" />
            <h2 class="text-white font-weight-light my-4">
                Shape & Support Your Products
            </h2>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/docs.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>


<!-- Demo & Docs -->
<section class="page bg-primary">
    <div class="container">
        <div class="p-5  bg-black text-center">
            <div class="row">
                <div class="col-lg-6">
                    <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Demo
                    </h1>
                    <hr class="divider primary my-4">
                    <h4 class="text-white font-weight-light">
                        Try our live demo of Plato.
                    </h4>
                    <a class="btn btn-primary btn-lg my-4" href="#">All Features</a>
                </div>
                <div class="col-lg-6">
                    <i class="fal fa-4x fa-cube text-primary mb-4"></i>
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Docs
                    </h1>
                    <hr class="divider primary my-4">
                    <h4 class="text-white font-weight-light">
                        Browse the docs for Plato.
                    </h4>
                    <a class="btn btn-primary btn-lg my-4" href="#">All Features</a>
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Discuss -->
<section class="flex-column flex-lg-row bg-primary no-gutters d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 order-2 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <h1 class="display-4 text-white">
                Discuss
            </h1>
            <hr class="divider border-primary" />
            <h2 class="text-white font-weight-light my-4">
                Shape & Support Your Products
            </h2>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 order-1 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard_dark.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>

<!-- Docs -->
<section class="flex-column flex-lg-row bg-info no-gutters d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <h1 class="display-4 text-white">
                Docs
            </h1>
            <hr class="divider border-primary" />
            <h2 class="text-white font-weight-light my-4">
                Shape & Support Your Products
            </h2>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard_dark.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>

<!-- Articles -->
<section class="flex-column flex-lg-row bg-danger no-gutters d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 order-2 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <h1 class="display-4 text-white">
                Articles
            </h1>
            <hr class="divider border-primary" />
            <h2 class="text-white font-weight-light my-4">
                Shape & Support Your Products
            </h2>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 order-1 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard_dark.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>

<!-- Questions -->
<section class="flex-column flex-lg-row bg-success no-gutters d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <h1 class="display-4 text-white">
                Q&A
            </h1>
            <hr class="divider border-primary" />
            <h2 class="text-white font-weight-light my-4">
                Shape & Support Your Products
            </h2>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard_dark.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>

<!-- Ideas -->
<section class="flex-column flex-lg-row bg-danger no-gutters d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 order-2 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <h1 class="display-4 text-white">
                Ideas
            </h1>
            <hr class="divider border-primary" />
            <h2 class="text-white font-weight-light my-4">
                Shape & Support Your Products
            </h2>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 order-1 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard_dark.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>

<!-- Issues -->
<section class="flex-column flex-lg-row bg-danger no-gutters d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto max-w-600">
            <h1 class="display-4 text-white">
                Issues
            </h1>
            <hr class="divider border-primary" />
            <h2 class="text-white font-weight-light my-4">
                Shape & Support Your Products
            </h2>
            <a class="btn btn-primary btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard_dark.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>



<!-- Bootstrap -->
<section class="flex-column flex-lg-row no-gutters full-page d-flex overflow-hidden" style="margin-top: -3px;">
    <div class="col-12 order-lg-2 col-lg-6 align-self-start align-self-lg-center text-center">
        <div class="my-5 my-lg-0 mx-auto p-5 bg-primary max-w-600">
            <h1 class="display-4 text-white">
                Built with Bootstrap
            </h1>
            <hr class="divider light my-4" />
            <h3 class="text-white font-weight-light my-4">
                Plato offers both dark and light fully responsive Bootstrap 4 themes. You can customize Plato further using our built-in theming module.
            </h3>
            <a class="btn btn-light btn-lg" href="#about">Find Out More</a>
        </div>
    </div>
    <div class="col-lg-6 order-lg-1 col-md-12 overflow-hidden text-center text-lg-right align-self-start align-self-lg-center">
        <img alt="Plato Dashboard Screen Grab" src="plato.site/content/images/dashboard.png" class="img-md-fluid mx-md-auto w-md-90 d-inline-block" />
    </div>
</section>



<!-- .NET Core -->
<section class="page bg-purple">
    <div class="container">
        <div class="p-5  bg-black text-center">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Built upon the latest tech
                    </h1>
                    <hr class="divider purple my-4">
                    <h4 class="text-white font-weight-light">
                        Our on-premise customers get access to the complete Visual Studio 2019 / .NET Core 2.2 solution. That's over 200 Visual Studio projects making up every aspect of Plato.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 my-3">
                    <img alt=".NET Core Logo" src="plato.site/content/images/netcore.png" class="img-fluid" style="max-width: 200px;" />
                </div>
                <div class="col-lg-6 my-3">
                    <img alt="Visual Studio Logo" src="plato.site/content/images/vs.png" class="img-fluid" style="max-width: 200px;" />
                </div>
            </div>

        </div>
    </div>
</section>



<!-- Pricing New -->
<section class="flex-row no-gutters full-page d-flex justify-content-center overflow-hidden skewed">

    <div class="align-self-center">
        <div class="p-5 bg-primary text-white text-center">
            <div class="row text-center">
                <div class="col-12">
                    <div class="card-deck mb-3 text-center">
                        <div class="card border-radius-0 mt-5">
                            <div class="card-header bg-primary  border-radius-0">
                                <h4 class="text-white font-weight-normal">
                                    Source Code
                                </h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title text-primary">
                                    $1299
                                </h1>

                                <button type="button" class="btn btn-lg btn-block btn-primary">Sign up for free</button>
                            </div>
                        </div>
                        <div class="card border-radius-0 mt-5">
                            <div class="card-header  border-radius-0 bg-primary">
                                <h4 class="text-white font-weight-normal">
                                    Fully Managed
                                </h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title text-primary">
                                    $15 <small class="text-muted">/ mo</small>
                                </h1>

                                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Pricing -->
<section class="page skewed skewed-right">
    <div class="bg-primary-75 bg-skewed"></div>
    <div class="container">
        <div class="p-5 bg-black text-center">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase text-white font-weight-bold">
                        Simple Pricing
                    </h1>
                    <hr class="divider light my-4">
                    <h4 class="text-white font-weight-light">
                        If your the techie type you may want the full source, otherwise we'll handle things for you
                    </h4>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-lg-12">
                    <div class="card-deck mb-3 text-center">
                        <div class="card border-radius-0 mt-5">
                            <div class="card-header bg-primary  border-radius-0">
                                <h4 class="text-white font-weight-normal">
                                    Source Code
                                </h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title text-primary">
                                    $1299
                                </h1>

                                <button type="button" class="btn btn-lg btn-block btn-primary">Sign up for free</button>
                            </div>
                        </div>
                        <div class="card border-radius-0 mt-5">
                            <div class="card-header  border-radius-0 bg-primary">
                                <h4 class="text-white font-weight-normal">
                                    Fully Managed
                                </h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title text-primary">
                                    $15 <small class="text-muted">/ mo</small>
                                </h1>

                                <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babylonjs/4.0.3/babylon.js"></script>
    <script src="https://unpkg.com/earcut@2.1.1/dist/earcut.min.js"></script>
    <script src="plato.site/content/js/home/logo-canvas.js"></script>
    <script src="plato.site/content/js/home/plato-canvas.js"></script>
}
