@{
    AddTitleSegment(T["Modules"]);
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="my-6 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold mx-auto w-70">
                    All Official Modules
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4 mx-auto w-70">
                    Plato is built upon modules. Modules are independent NuGet packages that add functionality to Plato.
                    All the modules below are official modules and available out of the box with Plato.
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- All Modules -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                @await DisplayAsync(new View("SiteModuleList", new
                {
                    options = new FeatureIndexOptions()
                }))
            </div>
        </div>
    </div>
</section>

<!-- Explore The Demo -->
<section class="page bg-primary-25">
    <div class="container">
        <div class="p-5 text-center bg-white">
            <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
            <h1 class="text-uppercase text-primary font-weight-bold">
                Explore The Demo
            </h1>
            <hr class="divider primary my-4" />
            <h3 class="font-weight-light">
                Take Plato for a spin. The demo provides access to a default administrator account so you can fully explore Plato. Questions? <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Contact">Get in touch</a>
            </h3>
            <a class="btn btn-primary btn-lg mt-4" asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                Launch Demo
            </a>
        </div>
    </div>
</section>

<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Ready to make Plato your support hub?
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing" data-provide="loader-spy">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>
