@{
    ViewData["Title"] = "Plato - Pricing";
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center bg-light">
    <div class="row">
        <div class="col-12">
            <div class="my-6 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                    Pricing from free? Yes, please!
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4">
                    Plato is 100% free, open source software. Forever. If you prefer we can host & manage things for you.
                </h2>
            </div>
        </div>

    </div>
</section>

<!-- Plans -->
<div class="page">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card text-center border-radius-0 border-left-0 border-right-0 border-bottom-0 border-top-6 border-primary box-shadow">
                    <div class="card-body">
                        <h3 class="text-primary">Free</h3>
                        <h3 class="text-muted">$0 forever</h3>
                        <hr />
                        <p>
                            For teams or individuals wanting to host Plato on their own infrastructure for an unlimited period of time.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3 pt-0">
                                Self hosted
                            </li>
                            <li class="d-block p-3">
                                Full source code
                            </li>
                            <li class="d-block p-3">
                                All standard modules
                            </li>
                            <li class="d-block p-3">
                                MIT License
                            </li>
                            <li class="d-block p-3">
                                Documentation
                            </li>
                            <li class="d-block p-3">
                                Community support
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            <i class="fab fa-github"></i> Install from GitHub
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card text-center border-radius-0 border-left-0 border-right-0 border-bottom-0 border-top-6 border-success box-shadow">
                    <div class="card-body">
                        <h3 class="text-success">Standard</h3>
                        <h3 class="text-muted">$100 / mo</h3>
                        <hr />
                        <p>
                            For teams and businesses ready to make Plato the hub for their customer support and collaboration.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3 pt-0">
                                Managed hosting within Azure
                            </li>
                            <li class="d-block p-3">
                                <strong>100K</strong> page views per month
                            </li>
                            <li class="d-block p-3">
                                <strong>10GB</strong> of storage
                            </li>
                            <li class="d-block p-3">
                                <strong>Unlimited</strong> users & posts
                            </li>
                            <li class="d-block p-3">
                                Use your domain
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Use a custom top level or sub domain of your choice ensuring a consistent experience for your users."></i>
                            </li>
                            <li class="d-block p-3">
                                SSL
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Your Plato installation will be protected by SSL by default."></i>
                            </li>
                            <li class="d-block p-3">
                                Email + Phone support
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Alongside our standard support resources you will also receive priority email & phone support from Plato developers."></i>
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            Buy Now
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card text-center border-radius-0 border-left-0 border-right-0 border-bottom-0 border-top-6 border-danger box-shadow">
                    <div class="card-body">
                        <h3 class="text-danger">Business</h3>
                        <h3 class=" text-muted">$300 / mo</h3>
                        <hr />
                        <p>
                            For businesses needing all standard features plus single sign on, remote access and high availability.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3 pt-0">
                                Managed hosting within Azure
                            </li>
                            <li class="d-block p-3">
                                <strong>500K</strong> page views per month
                            </li>
                            <li class="d-block p-3">
                                <strong>50GB</strong> of storage
                            </li>
                            <li class="d-block p-3 pt-0">
                                Single Sign On
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Adds additional support for OAuth2 & SAML authentication"></i>
                            </li>
                            <li class="d-block p-3">
                                Business modules
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Includes IP Guard, GDPR Notice, Staff Notes, Canned Replies, Assignees & more..."></i>
                            </li>
                            <li class="d-block p-3">
                                Remote Data Access
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Provide full access to your Plato database to assist with reporting and compliance requirements."></i>
                            </li>
                            <li class="d-block p-3">
                                Geo redundancy
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Your data is replicated in real-time across two geographically distinct data centers with near real-time fail-over"></i>
                            </li>
                            <li class="d-block p-3">
                                Email + Phone support
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Alongside our standard support resources you will also receive priority email & phone support from Plato developers."></i>
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            Buy Now
                        </a>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Why host with us? -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold text-primary text-uppercase">
                    Why host with us?
                </h1>
                <hr class="divider border-primary" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <div class="flex-row d-flex justify-content-center align-items-center bg-primary w-100 py-5 text-center" style="background-size: 85%;">
                    <div class="col-12 col-lg-4">
                        <div class="bg-white p-5 text-center box-shadow">
                            <div class="icon-circle">
                                <i class="fal fa-thumbs-up"></i>
                            </div>
                            <div class="d-block">
                                <h6 class="font-weight-bold text-primary text-uppercase mt-4">
                                    First Class Support
                                </h6>
                                <hr class="divider border-primary"/>
                                All our hosted customers get a response within 24 hours (usually less) directly from our product developers.
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="bg-white p-5 text-center box-shadow">
                            <div class="icon-circle">
                                <i class="fal fa-angle-double-up"></i>
                            </div>
                            <div class="d-block">
                                <h6 class="font-weight-bold text-primary text-uppercase mt-4">
                                    Trusted Brand
                                </h6>
                                <hr class="divider border-primary"/>
                                Established in 2001 InstantASP the developers of Plato have been developing community & support software for over 18 years.
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="bg-white p-5 text-center box-shadow">
                            <div class="icon-circle">
                                <i class="fal fa-heart"></i>
                            </div>
                            <div class="d-block">
                                <h6 class="font-weight-bold text-primary text-uppercase mt-4">
                                    Happy Customers
                                </h6>
                                <hr class="divider border-primary"/>
                                We strive to support those that support us.
                                We'll do everything we can to make you a happy customer.
                            </div>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="bg-white p-5 text-center box-shadow">
                            <div class="icon-circle">
                                <i class="fal fa-chart-bar"></i>
                            </div>
                            <div class="d-block">
                                <h6 class="font-weight-bold text-primary text-uppercase mt-4">
                                    Proven Results
                                </h6>
                                <hr class="divider border-primary"/>
                                We've helped thousands of companies big and small deliver a simple customer support experience for their users.
                            </div>

                        </div>
                    </div>
               
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Plato stats -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img alt="Plato Logo" src="/plato.site/content/images/instantasp-logo.png" class="img-md-fluid mx-md-auto max-w-80 d-inline-block ml-lg-3 mb-4 mb-lg-0" />
                <h1 class="text-uppercase font-weight-bold mt-4 text-primary">
                    A brand you can trust
                </h1>
                <h3 class="font-weight-light">
                    Plato is developed and maintained by <a href="https://www.instantasp.co.uk/">InstantASP</a>.
                </h3>
                <hr class="divider border-primary" />
            </div>
        </div>
        <div class="row mt-4">
         
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4">
                        <div class="bg-white p-5 border">
                            <h3 class="font-weight-bold text-uppercase text-primary">
                                18 Years
                            </h3>
                            <h6 class="font-weight-light">
                                InstantASP the people behind Plato have been in business developing software for the last 18 years.
                            </h6>
                        </div>
                      
                    </div>
                    <div class="col-12 col-lg-6 mb-4">
                        <div class="bg-white p-5 border">
                            <h3 class="font-weight-bold text-primary">
                                24/7/365
                            </h3>
                            <h6 class="font-weight-light">
                                As a hosted customer you can expect our team are here to help you 365 days a year 7 days a week.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 mb-4">
                        <div class="bg-white p-5 border">
                            <h3 class="font-weight-bold text-primary">
                                20,000
                            </h3>
                            <h6 class="font-weight-light">
                                20,000 companies worldwide use our software to power their user community or customer support.
                            </h6>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="bg-white p-5 border">
                            <h3 class="font-weight-bold text-uppercase text-primary">
                                Peace of mind
                            </h3>
                            <h6 class="font-weight-light">
                                Our hosted services are backed by ISO/IEC 27001:2005 standards for security and reliability.
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ -->
<section class="page bg-white" style="background: url(/plato.site/content/images/bg1.png) bottom right no-repeat;">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1 class="text-uppercase text-primary font-weight-bold">
                    Frequently Asked Questions
                </h1>
          
                <h3 class="font-weight-light">
                    Questions not covered below? <a href="#">Get in touch</a>
                </h3>
                <hr class="divider primary my-4" />
            </div>
        </div>
        <div class="accordion mt-4" role="tablist">
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q3" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How secure is my data?
                        </a>
                    </h6>
                </div>
                <div id="q3" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        All our hosted services are built upon the Windows Azure platform and hosted in datacenters fully managed by Microsoft. Windows Azure runs in geographically dispersed datacenters that comply with key industry standards, such as ISO/IEC 27001:2005, for security and reliability. In addition to datacenter, network, and personnel security practices, InstantASP incorporates security practices at the application and platform layers to enhance security for our customers.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q1" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How do I pay &amp; how will I be billed?
                        </a>
                    </h6>
                </div>
                <div id="q1" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        You can sign-up for all hosting plans via our web site securely using your credit card. All hosted services are automatically billed every 30 days in advance for the next month’s usage. You will be billed every 30 days from the date you sign-up until you cancel your hosted service.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q4" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Are there any contracts / long term commitments?
                        </a>
                    </h6>
                </div>
                <div id="q4" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        No. We would rather keep you as a customer by offering great service and support. You can cancel your hosted account at any time. That said we cannot refund your monthly subscription so we would suggest you cancel towards the end of the current billed month.  If you cancel your hosted service just after being billed I’m afraid we cannot refund this.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q5" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Is my account compliant with my regulatory requirements?
                        </a>
                    </h6>
                </div>
                <div id="q5" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        We commit to compliance with data protection and privacy laws generally applicable to IT service providers.  If you are subject to industry or jurisdictional requirements, you will need to make your own assessment of your ability to comply.  Customers in many industries and geographies have found they can use our hosted service in a manner that complies with applicable regulations, provided they utilize the services in a manner appropriate to their particular circumstances.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q6" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Can we pay annually?
                        </a>
                    </h6>
                </div>
                <div id="q6" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        Yes. If you would like to pay annually please <a href="../../Contact/">contact us</a>. We can also offer a small discount if you choose to pay annually. We will contact you via email each year when your plan is due for renewal.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q7" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What happens if I exceed storage or page view limits?
                        </a>
                    </h6>
                </div>
                <div id="q7" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        You should expect your page views & storage requirements to grow over time. If you exceed storage or page view limits you'll need to purchase additional storage and / or page views to match your growth.
                        For an extra $50 USD per month you will get 100k additional page views and an additional 10gb of storage

                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q8" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Are there any separate email sending fees?
                        </a>
                    </h6>
                </div>
                <div id="q8" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        To protect our mail servers against being blacklisted we limit the total number of emails you can send to 2000 emails per day or 60,000 emails per month. If you need to send more than 60,000 emails per month you can either use your own SMTP server from our hosted software or contact us for further pricing.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q9" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How can I use my own domain?
                        </a>
                    </h6>
                </div>
                <div id="q9" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        Our plans allow you to use your own company domain name to access your hosted version of our software. You will first need to register your preferred domain name with a domain name registration service (for example GoDaddy). Once you have your domain you can add a A record for your domain or sub-domain to point this to our hosted service. This process once set-up correctly will be completely transparent to you're end users.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-dark">
                        <a class="text-dark" data-toggle="collapse" href="#q10" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Can we use SSL for our hosted service?
                        </a>
                    </h6>
                </div>
                <div id="q10" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        Yes all plans offer SSL support by default. Once we know the domain name you would like to use we will provision & configure the SSL certificate to ensure your Plato traffic is protected by SSL. We will mange the certificate and ensure this is renewed as necessary.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q11" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What happens if another third party asks InstantASP for my data?
                        </a>
                    </h6>
                </div>
                <div id="q11" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        We believe our customers should control their own information whether stored on their premises or in a cloud service. Accordingly, we will not disclose customer data to any third party (including law enforcement, other government entity or civil litigant) except as you direct or is required by law. Should a third party contact us with a demand for customer data, we will always redirect the third party to request this information directly from you.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush" style="margin-top: -1px;">
                <div class="card-header" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q12" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What level of support is provided with my plan?
                        </a>
                    </h6>
                </div>
                <div id="q12" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        All our plans are backed by our prompt first class support. You can post questions or issues publically or privately via our support site or email InstantASP directly and we'll strive to respond within 24 hours Mon-Fri. For urgent assistance you can also call us directly Mon-Fri 9am-9pm GMT.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
