@{
    AddTitleSegment(T["Pricing"]);
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center bg-white">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="my-6 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold mx-auto w-70">
                    Pricing from free? Yes, please!
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4 mx-auto w-70">
                    Plato is free, open source software. We support Plato through hosting & premium support.
                </h2>
            </div>
        </div>
    </div>
</section>

<!-- Plans -->
<section class="page">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card text-center border-radius-0 border-0 box-shadow">
                    <div class="card-header bg-primary border-0">
                        <h3 class="text-white">Free</h3>
                        <h3 class="text-white">$0 forever</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            For teams or individuals wanting to host Plato on their own infrastructure for an unlimited period of time.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3 pt-0">
                                Self hosted
                            </li>
                            <li class="d-block p-3">
                                Full source code
                            </li>
                            <li class="d-block p-3">
                                All standard modules
                            </li>
                            <li class="d-block p-3">
                                <a href="/docs/d/46/licensing">GNU General Public License</a>
                            </li>
                            <li class="d-block p-3">
                                <a href="/docs/">Documentation</a>
                            </li>
                            <li class="d-block p-3">
                                <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">
                                    Community support
                                </a>
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            <i class="fab fa-github"></i> Install from GitHub
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card text-center border-radius-0 border-0 box-shadow">
                    <div class="card-header bg-success border-0">
                        <h3 class="text-white">Standard</h3>
                        <h3 class="text-white">$100 / mo</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            For teams and businesses ready to make Plato the hub for their customer support and collaboration.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3 pt-0">
                                Managed hosting within Azure
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="We will host & manage your Plato site. Your site will be hosted upon highly resilient Azure infrastructure within Microsoft operated data centers."></i>
                            </li>
                            <li class="d-block p-3">
                                <strong>100K</strong> page views per month
                            </li>
                            <li class="d-block p-3">
                                <strong>10GB</strong> of storage
                            </li>
                            <li class="d-block p-3">
                                <strong>Unlimited</strong> users & posts
                            </li>
                            <li class="d-block p-3">
                                Use your domain
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Use a custom top level or sub domain of your choice ensuring a consistent experience for your users."></i>
                            </li>
                            <li class="d-block p-3">
                                SSL
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Your Plato installation will be protected by SSL by default."></i>
                            </li>
                            <li class="d-block p-3">
                                Email + Phone support
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Alongside our standard support resources you will also receive priority email & phone support from Plato developers."></i>
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            Buy Now
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-4 mb-5 mb-lg-0">
                <div class="card text-center border-radius-0 border-0 box-shadow">
                    <div class="card-header bg-danger border-0">
                        <h3 class="text-white">Business</h3>
                        <h3 class=" text-white">$300 / mo</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            For businesses needing all standard features plus single sign on, remote access and high availability.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-3 pt-0">
                                Managed hosting within Azure
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="We will host & manage your Plato site. Your site will be hosted upon highly resilient Azure infrastructure within Microsoft operated data centers."></i>
                            </li>
                            <li class="d-block p-3">
                                <strong>500K</strong> page views per month
                            </li>
                            <li class="d-block p-3">
                                <strong>50GB</strong> of storage
                            </li>
                            <li class="d-block p-3 pt-0">
                                Single Sign On
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Adds additional support for OAuth2 & SAML authentication"></i>
                            </li>
                            <li class="d-block p-3">
                                Business modules
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Includes IP Guard, GDPR Notice, Staff Notes, Canned Replies, Assignees & more..."></i>
                            </li>
                            <li class="d-block p-3">
                                Remote Data Access
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Provide full access to your Plato database to assist with reporting and compliance requirements."></i>
                            </li>
                            <li class="d-block p-3">
                                Geo redundancy
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Your data is replicated in real-time across two geographically distinct data centers with near real-time fail-over"></i>
                            </li>
                            <li class="d-block p-3">
                                Email + Phone support
                                <i class="fal fa-info-circle" data-toggle="tooltip" title="Alongside our standard support resources you will also receive priority email & phone support from Plato developers."></i>
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            Buy Now
                        </a>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!-- Premium Support -->
<section class="page bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card border-radius-0 border-0 box-shadow">
                    <div class="card-header bg-primary border-0">
                        <h5 class="text-white">Self Hosted</h5>
                        <h3 class="text-white">Premium Support</h3>
                    </div>
                    <div class="card-body">
                        <p>
                            If your hosting Plato on your own infrastructure but require the piece of mind of receiving priority technical support direct from the Plato devs our optional premium support package may assist.
                            Our premium support package offers additional priority email & telephone based technical support 365 days a year for a single Plato installation. You can use your premium support entitlements for any purpose related to Plato.
                        </p>
                        <ol class="list-inline">
                            <li class="d-block">
                                <i class="fal fa-check text-primary mr-2"></i> Priority email & telephone technical support for Plato from Plato devs
                            </li>
                            <li class="d-block">
                                <i class="fal fa-check text-primary mr-2"></i> Instant premium support status within our <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">community</a> guaranteeing a response from Plato devs
                            </li>
                            <li class="d-block">
                                <i class="fal fa-check text-primary mr-2"></i> Access to our private Slack channel for real-time support during GMT business hours
                            </li>
                            <li class="d-block">
                                <i class="fal fa-check text-primary mr-2"></i> Priority support for anything related to Plato (installation, upgrades, customization, integrations etc)
                            </li>
                            <li class="d-block">
                                <i class="fal fa-check text-primary mr-2"></i> No contracts. Cancel or renew your premium support anytime and continue to use Plato
                            </li>
                        </ol>
                        <h3 class="text-primary">$400 / year</h3>
                        <a href="#" class="btn btn-lg btn-primary mt-4">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="page">
    <div class="container">

        <!-- Security -->
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold mt-4 text-primary">
                    Security you can trust
                </h1>
                <h3 class="font-weight-light">
                    Our hosted services are backed by <a href="https://www.iso.org/isoiec-27001-information-security.html" target="_blank">ISO/IEC 27001</a> standards for security and reliability
                </h3>
                <hr class="divider border-primary" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="flex-column flex-lg-row d-flex justify-content-lg-center align-items-start align-items-lg-center w-100 text-center bg-primary-85-percent">
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-lock"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            SSL
                        </h5>
                        <hr class="divider border-primary" />
                        All our hosting plans come standard with SSL ensuring secure connections.
                    </div>
                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-shield"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Encryption
                        </h5>
                        <hr class="divider border-primary" />
                        Your data is protected by enterprise class encryption both in transit and at rest.
                    </div>
                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-server"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Azure Hosted
                        </h5>
                        <hr class="divider border-primary" />
                        All our customers are hosted within Microsoft operated data centers.
                    </div>
                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-code"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Open Source
                        </h5>
                        <hr class="divider border-primary" />
                        Our code is open source and peer reviewed. We have nothing to hide.
                    </div>
                </div>
            </div>
        </div>
        <!-- Reliability -->
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold mt-4 text-primary">
                    Reliability you can trust
                </h1>
                <h3 class="font-weight-light">
                    Our hosted services are backed by our 99.99% up-time guarantee
                </h3>
                <hr class="divider border-primary" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="flex-column flex-lg-row d-flex justify-content-lg-center align-items-start align-items-lg-center w-100 text-center bg-primary-85-percent">
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-bell"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Monitoring
                        </h5>
                        <hr class="divider border-primary" />
                        Monitored for availability 24/7 from 5 different geo-graphic regions.
                    </div>

                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-bezier-curve"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Replication
                        </h5>
                        <hr class="divider border-primary" />
                        Real-time data replication across 2 geo-graphically distinct data centers.
                    </div>
                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-cloud"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Redundancy
                        </h5>
                        <hr class="divider border-primary" />
                        Multiple levels of redundancy guarantee a 99.99% hosted service up-time.
                    </div>
                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-save"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Backups
                        </h5>
                        <hr class="divider border-primary" />
                        Automated back-ups are taken every 24 hours and stored encrypted off site.
                    </div>
                </div>
            </div>

        </div>
        <!-- Brand -->
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold mt-4 text-primary">
                    A brand you can trust
                </h1>
                <h3 class="font-weight-light">
                    Plato is developed and maintained by <a href="https://www.instantasp.co.uk/">InstantASP</a>.
                </h3>
                <hr class="divider border-primary" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="flex-column flex-lg-row d-flex justify-content-start justify-content-lg-center align-items-start align-items-lg-center w-100 text-center bg-primary-85-percent">
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-clock"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            24/7/365
                        </h5>
                        <hr class="divider border-primary" />
                        All our hosted customers get a response within 24 hours (usually less) directly from our product developers.
                    </div>
                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-angle-double-up"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            18 Years
                        </h5>
                        <hr class="divider border-primary" />
                        Established in 2001 we've been in business developing community & support software for over 18 years.
                    </div>
                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-heart"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            20,000 Customers
                        </h5>
                        <hr class="divider border-primary" />
                        We strive to support those that support us.
                        Over the years we've helped over 20,000 happy customers.
                    </div>
                </div>
                <div class="bg-white w-100 mx-2 py-5 px-4 text-center box-shadow">
                    <div class="icon-circle">
                        <i class="fal fa-chart-bar"></i>
                    </div>
                    <div class="d-block">
                        <h5 class="font-weight-bold text-primary text-uppercase mt-4">
                            Proven Results
                        </h5>
                        <hr class="divider border-primary" />
                        We've helped thousands of companies deliver simple user communities & customer support.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FAQ -->
<section class="page bg-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase text-primary font-weight-bold">
                    Frequently Asked Questions
                </h1>

                <h3 class="font-weight-light">
                    Questions not covered below? <a asp-route-action="Contact">Get in touch</a>
                </h3>
                <hr class="divider primary my-4" />
            </div>
        </div>
        <div class="accordion mt-4" role="tablist">
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q3" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How secure is my data?
                        </a>
                    </h6>
                </div>
                <div id="q3" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        All our hosted services are built upon the Windows Azure platform and hosted in datacenters fully managed by Microsoft. Windows Azure runs in geographically dispersed datacenters that comply with key industry standards, such as ISO/IEC 27001:2005, for security and reliability. In addition to datacenter, network, and personnel security practices, InstantASP incorporates security practices at the application and platform layers to enhance security for our customers.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q1" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How do I pay &amp; how will I be billed?
                        </a>
                    </h6>
                </div>
                <div id="q1" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        You can sign-up for all hosting plans via our web site securely using your credit card. All hosted services are automatically billed every 30 days in advance for the next month’s usage. You will be billed every 30 days from the date you sign-up until you cancel your hosted service.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q4" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Are there any contracts / long term commitments?
                        </a>
                    </h6>
                </div>
                <div id="q4" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        No. We would rather keep you as a customer by offering great service and support. You can cancel your hosted account at any time. That said we cannot refund your monthly subscription so we would suggest you cancel towards the end of the current billed month.  If you cancel your hosted service just after being billed I’m afraid we cannot refund this.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q5" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Is my account compliant with my regulatory requirements?
                        </a>
                    </h6>
                </div>
                <div id="q5" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        We commit to compliance with data protection and privacy laws generally applicable to IT service providers.  If you are subject to industry or jurisdictional requirements, you will need to make your own assessment of your ability to comply.  Customers in many industries and geographies have found they can use our hosted service in a manner that complies with applicable regulations, provided they utilize the services in a manner appropriate to their particular circumstances.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q6" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Can we pay annually?
                        </a>
                    </h6>
                </div>
                <div id="q6" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        Yes. If you would like to pay annually please <a asp-route-action="Contact">contact us</a>. We can also offer a small discount if you choose to pay annually. We will contact you via email each year when your plan is due for renewal.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q7" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What happens if I exceed storage or page view limits?
                        </a>
                    </h6>
                </div>
                <div id="q7" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        You should expect your page views & storage requirements to grow over time. If you exceed storage or page view limits you'll need to purchase additional storage and / or page views to match your growth.
                        For an extra $50 USD per month you will get 100k additional page views and an additional 10gb of storage

                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q8" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Are there any separate email sending fees?
                        </a>
                    </h6>
                </div>
                <div id="q8" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        To protect our mail servers against being blacklisted we limit the total number of emails you can send to 2000 emails per day or 60,000 emails per month. If you need to send more than 60,000 emails per month you can either use your own SMTP server from our hosted software or contact us for further pricing.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q9" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            How can I use my own domain?
                        </a>
                    </h6>
                </div>
                <div id="q9" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        Our plans allow you to use your own company domain name to access your hosted version of our software. You will first need to register your preferred domain name with a domain name registration service (for example GoDaddy). Once you have your domain you can add a A record for your domain or sub-domain to point this to our hosted service. This process once set-up correctly will be completely transparent to you're end users.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q10" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            Can we use SSL for our hosted service?
                        </a>
                    </h6>
                </div>
                <div id="q10" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        Yes all plans offer SSL support by default. Once we know the domain name you would like to use we will provision & configure the SSL certificate to ensure your Plato traffic is protected by SSL. We will mange the certificate and ensure this is renewed as necessary.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q11" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What happens if another third party asks InstantASP for my data?
                        </a>
                    </h6>
                </div>
                <div id="q11" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        We believe our customers should control their own information whether stored on their premises or in a cloud service. Accordingly, we will not disclose customer data to any third party (including law enforcement, other government entity or civil litigant) except as you direct or is required by law. Should a third party contact us with a demand for customer data, we will always redirect the third party to request this information directly from you.
                    </div>
                </div>
            </div>
            <div class="card card-body-flush border-white">
                <div class="card-header border-white bg-light" role="tab">
                    <h6 class="card-title">
                        <a class="text-dark" data-toggle="collapse" href="#q12" aria-expanded="false" aria-controls="collapseOne">
                            <i class="fal fa-chevron-right float-right"></i>
                            What level of support is provided with my plan?
                        </a>
                    </h6>
                </div>
                <div id="q12" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                    <div class="list-group-item list-group-item-action">
                        All our plans are backed by our prompt first class support. You can post questions or issues publically or privately via our support site or email InstantASP directly and we'll strive to respond within 24 hours Mon-Fri. For urgent assistance you can also call us directly Mon-Fri 9am-9pm GMT.
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Questions? We would love to help
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Contact">
                    Contact Us
                </a>
            </div>
        </div>
    </div>
</section>