@{
    ViewData["Title"] = "Plato - Pricing";
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center bg-light">
    <div class="row">
        <div class="col-12">
            <div class="my-6 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                    Pricing from free? Yes, please!
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4">
                    Plato is 100% free, open source software. Forever. If you prefer we can host & manage things for you.
                </h2>
            </div>
        </div>

    </div>
</section>

<div class="page">
    <div class="container">
     
     
        <div class="row mt-4">
            <div class="col-12 col-lg-4">
                <div class="card text-center mb-5 mb-lg-0 border-0 box-shadow">
                    <div class="card-header border-0 bg-primary">
                        <h3 class="text-white">Free</h3>
                        <h3 class="text-white">$0 forever</h3>
                    </div>
                    <div class="card-body">
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                Self hosted
                            </li>
                            <li class="d-block p-3 border-top">
                                Full source code
                            </li>
                            <li class="d-block p-3 border-top">
                                All standard modules
                            </li>
                            <li class="d-block p-3 border-top">
                                MIT License
                            </li>
                            <li class="d-block p-3 border-top">
                                Documentation
                            </li>
                            <li class="d-block p-3 border-top">
                                Community support
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            <i class="fab fa-github"></i> Install from GitHub
                        </a>
                    </div>
                </div>
                
                <div class="d-block text-center border border-left-0 border-right-0 border-bottom-0 border-top-4 border-primary box-shadow">
                    <ol class="list-inline">
                        <li class="d-block p-3">
                            Self hosted
                        </li>
                        <li class="d-block p-3 border-top">
                            Full source code
                        </li>
                        <li class="d-block p-3 border-top">
                            All standard modules
                        </li>
                        <li class="d-block p-3 border-top">
                            MIT License
                        </li>
                        <li class="d-block p-3 border-top">
                            Documentation
                        </li>
                        <li class="d-block p-3 border-top">
                            Community support
                        </li>
                    </ol>
                </div>

            </div>

            <div class="col-12 col-lg-4">
                <div class="card text-center mb-5 mb-lg-0 border-0 box-shadow">
                    <div class="card-header border-0 bg-success">
                        <h3 class="text-white">Standard</h3>
                        <h3 class="text-white">$100 / mo</h3>
                    </div>
                    <div class="card-body">
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                Managed hosting within Azure
                            </li>
                            <li class="d-block p-3 border-top">
                                <strong>100K</strong> page views per month
                            </li>
                            <li class="d-block p-3 border-top">
                                <strong>10GB</strong> of storage
                            </li>
                            <li class="d-block p-3 border-top">
                                <strong>Unlimited</strong> users & posts
                            </li>
                            <li class="d-block p-3 border-top">
                                Custom Domain + SSL
                            </li>
                            <li class="d-block p-3 border-top">
                                Email support
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            Buy Now
                        </a>
                    </div>
                </div>

                <div class="d-block text-center border border-left-0 border-right-0 border-bottom-0 border-top-4 border-success box-shadow">
                    <ol class="list-inline">
                        <li class="d-block p-3">
                            Self hosted
                        </li>
                        <li class="d-block p-3 border-top">
                            Full source code
                        </li>
                        <li class="d-block p-3 border-top">
                            All standard modules
                        </li>
                        <li class="d-block p-3 border-top">
                            MIT License
                        </li>
                        <li class="d-block p-3 border-top">
                            Documentation
                        </li>
                        <li class="d-block p-3 border-top">
                            Community support
                        </li>
                    </ol>
                </div>

            </div>
            <div class="col-12 col-lg-4">
                <div class="card text-center border-0 box-shadow">
                    <div class="card-header border-0 bg-danger">
                        <h3 class="text-white">Business</h3>
                        <h3 class=" text-white">$300 / mo</h3>
                    </div>
                    <div class="card-body">
                        <ol class="list-inline">
                            <li class="d-block p-3">
                                All standard features plus...
                            </li>
                            <li class="d-block p-3 border-top">
                                <strong>500K</strong> page views per month
                            </li>
                            <li class="d-block p-3 border-top">
                                <strong>50GB</strong> of storage
                            </li>
                     
                            <li class="d-block p-3 border-top">
                                Single Sign On
                            </li>
                            <li class="d-block p-3 border-top">
                                Business modules
                            </li>
                         
                            <li class="d-block p-3 border-top">
                                Phone support
                            </li>
                        </ol>
                        <a href="#" class="btn btn-lg btn-primary mt-2">
                            Buy Now
                        </a>
                    </div>
                </div>
                <div class="d-block text-center border border-left-0 border-right-0 border-bottom-0 border-top-4 border-danger box-shadow">
                    <ol class="list-inline">
                        <li class="d-block p-3 border-top">
                            Geo redundancy
                        </li>
                        <li class="d-block p-3 border-top">
                            Custom migration
                        </li>
                        <li class="d-block p-3 border-top">
                            All standard modules
                        </li>
                        <li class="d-block p-3 border-top">
                            MIT License
                        </li>
                        <li class="d-block p-3 border-top">
                            Documentation
                        </li>
                        <li class="d-block p-3 border-top">
                            Community support
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>

</div>



<!-- FAQ -->
<section class="page">
    <div class="container">
        <div class="row text-center">
            <div class="col-12">    
                <h1 class="text-uppercase text-primary font-weight-bold">
                    Frequently Asked Questions
                </h1>
                <hr class="divider primary my-4" />

            </div>
        </div>
        <div class="p-5 bg-white">
            <div class="accordion" id="permissionsAccordion" role="tablist">


                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q3" aria-expanded="true" aria-controls="collapseOne">
                                How secure is my data?
                            </a>
                        </h6>
                    </div>
                    <div id="q3" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            All our hosted services are built upon the Windows Azure platform and hosted in datacenters fully managed by Microsoft. Windows Azure runs in geographically dispersed datacenters that comply with key industry standards, such as ISO/IEC 27001:2005, for security and reliability. In addition to datacenter, network, and personnel security practices, InstantASP incorporates security practices at the application and platform layers to enhance security for our customers.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q1" aria-expanded="true" aria-controls="collapseOne">
                                How do I pay &amp; how will I be billed?
                            </a>
                        </h6>
                    </div>
                    <div id="q1" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">

                            You can sign-up for all hosting plans via our web site securely using your credit card. All hosted services are automatically billed every 30 days in advance for the next month’s usage. You will be billed every 30 days from the date you sign-up until you cancel your hosted service.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q4" aria-expanded="true" aria-controls="collapseOne">
                                Are there any contracts / long term commitments?
                            </a>
                        </h6>
                    </div>
                    <div id="q4" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            No. We would rather keep you as a customer by offering great service and support. You can cancel your hosted account at any time. That said we cannot refund your monthly subscription so we would suggest you cancel towards the end of the current billed month.  If you cancel your hosted service just after being billed I’m afraid we cannot refund this.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q5" aria-expanded="true" aria-controls="collapseOne">
                                Is my account compliant with my regulatory requirements?
                            </a>
                        </h6>
                    </div>
                    <div id="q5" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            We commit to compliance with data protection and privacy laws generally applicable to IT service providers.  If you are subject to industry or jurisdictional requirements, you will need to make your own assessment of your ability to comply.  Customers in many industries and geographies have found they can use our hosted service in a manner that complies with applicable regulations, provided they utilize the services in a manner appropriate to their particular circumstances.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q6" aria-expanded="true" aria-controls="collapseOne">
                                Can we pay annually?
                            </a>
                        </h6>
                    </div>
                    <div id="q6" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            Yes. If you would like to pay annually please <a href="../../Contact/">contact us</a>. We can also offer a small discount if you choose to pay annually. We will contact you via email each year when your plan is due for renewal.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q7" aria-expanded="true" aria-controls="collapseOne">
                                What happens if I exceed storage or page view limits?
                            </a>
                        </h6>
                    </div>
                    <div id="q7" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            You should expect your page views & storage requirements to grow over time. If you exceed storage or page view limits you'll need to purchase additional storage and / or page views to match your growth.
                            For an extra $50 USD per month you will get 100k additional page views and an additional 10gb of storage 

                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q8" aria-expanded="true" aria-controls="collapseOne">
                                Are there any separate email sending fees?
                            </a>
                        </h6>
                    </div>
                    <div id="q8" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            To protect our mail servers against being blacklisted we limit the total number of emails you can send to 2000 emails per day or 60,000 emails per month. If you need to send more than 60,000 emails per month you can either use your own SMTP server from our hosted software or contact us for further pricing.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q9" aria-expanded="true" aria-controls="collapseOne">
                                How can I use my own domain?
                            </a>
                        </h6>
                    </div>
                    <div id="q9" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            Our plans allow you to use your own company domain name to access your hosted version of our software. You will first need to register your preferred domain name with a domain name registration service (for example GoDaddy). Once you have your domain you can add a A record for your domain or sub-domain to point this to our hosted service. This process once set-up correctly will be completely transparent to you're end users.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q10" aria-expanded="true" aria-controls="collapseOne">
                                Can we use SSL for our hosted service?
                            </a>
                        </h6>
                    </div>
                    <div id="q10" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            Yes all plans offer SSL support by default.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q11" aria-expanded="true" aria-controls="collapseOne">
                                What happens if another third party asks InstantASP for my data?
                            </a>
                        </h6>
                    </div>
                    <div id="q11" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            We believe our customers should control their own information whether stored on their premises or in a cloud service. Accordingly, we will not disclose customer data to any third party (including law enforcement, other government entity or civil litigant) except as you direct or is required by law. Should a third party contact us with a demand for customer data, we will always redirect the third party to request this information directly from you.
                        </div>
                    </div>
                </div>
                <div class="card card-body-flush" style="margin-top: -1px;">
                    <div class="card-header" role="tab">
                        <h6 class="card-title">
                            <a data-toggle="collapse" href="#q12" aria-expanded="true" aria-controls="collapseOne">
                                What level of support is provided with my plan?
                            </a>
                        </h6>
                    </div>
                    <div id="q12" role="tabpanel" aria-labelledby="PlatoHeader" data-parent="#accordion" class="list-group list-group-flush list-group-hover collapse">
                        <div class="list-group-item list-group-item-action">
                            All our plans are backed by our prompt first class support. You can open support tickets through our web site or email InstantASP directly and we'll strive to respond within 24 hours Mon-Fri. For urgent assistance you can also call us directly Mon-Fri 9am-9pm GMT.
                            If you receive our voice mail please leave a message and we'll call you right back.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
