@model ContactFormViewModel
@{
    AddTitleSegment(T["Privacy Policy"]);
}


<div style="background: url(/plato.site/content/images/bg10.png) top right no-repeat;">
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                        Privacy Policy
                    </h1>
                    <h2 class="font-weight-light">
                        Committed to protecting your privacy
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a name="community-support"></a>
                    <div class="w-100 p-4 bg-white border box-shadow">

                        <strong>Updated: September 1st 2019</strong>
                        <br /><br />
                        InstantASP Ltd (the "Company") is committed to protecting the privacy of individuals who visit the Company’s web sites, individuals who are eligible for, and make use of, our technical support services, individuals to whom we provide professional services, individuals who register to use our services, and individuals who register to attend the Company’s corporate events, where the applicable individual may by an individual licensee or purchaser of our products and/or services or an employee, agent, representative, customer or have some other connection to an entity that is a licensee or purchaser of our products and/or services.
                        <br /><br />
                        This Privacy Policy (the “Policy”) describes InstantASP’ privacy practices in relation to the use of the Company’s web sites and the related applications, services, and programs offered by the Company, as well as individuals’ choices regarding use, access and correction of personal information.
                        This Policy applies to information practices of our websites that link to this policy, including without limitation www.instantasp.co.uk, support.instantasp.co.uk, community.instantasp.co.ukm my.instantasp.co.uk, instantasp.net as well as all international domains and subdomains and/or any other InstantASP owned or controlled websites (the “Sites”). Note that the Sites may contain links to other company websites. Please be aware that our privacy policy does not apply to these other websites. Although InstantASP uses great care to select content for our Sites, including links to websites of third parties, we disclaim any responsibility for content that is found on these other websites. We encourage you to review the privacy statements of the other websites to understand their information

                        <br /><br />
                        This Policy provides information about how InstantASP collects, uses, discloses and protects the personal information (“Personal Information”) we gather when you (i) create or access an account through any of the Sites or use the services, including any applications or demos that we make available via the Sites, from time to time (the "Services"); (ii) download, install, or otherwise use any InstantASP software product, including any demos related to such products ("Products"); or (iii) subscribe to, access, configure, or otherwise use any InstantASP hosted or software-as-a-service offering ("SaaS Products"). The Sites, Services, Products, and SaaS Products are each referred to herein as a "InstantASP Property", or, collectively as the InstantASP Properties”.

                        <br /><br />
                        This Policy does not apply to the privacy practices governing the relationship between our customers and their end users when our customers use our Products or SaaS Products to collect and process data. Rather, such usage is governed by our customers’ privacy policies, over which we have no control.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">Information Gathered and Tracked by InstantASP</h5>
                        InstantASP may collect various types of information from visitors to our website or from phone or email conversations, which are described in more detail below. In some instances, we may combine one type of information with another type of information and store them together in our records. In all cases, however, we strive to limit the amount of information we collect and store to that which is necessary to provide you the relevant services.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">Organizational Information We Collect</h5>
                        Within our Sites, you may be asked to give us personal or organizational information in order to purchase or receive information about a InstantASP Property. We may collect this information through different methods, including (without limitation):
                        <br /><br />

                        <ul>
                            <li>
                                Registration Forms. We encourage all visitors to register with InstantASP, although registration is not required except for access to our premium content areas. The registration forms require users to give us accurate contact information and references to help us better serve you. You will be given specific account information in connection with establishing an account with us and it is your responsibility to keep your account credentials confidential at all times.
                            </li>
                            <li>
                                Order Forms and Enrollment Forms. Our order forms securely collect visitor’s contact information and payment information to use for order fulfillment and this information may be shared with our partners or resellers if that is necessary to fulfill your request. During the purchasing process, you may be given the opportunity to sign up for future e-mailings regarding our products, services, and promotions.
                            </li>
                            <li>
                                Registration Profile. You may also be given the option of registering a profile with us to store your name, purchase history, and billing information to make it easier for you to shop and purchase products/services from us in the future. You may change/cancel information relating to your profile online at any time.
                            </li>
                            <li>
                                Online forums and social networks. Any Personal Information that you choose to submit to one of our online forums or social networks may be read, collected, or used by others who visit these community areas. You should carefully consider whether you wish to submit Personal Information to these forums or social networks and should tailor any content you submit appropriately.
                            </li>
                        </ul>
                        <h5 class="text-primary font-weight-bold text-uppercase">Personal Information We Collect</h5>
                        The Personal Information collected by InstantASP may include, but is not necessarily limited to:
                        <ul>
                            <li>
                                Contact information (such as your name, title, e-mail address, postal address, and telephone number)
                            </li>
                            <li>
                                Financial/credit card and payment information (please see the “Third Party Payment Processor” section for more information);
                            </li>
                        </ul>
                        Where applicable, if you choose to access, or log in to, any InstantASP Website using your Google, Facebook, Yahoo, or other accounts accepted by the applicable InstantASP Websites, the third-party site may share with us certain Personal Information.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">Sensitive Information</h5>
                        We ask that you not send or otherwise share with us any sensitive Personal Information, which includes but is not limited to your government-issued ID numbers (e.g. Social Security Number or driver’s license number), racial or ethnic information, political or religious opinions, or your health information.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">Do Not Track</h5>
                        Without a common industry or legal standard for interpreting Do Not Track (DNT) signals, InstantASP does not respond to browser DNT signals. We will continue to monitor further development of a DNT standard by the privacy community and industry.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">How InstantASP uses your information</h5>
                        InstantASP does not sell, lease or rent the Personal Information you share with us with third-parties.
                        <br /><br />
                        InstantASP may share, disclose, or provide your Personal Information to third parties: (i) when attempting to collect a payment or debt; (ii) when required to combat fraud or to protect our interests; (iii) to enforce our Privacy Policy, our Terms of Use, or any terms of service or end user license agreement of InstantASP; (iv) when required to do so by law or in response to legal process or lawful requests, including from law enforcement or government agencies; (v) within and among our affiliates and subsidiaries; or (vi) as part of a merger, sale of our business or assets, or dissolution.
                        <br /><br />
                        InstantASP may employ other companies and individuals to perform functions on our behalf. Examples may include providing hosting and network services, information technology support, and customer service. These other companies will have access to the Personal Information we collect only as necessary to perform their functions and to the extent permitted by law.
                        <br /><br />
                        We never use or share the Personal Information provided to us online in ways unrelated to the ones described above without also providing you an opportunity to opt-out or otherwise prohibit such unrelated uses.
                        <Br /><br />
                        European citizens may submit requests relating to their own personal data collected by InstantASP (including without limitation, a request to access and/or delete their personal data) by submitting a GDPR Data Subject Access Request.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">Non personally identifiable information</h5>
                        As you browse our Sites, our web servers collect non-personal information about your visit for the operation and improvement of the InstantASP Properties, to track Site trends and statistics, and to prevent Product license abuse. Via server logs, we monitor statistics such as the number of visitors to our Sites, which pages on the Sites that people visit most often and from which domains visitors come to the Sites. While we gather this type of information, none of it is associated with you as an individual. We use these statistics to improve our Sites, monitor their performance, and to make it easier for you and other visitors to use them.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">How we use Cookies</h5>
                        A cookie is a small, encrypted data string our server writes to your hard drive that contains your unique information.  Cookies in the InstantASP Properties may collect a unique identifier, user preferences and profile information and membership information. InstantASP’ server will query your browser to see if there are “cookies” previously set by the InstantASP Properties.  A cookie cannot be used to access or otherwise compromise the data on your hard drive.
                        We may use both session cookies (which expire once you close your web browser) and persistent cookies (which stay on your computer until you delete them) and other technologies to help us collect information such as domain names, IP address (which may consist of a static or dynamic IP-address, and will sometimes point to a specific identifiable computer or device), browser type, operating system, access times, referring/exit web site addresses, information regarding your experience with InstantASP Properties, and other data (“Other Information”) to enhance your experience using the Sites.
                        <br /><br />
                        We may use cookies for various purposes, including:
                        <br /><br />

                        <ul>
                            <li>
                                To help you navigate the InstantASP Properties;
                            </li>
                            <li>
                                To facilitate the sign up and login process for our products and services;
                            </li>
                            <li>
                                To personalize your experience;
                            </li>
                            <li>
                                To analyze which pages are visited most frequently;
                            </li>
                            <li>
                                To provide features such as social sharing widgets and videos; and
                            </li>
                            <li>
                                To measure advertising and promotional effectiveness.
                            </li>
                        </ul>
                        <h5 class="text-primary font-weight-bold text-uppercase">Informed Consent to Data Collection and Processing</h5>
                        InstantASP will rely on current and prospective customers to determine what information they would like to receive about our products, services and partners and will inform all visitors to our websites of their rights regarding information collection and tracking and provide the ability for an individual to amend their selections in the future.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">Third Party Payment Processor</h5>
                        We use third-party service providers (“Payment Processors”) to manage credit card processing. Under our agreement with service providers, they are not permitted to store, retain, or use your Personal Information or your billing information except for the sole purpose of credit card processing on our behalf. In certain cases, we may have access to the last four digits of your credit card number, its expiration date, and the billing address, which we will use solely to assist us in providing the product or service you purchased.
                        In addition, we and our service providers may use any information processed pursuant to this section at an aggregate level for internal business analyses and fraud prevention.

                        <h5>Correcting and Updating Your Personal Information</h5>
                        InstantASP may retain your information for a period of time consistent with the original purpose of collection. For instance, we may retain your information during the time in which you have an account to use our Sites or Services and for a reasonable period of time afterward.
                        We also may retain your information during the period of time needed for InstantASP to pursue our legitimate business interests, conduct audits, comply with our legal obligations, resolve disputes and enforce our agreements.<br /><br />
                        You may request to review, correct, delete or otherwise modify any of the personal information that you have previously provided to us through the InstantASP Properties.
                        If you have registered for an account with InstantASP, you may generally update your user settings, profile or organization’s settings by logging into the applicable Site or Service with your username and password and editing your settings or profile.
                        To update your billing information, discontinue your account, and/or request return or deletion of your Personal Information associated with your account, please contact your account representative or the customer service team for the applicable Service.
                        For other requests to access, correct, modify or delete your Personal Information, please review the “How To Contact Us” section below. Requests to access, change, or delete your information will be addressed within a reasonable timeframe.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">GDPR Data Subject Access Request</h5>
                        There is no fee to submit a GDPR Data Subject Access Request, but InstantASP reserves the right to charge a reasonable fee for requests that are unfounded, excessive, or repetitive.  After receiving your data subject access request, we may contact you to request additional supporting information and/or proof of your identity. This helps us to safeguard your privacy and personal data. Once we have all the information necessary to process your request and have satisfactorily validated your identity, we will respond within one month and will aim to provide all required information to you within the same period. If we require more information from you, or if your request is unusually complicated, we may require more time and will inform you accordingly.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">Our Commitment To Data Security</h5>
                        To prevent unauthorized access, maintain data accuracy, and ensure the correct use of information, we have put in place appropriate procedures to safeguard and secure the information we collect. All personal information is transmitted in encrypted format using SSL, and individual credit card information is not stored on our systems at any time after the completion of an order.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">How To Contact Us</h5>
                        Should you have other questions or wish to submit a GDPR Data Subject Access Request please don't hesitate to <a asp-route-action="Contact">contact us</a>.<br /><br />

                        You may also wish to review our <a asp-route-action="Terms">terms or use</a>.

                    </div>

                </div>
            </div>
        </div>
    </section>
</div>




<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Ready to make Plato your support hub?
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>