@model ContactFormViewModel
@{
    AddTitleSegment(T["Support Options"]);
}

<div style="background: url(/plato.site/content/images/bg10.png) top right no-repeat;"> 
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                        Support
                    </h1>
                    <h2 class="font-weight-light">
                        The Plato support options explained
                    </h2>
                    <a name="community-support"></a>
                </div>
            </div>
        </div>
    </section>            
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="w-100 p-4 bg-white box-shadow">
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-bottom font-weight-bold text-uppercase text-primary">Community Support</h3>
                        <hr />
                        <p class="font-weight-bold">
                            Included with a self hosted free license
                        </p>
                        <p>
                            We will always do our best to assist but unfortunately whilst we would love to help everyone, we are only a small team and as such cannot guarantee official support for Plato if your using a free version of Plato.
                            If your using the free version of Plato the best place to obtain support is through our own installation of Plato. Use the button below to browse our support resources or post your questions.
                        </p>
                        <p>
                            <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index" class="btn btn-primary">Browse Support</a>
                            <a name="priority-support"></a>
                        </p>
                    </div>


                    <div class="mt-4 w-100 p-4 bg-white box-shadow">
                        <div class="float-right">
                            $400 / year after the first year
                        </div>
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-middle font-weight-bold text-uppercase text-primary">Priority Support</h3>
                        <hr />
                        <p class="font-weight-bold">
                            Included with a self-hosted business license
                        </p>
                        <p>
                            If you require guaranteed priority technical support for your self-hosted Plato installation our priority support package lets you connect directly to lead Plato product developers to obtain in-depth technical support through email or in real-time through Slack or GotoMeeting calls.
                        </p>
                        <p>
                            Our priority support service includes: -
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Access to pre-packaged, tested, officially supported builds
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Priority support from Plato developers for a single Plato installation for one year
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                A guaranteed response via email within 48 hours (usually quicker)
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                You will receive "Supporter" status within <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index">our community</a> guaranteeing a response within 48 hours
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Escalation to real-time assistance within 72 hours if needed
                            </li>
                            <li class="d-block p-0">
                                <i class="fal fa-check text-primary mr-2"></i>
                                Cancel or renew anytime after the first year and continue to use Plato
                            </li>
                        </ol>
                        <p>
                            Our self-hosted Plato <a asp-route-action="Pricing">business license</a> comes with priority support included.
                        </p>
                        <p>
                            <a asp-route-action="Pricing" class="btn btn-primary">
                                Purchase - $1,299
                            </a>
                            <a href="https://order.shareit.com/cart/add?vendorid=200279505&PRODUCT[300965436]=1" class="btn btn-primary">
                                Renew - $400
                            </a>
                            <a name="concierge-service"></a>
                        </p>
                    </div>


                    <div class="mt-4 w-100 p-4 bg-white box-shadow">
                        <div class="float-right">
                            $600 / year after the first year
                        </div>
                        <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-40 align-middle mr-2" />
                        <h3 class="d-inline-block align-middle font-weight-bold text-uppercase text-primary">Concierge Service</h3>
                        <hr />
                        <p class="font-weight-bold">
                            Included with a self-hosted enterprise license
                        </p>
                        <p>
                            Our concierge service is the highest level of support we offer. The concierge service offers all the benefits of our <a asp-fragment="priority-support">priority support package</a> ensuring you receive guaranteed priority technical support but also includes the following benefits...
                        </p>
                        <ol class="list-inline">
                            <li class="d-block p-0">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    Up to 6 hours (usually three 2 hour calls) of personal training from Plato product developers via GotoMeeting or Microsoft Teams to assist with on-boarding, employee training or anything else to help you succeed with Plato
                                </div>
                            </li>
                            <li class="d-block p-0">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    Up to 6 hours (usually three 2 hour calls) of in-depth real-time technical assistance via GotoMeeting or Microsoft Teams to assist with installation, configuration, upgrading, optimizations, 3rd party integrations, data migrations, single sign-on or any other technical aspect you need
                                </div>
                            </li>
                            <li class="d-block p-0">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    We will work with you to develop & deliver a unique theme for your Plato installation. We will present up-to 5 unique mock-ups until you are 100% happy our Plato theme perfectly matches your brand or existing web site.
                                </div>
                            </li>
                            <li class="d-block p-0">
                                <div class="list-left list-left-24">
                                    <i class="fal fa-check text-primary mt-1"></i>
                                </div>
                                <div class="list-body">
                                    Cancel or renew anytime after the first year and continue to use Plato
                                </div>
                            </li>
                        </ol>
                        <p>
                            Our self-hosted Plato <a asp-route-action="Pricing">enterprise license</a> comes with our concierge service included.
                        </p>
                        <p>
                            <a asp-route-action="Pricing" class="btn btn-primary">
                                Purchase - $2,499
                            </a>
                            <a href="https://order.shareit.com/cart/add?vendorid=200279505&PRODUCT[300965437]=1" class="btn btn-primary">
                                Renew - $600
                            </a>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Ready to make Plato your support hub?
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing" data-provide="loader-spy">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>