@model ContactFormViewModel
@{
    AddTitleSegment(T["Terms of Service"]);
}

<!-- Jumbotron -->
<section class="flex-column d-flex text-center">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="my-6 mx-auto">
                <img src="~/plato.site/content/images/logo.png" alt="Plato Logo" title="Plato Logo" class="max-w-100 mb-4" />
                <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                    Learn more about the support offered for Plato
                </h1>
                <hr class="divider border-primary" />
                <h2 class="font-weight-light my-4 mx-auto w-70">
                    We would love to hear from you. Use the form below to get in touch.
                </h2>
            </div>
        </div>
    </div>
</section>




<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Ready to make Plato your support hub?
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>