@model ContactFormViewModel
@{
    AddTitleSegment(T["Terms of Service"]);
}

<div style="background: url(/plato.site/content/images/bg10.png) top right no-repeat;">
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-uppercase display-4 text-primary font-weight-bold">
                        Terms Of Use
                    </h1>
                    <h2 class="font-weight-light">
                        Terms of use related to the Plato web site
                    </h2>
                </div>
            </div>
        </div>
    </section>
    <section class="page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a name="community-support"></a>
                    <div class="w-100 p-4 bg-white border box-shadow">

                        <strong>Updated: September 1st 2019</strong>
                        <br /><br />

                        Usage of our web site & services is subject to your compliance with the terms and conditions set forth below.<br /><br />

                        <strong>Welcome to the Plato web site (the "Site"), the official website of Plato a free, open source user community & customer support platform developed by InstantASP Ltd, a UK based limited company formed to deliver best in breed user community & support software.</strong><br /><br />

                        PLEASE READ THIS DOCUMENT CAREFULLY BEFORE ACCESSING OR USING THE SITE. BY ACCESSING OR USING THE SITE, YOU AGREE TO BE BOUND BY THE TERMS AND CONDITIONS SET FORTH BELOW. IF YOU DO NOT WISH TO BE BOUND BY THESE TERMS AND CONDITIONS, YOU MAY NOT ACCESS OR USE THE SITE. INSTANTASP MAY MODIFY THIS AGREEMENT AT ANY TIME, AND SUCH MODIFICATIONS SHALL BE EFFECTIVE IMMEDIATELY UPON POSTING OF THE MODIFIED AGREEMENT ON THE SITE. YOU AGREE TO REVIEW THE AGREEMENT PERIODICALLY TO BE AWARE OF SUCH MODIFICATIONS AND YOUR CONTINUED ACCESS OR USE OF THE SITE SHALL BE DEEMED YOUR CONCLUSIVE ACCEPTANCE OF THE MODIFIED AGREEMENT.<br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">1. Copyright, Licenses and Idea Submissions</h5>
                        The entire contents of the Site are protected by international copyright and trademark laws. The owner of the copyrights and trademarks are InstantASP, its affiliates or other third party licensors.<br /><br />

                        <strong>YOU MAY NOT MODIFY, COPY, REPRODUCE, REPUBLISH, UPLOAD, POST, TRANSMIT, OR DISTRIBUTE, IN ANY MANNER, THE MATERIAL ON THE SITE, INCLUDING TEXT, GRAPHICS, CODE AND/OR SOFTWARE.</strong><br /><br />

                        You may print and download portions of material from the different areas of the Site solely for your own non-commercial use provided that you agree not to change or delete any copyright or proprietary notices from the materials. <br /><br />
                        You agree to grant to InstantASP a non-exclusive, royalty-free, worldwide, perpetual license, with the right to sub-license, to reproduce, distribute, transmit, create derivative works of, publicly display and publicly perform any materials and other information (including, without limitation, ideas contained therein for new or improved products and services) you submit to any public areas of the Site (such as bulletin boards, forums and newsgroups) or by e-mail to InstantASP by all means and in any media now known or hereafter developed. You also grant to InstantASP the right to use your name in connection with the submitted materials and other information as well as in connection with all advertising, marketing and promotional material related thereto. You agree that you shall have no recourse against InstantASP for any alleged or actual infringement or misappropriation of any proprietary right in your communications to InstantASP. <br /><br />

                        <strong>TRADEMARKS</strong><br /><br />
                        Publications, products, content or services referenced herein or on the Site are the exclusive trademarks or servicemarks of InstantASP. Other product and company names mentioned in the Site may be the trademarks of their respective owners.
                        <br/><br/>

                        <h5 class="text-primary font-weight-bold text-uppercase">2. Use of the Site</h5>
                        You understand that, except for information, products or services clearly identified as being supplied by InstantASP, InstantASP does not operate, control or endorse any information, products or services on the Internet in any way. Except for InstantASP- identified information, products or services, all information, products and services offered through the Site or on the Internet generally are offered by third parties, that are not affiliated with InstantASP a. You also understand that InstantASP cannot and does not guarantee or warrant that files available for downloading through the Site will be free of infection or viruses, worms, Trojan horses or other code that manifest contaminating or destructive properties. You are responsible for implementing sufficient procedures and checkpoints to satisfy your particular requirements for accuracy of data input and output, and for maintaining a means external to the Site for the reconstruction of any lost data. <br /><br />
                        YOU ASSUME TOTAL RESPONSIBILITY AND RISK FOR YOUR USE OF THE SITE AND THE INTERNET. INSTANTASP PROVIDES THE SITE AND RELATED INFORMATION "AS IS" AND DOES NOT MAKE ANY EXPRESS OR IMPLIED WARRANTIES, REPRESENTATIONS OR ENDORSEMENTS WHATSOEVER (INCLUDING WITHOUT LIMITATION WARRANTIES OF TITLE OR NONINFRINGEMENT, OR THE IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE) WITH REGARD TO THE SERVICE, ANY MERCHANDISE INFORMATION OR SERVICE PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY, AND INSTANTASP SHALL NOT BE LIABLE FOR ANY COST OR DAMAGE ARISING EITHER DIRECTLY OR INDIRECTLY FROM ANY SUCH TRANSACTION. IT IS SOLELY YOUR RESPONSIBILITY TO EVALUATE THE ACCURACY, COMPLETENESS AND USEFULNESS OF ALL OPINIONS, ADVICE, SERVICES, MERCHANDISE AND OTHER INFORMATION PROVIDED THROUGH THE SERVICE OR ON THE INTERNET GENERALLY. INSTANTASP DOES NOT WARRANT THAT THE SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE OR THAT DEFECTS IN THE SERVICE WILL BE CORRECTED.
                        YOU UNDERSTAND FURTHER THAT THE PURE NATURE OF THE INTERNET CONTAINS UNEDITED MATERIALS SOME OF WHICH ARE SEXUALLY EXPLICIT OR MAY BE OFFENSIVE TO YOU. YOUR ACCESS TO SUCH MATERIALS IS AT YOUR RISK. INSTANTASP HAS NO CONTROL OVER AND ACCEPTS NO RESPONSIBILITY WHATSOEVER FOR SUCH MATERIALS.<br /><br />

                        <STRONG>LIMITATION OF LIABILITY</STRONG>.<br /><br />

                        IN NO EVENT WILL INSTANTASP BE LIABLE FOR (I) ANY INCIDENTAL, CONSEQUENTIAL, OR INDIRECT DAMAGES (INCLUDING, BUT NOT LIMITED TO, DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, LOSS OF PROGRAMS OR INFORMATION, AND THE LIKE) ARISING OUT OF THE USE OF OR INABILITY TO USE THE SERVICE, OR ANY INFORMATION, OR TRANSACTIONS PROVIDED ON THE SERVICE, OR DOWNLOADED FROM THE SERVICE, OR ANY DELAY OF SUCH INFORMATION OR SERVICE. EVEN IF INSTANTASP OR ITS AUTHORIZED REPRESENTATIVES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR (II) ANY CLAIM ATTRIBUTABLE TO ERRORS, OMISSIONS, OR OTHER INACCURACIES IN THE SERVICE AND/OR MATERIALS OR INFORMATION DOWNLOADED THROUGH THE SERVICE. BECAUSE SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IN SUCH STATES, INSTANTASP LIABILITY IS LIMITED TO THE GREATEST EXTENT PERMITTED BY LAW. <br /><br />
                        InstantASP makes no representations whatsoever about any other web site which you may access through this one or which may link to this Site. When you access a non-InstantASP web site, please understand that it is independent from InstantASP, and that InstantASP has no control over the content on that web site. In addition, a link to a InstantASP web site does not mean that InstantASP endorses or accepts any responsibility for the content, or the use, of such web site.
                        <br/><br/>

                        <h5 class="text-primary font-weight-bold text-uppercase">3. Indemnification</h5>
                        You agree to indemnify, defend and hold harmless InstantASP, its officers, directors, employees, agents, licensors, suppliers and any third party information providers to the Service from and against all losses, expenses, damages and costs, including reasonable attorneys' fees, resulting from any violation of this Agreement (including negligent or wrongful conduct) by you or any other person accessing the Service.
                        <br/><br/>

                        <h5 class="text-primary font-weight-bold text-uppercase">4. Third Party Rights</h5>
                        The provisions of paragraphs 2 (Use of the Site), and 3 (Indemnification) are for the benefit of InstantASP and its officers, directors, employees, agents, licensors, suppliers, and any third party information providers to the Service. Each of these individuals or entities shall have the right to assert and enforce those provisions directly against you on its own behalf.
                        <br /><br />

                        <h5 class="text-primary font-weight-bold text-uppercase">5. Term Termination</h5>
                        This Agreement may be terminated by either party without notice at any time for any reason. The provisions of paragraphs 1 (Copyright, Licenses and Idea Submissions), 2 (Use of the Site), 3 (Indemnification), 4 (Third Party Rights) and 6 (Miscellaneous) shall survive any termination of this Agreement.
                        <br/><br/>

                        <h5 class="text-primary font-weight-bold text-uppercase">6. Miscellaneous</h5>
                        This Agreement shall all be governed and construed in accordance with the laws of the United Kingdom applicable to agreements made and to be performed in the United Kingdom. You agree that any legal action or proceeding between InstantASP and you for any purpose concerning this Agreement or the parties' obligations hereunder shall be brought exclusively in a federal or state court of competent jurisdiction sitting in the United Kingdom. Any cause of action or claim you may have with respect to the Service must be commenced within one (1) year after the claim or cause of action arises or such claim or cause of action is barred. InstantASP's failure to insist upon or enforce strict performance of any provision of this Agreement shall not be construed as a waiver of any provision or right. Neither the course of conduct between the parties nor trade practice shall act to modify any provision of this Agreement. InstantASP may assign its rights and duties under this Agreement to any party at any time without notice to you. <br /><br />
                        Any rights not expressly granted herein are reserved.<br /><br />
                        
                        You may also wish to review our <a asp-route-action="Privacy">privacy policy</a>.
                    </div>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- Call to action -->
<section class="page bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-uppercase font-weight-bold text-white">
                    Ready to make Plato your support hub?
                </h1>
                <a class="btn btn-light text-primary btn-lg mt-4" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</section>