@{
    ViewData["Title"] = "Plato Admin";
}
<h4>@T["Plato Dashboard"]</h4>
<span class="text-muted">@T["Using the dashboard you can customize your plato installation by adding new modules or themes."]</span>