@model EntityIndexViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Search"]</h6>
    </card-title>
    <card-body>
        @await DisplayAsync(new View("Search", new
        {
            options = @Model.Options,
        }))
    </card-body>
</card>

@if (!String.IsNullOrEmpty(Model.Options.Search))
{
    @await DisplayAsync(new View("SearchList", new
    {
        options = @Model.Options,
        pager = @Model.Pager
    }))
}

