@model SearchIndexViewModel

<card>
    <card-title>
        <h6 class="card-title">@T["Search"]</h6>
    </card-title>
    <card-body>
        @await DisplayAsync(new View("Search", new
        {
            viewOpts = @Model.ViewOpts,
        }))
    </card-body>
</card>

@if (!String.IsNullOrEmpty(Model.ViewOpts.Search))
{
    @await DisplayAsync(new View("SearchList", new
    {
        viewOpts = @Model.ViewOpts,
        pagerOpts = @Model.PagerOpts
    }))
}

