@model EntityIndexViewModel<Entity>

@if (!String.IsNullOrEmpty(Model.Options.Search))
{
    @await DisplayAsync(new View("SearchList", new
    {
        options = @Model.Options,
        pager = @Model.Pager
    }))
}
else
{
    <card>
        <card-body>
            <div class="text-center">
                <span class="text-muted">
                    @T["Enter some keywords above to perform a search"]
                </span>
            </div>
        </card-body>
    </card>
}

