@model EntityIndexViewModel<Entity>

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">
            @T["Search Within"]
        </h6>
    </card-title>
    <card-body>

        <div class="nav-v">
            <div class="navbar p-0 navbar-expand-lg">

                <div class="d-flex align-items-center">
                    <button class="navbar-toggler m-3" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse list-group list-group-flush list-group-hover flex-column" id="navbar-collapse" role="navigation">

                    <navigation name="search"
                                collaspsable="true"
                                collapse-css="collapse show"
                                enable-child-list="false"
                                class="navbar-nav d-lg-block w-100"
                                child-ul-css-class="nav"
                                selected-css-class=""
                                li-css-class="nav-item w-100"
                                link-css-class="nav-link list-group-item list-group-item-action" />

                </div>
            </div>
        </div>

    </card-body>
</card>



