@model EntityIndexViewModel<Entity>

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">
            @T["Search Within"]
        </h6>
    </card-title>
    <card-body>
        <navigation name="search"
                    collaspsable="true"
                    collapse-css="collapse show"
                    enable-child-list="false"
                    class="list-group list-group-flush"
                    selected-css-class=""
                    li-css-class="d-block"
                    link-css-class="list-group-item list-group-item-action" />
    </card-body>
</card>



