@model EditEntityViewModel

@if (Model.Id == 0)
{
    <h4>@T["New Idea"]</h4>
    <span class="text-muted">@T["Post a new idea below."]</span>
    <hr />
}
else
{
    <h4>@T["Edit Idea"]</h4>
    <span class="text-muted">@T["Edit the idea below."]</span>
    <hr />
}



