

<div class="row no-gutters bg-black">
    <div class="container">
        <div class="pt-4 my-md-5 pt-md-5">
            <div class="row">
                <div class="col-12 col-md">
                    <h4 class="font-weight-light">
                        <a class="text-white" asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Index">
                            <span class="plato-brand mr-3"></span>@T["Plato"]
                        </a>
                    </h4>
                    <p class="d-block my-4 text-muted">
                        Plato is free, open source user community & customer support software built upon .NET core
                    </p>
                    <p>
                        <a class="btn btn-outline-dark text-muted" href="https://github.com/InstantASP/plato">
                            <i class="fab fa-github mr-2"></i>Get the code
                        </a>
                    </p>
                </div>
                <div class="col-6 col-md">
                    <h5>Plato</h5>
                    <ul class="list-inline">
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Index" class="text-white">
                                Home
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="About" class="text-white">
                                About Plato
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Features" class="text-white">
                                Key Features
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Modules" class="text-white">
                                Official Modules
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Core" asp-route-controller="Home" asp-route-action="Index" class="text-white">
                                Demo
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Pricing" class="text-white">
                                Pricing
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Support</h5>
                    <ul class="list-inline">
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Discuss" asp-route-controller="Home" asp-route-action="Index" class="text-white">
                                Forums
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Docs" asp-route-controller="Home" asp-route-action="Index" class="text-white">
                                Documentation
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Articles" asp-route-controller="Home" asp-route-action="Index" class="text-white">
                                Knowledge base
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Questions" asp-route-controller="Home" asp-route-action="Index" class="text-white">
                                Ask a Question
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Ideas" asp-route-controller="Home" asp-route-action="Index" class="text-white">
                                Suggest Ideas
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Issues" asp-route-controller="Home" asp-route-action="Index" class="text-white">
                                Submit an Issue
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>More</h5>
                    <ul class="list-inline">
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Docs.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-opts.categoryId="3" asp-route-opts.alias="whats-new" class="text-white">
                                What's New
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Discuss.Categories" asp-route-controller="Home" asp-route-action="Index" asp-route-opts.categoryId="1" asp-route-opts.alias="announcements" class="text-white">
                                Announcements
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="SupportOptions" class="text-white">
                                Support Options
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Contact" class="text-white">
                                Plato on GitHub
                            </a>
                        </li>
                        <li class="d-block mb-2">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Contact" class="text-white">
                                Contact Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12 col-lg-6">
                    <p class="d-block text-muted">
                        Created with <span title="love" data-toggle="tooltip">❤️</span> <span title="coffee" data-toggle="tooltip">☕</span> <span title="pizza" data-toggle="tooltip">🍕</span> by <a class="text-muted" href="https://www.instantasp.co.uk/">InstantASP</a> &copy; @DateTime.Now.Year
                    </p>
                </div>
                <div class="col-12 col-lg-6">
                    <ul class="list-inline float-lg-right">
                        <li class="list-inline-item">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Terms" class="text-muted">
                                Terms of Use
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a asp-route-area="Plato.Site" asp-route-controller="Home" asp-route-action="Privacy" class="text-muted">
                                Privacy Policy
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
