@{
    ViewData["Title"] = "Manage Roles";
}

<h4>@T["Manage Roles"]</h4>
<span class="text-muted">@T["Using the dashboard you can customize your plato installation by adding new modules or themes."]</span>
