@model LabelIndexViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title float-left">@T["Labels"]</h6>
    </card-title>
    <card-body>
        @if (Model.Results != null)
        {
            <ul class="list-group list-group-flush list-group-hover">
                @foreach (var label in Model.Results.Data)
                {
                    <li class="list-group-item  list-group-item-action pt-4">
                        @await DisplayAsync(new View("LabelListItem", new
                        {
                            model = new LabelListItemViewModel()
                            {
                                Label = label
                            } 
                        }))
                    </li>

                }
            </ul>
        }
        else
        {
            <ul class="list-group list-group-flush list-group-hover">
                <li class="list-group-item">
                    <h6>@T["No labels found"]</h6>
                </li>
            </ul>
        }
    </card-body>
</card>

<div class="mt-4 mb-4">
    <pager model="@Model.Pager"></pager>
</div>
