@using Microsoft.AspNetCore.Routing
@model AdminViewModel

<card class="card card-body-flush">
    <card-title>
        <h6 class="card-title">@T["Quick Links"]</h6>
    </card-title>
    <card-body>

        <div class="list-group list-group-flush list-group-hover">
            <div class="row no-gutters">
                <div class="float-left list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12 border-0 m-0 p-0">
                    <a asp-route-area="Plato.Features" asp-route-controller="Admin" asp-route-action="Index" class="list-group-item-action d-block p-3">
                        <h6>Features</h6>
                        <p>
                            Features allow you to extend and customize your Plato installation.
                        </p>
                        <span class="btn btn-secondary">
                            Goto Features
                        </span>

                    </a>
                </div>
                <div class="float-left list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12 border-0 m-0 p-0">
                    <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="Index" class="list-group-item-action d-block p-3">
                        <h6>Users</h6>
                        <p>
                            Manage profiles, ban users or associate users with additional roles.
                        </p>
                        <span class="btn btn-secondary">
                            Goto Users
                        </span>

                    </a>
                </div>
                <div class="float-left list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12 border-0 m-0 p-0">
                    <a asp-route-area="Plato.Roles" asp-route-controller="Admin" asp-route-action="Index" class="list-group-item-action d-block p-3">
                        <h6>Roles</h6>
                        <p>
                            Roles control access to content and functionality within Plato.
                        </p>
                        <span class="btn btn-secondary">
                            Goto Roles
                        </span>
                    </a>
                </div>
                <div class="float-left list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12 border-0 m-0 p-0">
                    <a asp-route-area="Plato.Settings" asp-route-controller="Admin" asp-route-action="Index" class="list-group-item-action d-block p-3">
                        <h6>Settings</h6>
                        <p>
                            Manage general settings, configure outbound email & more...
                        </p>
                        <span class="btn btn-secondary">
                            Goto Settings
                        </span>
                    
                    </a>
                </div>
            </div>
        </div>

    </card-body>
</card>