

<card class="card card-body-flush">
    <card-body>
        
        <div class="list-group list-group-flush list-group-hover">
            <div class="row no-gutters">
                <div class="float-left list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12 border-0 m-0 p-0">
                    <a asp-route-area="Plato.Features" asp-route-controller="Admin" asp-route-action="Index" class="list-group-item-action d-block p-3">
                        <i class="fal fa-cube mr-2"></i>
                        Features
                        <hr />
                        Plato is very extensible and can be customized by installing features.
                        <br /><br />
                        <span class="btn btn-secondary">
                            Goto Features
                        </span>
                    </a>
                </div>
                <div class="float-left list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12 border-0 m-0 p-0">
                    <a asp-route-area="Plato.Users" asp-route-controller="Admin" asp-route-action="Index" class="list-group-item-action d-block p-3">
                        <i class="fal fa-users mr-2"></i>
                        Users
                        <hr />
                        Manage user profiles, ban users or associate users with additional roles.
                        <br /><br />
                        <span class="btn btn-secondary">
                            Goto Users
                        </span>
                    </a>
                </div>
                <div class="float-left list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12 border-0 m-0 p-0">
                    <a asp-route-area="Plato.Roles" asp-route-controller="Admin" asp-route-action="Index" class="list-group-item-action d-block p-3">
                        <i class="fal fa-lock mr-2"></i>
                        Roles
                        <hr />
                        Roles control access to content and functionality within Plato.
                        <br /><br />
                        <span class="btn btn-secondary">
                            Goto Roles
                        </span>
                    </a>
                </div>
                <div class="float-left list-group-item list-group-item-action col-lg-3 col-md-6 col-sm-12 border-0 m-0 p-0">
                    <a asp-route-area="Plato.Settings" asp-route-controller="Admin" asp-route-action="Index" class="list-group-item-action d-block p-3">
                        <i class="fal fa-cog mr-2"></i>
                        Settings
                        <hr />
                        Manage general settings, configure outbound email & more...
                        <br /><br />
                        <span class="btn btn-secondary">
                            Goto Settings
                        </span>
                    </a>
                </div>
            </div>
        </div>

    </card-body>
</card>