@model EditChannelViewModel

@if (Model.IsNewChannel)
{
    <h4>@T["Add Category"]</h4>
    <span class="text-muted">@T["Add a new category."]</span>
}
else
{
    <h4>@T["Edit Category"]</h4>
    <span class="text-muted">@T["Edit an existing category."]</span>
}

<hr />



