
@media (max-width: 1600px) {
    .container { max-width: 1340px; }
}


/* ------------------- */
/* Buttons */
/* ------------------- */

.btn { border-radius: 2px; }


.btn-secondary { background: #f8f8f8; border-color: #ccc; color: #000;  }
.btn-secondary:hover {  background: #f2f2f2; border-color: #aaa; color: #000;  }

/* ------------------- */
/* List Groups */
/* ------------------- */

/* Hover state for lists-groups */
.list-group-hover .list-group-item:not(.active):hover {
    background-color: #F6F7F5;
}

.list-group-check-list input:checked + label {
    color: white;
    background-color: #007bff;
}
/* ------------------- */
/* Dropdowns */
/* ------------------- */

.dropdown-menu {
     box-shadow: 2px 2px 7px 0 rgba(100, 100, 100, 0.5);
}

.dropdown-item:hover, 
.dropdown-item:focus {
    color: #fff;
    background-color: #007bff;
}

/* ------------------- */
/* Switches */
/* ------------------- */

.switch input:checked + .switch-slider  { 
    color:#FFFFFF; 
    background-color:#007bff; 
    border-color:#007bff;
}

