
.bg-secondary { background-color: #F8F8F8 !important; }
.border-secondary { border-color: #E9E9E9 !important; }

/* ------------------- */
/* Forms */
/* ------------------- */

.form-control-active {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* ------------------- */
/* Container */
/* ------------------- */

@media (max-width: 1600px) {
    .container { max-width: 1340px; }
}

/* ------------------- */
/* Buttons */
/* ------------------- */

.btn { border-radius: 3px; }
.btn-sm { border-radius: 1px; }

.btn-secondary { background: #f8f8f8; }
.btn-secondary,
.btn-outline-secondary { border-color: #ccc; color: #000;  }

.btn-secondary:hover {  background: #f2f2f2; border-color: #aaa; color: #000;  }
.btn-outline-secondary:hover { background: #aaa; border-color: #aaa; color: #fff; }

/* ------------------- */
/* Badges */
/* ------------------- */

.badge-secondary { background: #ddd; color: #888; }

/* ------------------- */
/* List Groups */
/* ------------------- */

/* Hover state for lists-groups */
.table-hover tbody tr:hover,
.list-group-hover .list-group-item-action:not(.active):hover {
    background-color: #007bff !important;
}

.table-hover tbody tr:hover,
.list-group-hover .list-group-item-action:not(.active):hover,
.list-group-hover .list-group-item-action:not(.active):hover .text-muted,
.list-group-hover .list-group-item-action:not(.active):hover a:not(.btn):not(.dropdown-item),
.list-group-hover .list-group-item-action:not(.active):hover a.btn-expand {
    color: #fff !important;
}

.tree a.tree-link.active,
.list-group-check-list input:checked + label {
    color: white;
    background-color: #007bff;
}
/* ------------------- */
/* Dropdowns */
/* ------------------- */

.dropdown-menu {
     box-shadow: 2px 2px 7px 0 rgba(100, 100, 100, 0.5);
}

.dropdown-item:hover, 
.dropdown-item:focus {
    color: #fff;
    background-color: #007bff;
}

.dropdown-item-info:hover,
.dropdown-item-info:focus { background: #17a2b8; }

.dropdown-item-warning:hover,
.dropdown-item-warning:focus { background: #ffc107; }

.dropdown-item-success:hover,
.dropdown-item-success:focus { background: #28a745; }

.dropdown-item-danger:hover,
.dropdown-item-danger:focus { background: #dc3545; }

/* ------------------- */
/* Switches */
/* ------------------- */

.switch input:checked + .switch-slider  { 
    color:#FFFFFF; 
    background-color:#007bff; 
    border-color:#007bff;
}

/* ------------------- */
/* Tree */
/* ------------------- */

/* expand / collapse button */
.tree .list-group-item.active > a.toggler,
.tree .list-group-item.active > a.toggler:hover { color: #fff; }

/* ------------------- */
/* Admin Nav */
/* ------------------- */

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
    background-color: #007bff;
}

.navbar-dark hr { border-top: 1px solid rgba(200, 200, 200, 0.1); }

/* ------------------- */
/* Markdown Editor */
/* ------------------- */

.md-textarea::-webkit-scrollbar-thumb:vertical:hover { background-color: #007bff; }

/* ------------------- */
/* Resizable Area */
/* ------------------- */

.resizable-bar.active,
.resizable-bar:hover { background-color: #007bff; }

/* ------------------- */
/* Category Icon */
/* ------------------- */

.list-group-item-action:hover .category-icon { color: white; }
.category-icon { background-color: #aaa; color: white; }