

/* ------------------- */
/* Forms */
/* ------------------- */

.form-control-active {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* ------------------- */
/* Container */
/* ------------------- */

@media (max-width: 1600px) {
    .container { max-width: 1340px; }
}

/* ------------------- */
/* Buttons */
/* ------------------- */

.btn { border-radius: 2px; }
.btn-secondary { background: #f8f8f8; border-color: #ccc; color: #000;  }
.btn-secondary:hover {  background: #f2f2f2; border-color: #aaa; color: #000;  }

/* ------------------- */
/* Badges */
/* ------------------- */


.badge-secondary { background: #ddd; color: #888; }

/* ------------------- */
/* List Groups */
/* ------------------- */

/* Hover state for lists-groups */
.table-hover tbody tr:hover,
.list-group-hover .list-group-item-action:not(.active):hover {
    background-color: #007bff;
}

.table-hover tbody tr:hover,
.list-group-hover .list-group-item-action:not(.active):hover,
.list-group-hover .list-group-item-action:not(.active):hover .text-muted,
.list-group-hover .list-group-item-action:not(.active):hover a:not(.btn),
.list-group-hover .list-group-item-action:not(.active):hover a.btn-expand {
    color: #fff !important;
}

.tree a.tree-link.active,
.list-group-check-list input:checked + label {
    color: white;
    background-color: #007bff;
}
/* ------------------- */
/* Dropdowns */
/* ------------------- */

.dropdown-menu {
     box-shadow: 2px 2px 7px 0 rgba(100, 100, 100, 0.5);
}

.dropdown-item:hover, 
.dropdown-item:focus {
    color: #fff;
    background-color: #007bff;
}

/* ------------------- */
/* Switches */
/* ------------------- */

.switch input:checked + .switch-slider  { 
    color:#FFFFFF; 
    background-color:#007bff; 
    border-color:#007bff;
}

/* ------------------- */
/* Tree */
/* ------------------- */

/* expand / collapse button */
.tree .list-group-item.active > a.toggler,
.tree .list-group-item.active > a.toggler:hover { color: #fff; }

/* ------------------- */
/* Admin Nav */
/* ------------------- */

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
    background-color: #007bff;
}

.navbar-dark hr { border-top: 1px solid rgba(200, 200, 200, 0.1); }
